ZEO/NHibernate/HotfixBranchCode/Zeo/CHNL.CMMN/Peripheral.Installer/Peripheral.Server.Installer.Win7/Peripheral.Service.CustomAction/Service References/DMSService/NpsInstallerWSImpl5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MGI.Channel.DMS.NpsInstallerServer.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MGI.Channel.DMS.NpsInstallerServer.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://10.111.109.16/MGI.Channel.DMS.NpsInstallerServer.Svc.5.0.177/NpsInstallerWSImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="NpsTerminal">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelPartner" nillable="true" type="tns:ChannelPartner" />
      <xs:element minOccurs="0" name="ChannelPartnerId" type="xs:long" />
      <xs:element minOccurs="0" name="DTCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DTLastMod" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeripheralServiceUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NpsTerminal" nillable="true" type="tns:NpsTerminal" />
  <xs:complexType name="ChannelPartner">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChannelPartner" nillable="true" type="tns:ChannelPartner" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelPartnerId" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DTCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DTLastMod" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimezoneID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
</xs:schema>