ZEO/HotfixBranchCode/Zeo/Tests/MGI.Integration.Test/CheckFreeFiles/RealTimeReporting23wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://checkfreepay.com/cfplink23/2009/12/RealTimeReporting23" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://checkfreepay.com/cfplink23/2009/12/RealTimeReporting23" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://checkfreepay.com/cfplink23/2009/12/RealTimeReporting23">
      <s:element name="PingTest">
        <s:complexType />
      </s:element>
      <s:element name="PingTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBillerList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="termInfo" type="tns:TerminalInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TerminalInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClerkID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TerminalID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecureKey" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBillerListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBillerListResult" type="tns:ResponseBillerLookup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseBillerLookup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Bulletin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsumerMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnCodeDetail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnCodeText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillerInfoList" type="tns:ArrayOfBillerInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBillerInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BillerInfo" nillable="true" type="tns:BillerInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillerInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BillerListID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BillerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndustryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IndustryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillChoiceList" type="tns:ArrayOfBillChoice" />
          <s:element minOccurs="1" maxOccurs="1" name="ExtraDataRequired" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBillChoice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BillChoice" nillable="true" type="tns:BillChoice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BillChoice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MSRPFee" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillTypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TenderTypes" type="tns:ArrayOfEnumPaymentTenderTypes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEnumPaymentTenderTypes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EnumPaymentTenderTypes" type="tns:EnumPaymentTenderTypes" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EnumPaymentTenderTypes">
        <s:restriction base="s:string">
          <s:enumeration value="Cash" />
          <s:enumeration value="Debit" />
          <s:enumeration value="Check" />
          <s:enumeration value="CheckPOP" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PingTestSoapIn">
    <wsdl:part name="parameters" element="tns:PingTest" />
  </wsdl:message>
  <wsdl:message name="PingTestSoapOut">
    <wsdl:part name="parameters" element="tns:PingTestResponse" />
  </wsdl:message>
  <wsdl:message name="GetBillerListSoapIn">
    <wsdl:part name="parameters" element="tns:GetBillerList" />
  </wsdl:message>
  <wsdl:message name="GetBillerListSoapOut">
    <wsdl:part name="parameters" element="tns:GetBillerListResponse" />
  </wsdl:message>
  <wsdl:portType name="RealTimeReporting23Soap">
    <wsdl:operation name="PingTest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use this method to verify that the service is reachable. It will return the string: "OK"</wsdl:documentation>
      <wsdl:input message="tns:PingTestSoapIn" />
      <wsdl:output message="tns:PingTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBillerList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a complete list of Billers along with Biller Product Codes</wsdl:documentation>
      <wsdl:input message="tns:GetBillerListSoapIn" />
      <wsdl:output message="tns:GetBillerListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RealTimeReporting23Soap" type="tns:RealTimeReporting23Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PingTest">
      <soap:operation soapAction="http://checkfreepay.com/cfplink23/2009/12/RealTimeReporting23/PingTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillerList">
      <soap:operation soapAction="http://checkfreepay.com/cfplink23/2009/12/RealTimeReporting23/GetBillerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RealTimeReporting23Soap12" type="tns:RealTimeReporting23Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PingTest">
      <soap12:operation soapAction="http://checkfreepay.com/cfplink23/2009/12/RealTimeReporting23/PingTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillerList">
      <soap12:operation soapAction="http://checkfreepay.com/cfplink23/2009/12/RealTimeReporting23/GetBillerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RealTimeReporting23">
    <wsdl:port name="RealTimeReporting23Soap" binding="tns:RealTimeReporting23Soap">
      <soap:address location="http://localhost:1860/RealTimeReporting23.asmx" />
    </wsdl:port>
    <wsdl:port name="RealTimeReporting23Soap12" binding="tns:RealTimeReporting23Soap12">
      <soap12:address location="http://localhost:1860/RealTimeReporting23.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>