ZEO/ADO.NET/LatestDevelop/Zeo/CHNL.CMMN/Peripheral.Installer/Peripheral.Server.Installer.Win7/Peripheral.Service.CustomAction/Service References/DMSService/NpsInstallerWSImpl2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.nexxo.com/NpsInstallerWSImpl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NpsInstallerWSImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.nexxo.com/NpsInstallerWSImpl" location="https://10.111.109.16/MGI.Channel.DMS.NpsInstallerServer.Svc.5.0.177/NpsInstallerWSImpl.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://10.111.109.16/MGI.Channel.DMS.NpsInstallerServer.Svc.5.0.177/NpsInstallerWSImpl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://10.111.109.16/MGI.Channel.DMS.NpsInstallerServer.Svc.5.0.177/NpsInstallerWSImpl.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MGI.Common.Sys" />
      <xsd:import schemaLocation="https://10.111.109.16/MGI.Channel.DMS.NpsInstallerServer.Svc.5.0.177/NpsInstallerWSImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://10.111.109.16/MGI.Channel.DMS.NpsInstallerServer.Svc.5.0.177/NpsInstallerWSImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MGI.Channel.DMS.NpsInstallerServer.Data" />
      <xsd:import schemaLocation="https://10.111.109.16/MGI.Channel.DMS.NpsInstallerServer.Svc.5.0.177/NpsInstallerWSImpl.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INpsInstallerService_CreateTerminal_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTerminal" />
  </wsdl:message>
  <wsdl:message name="INpsInstallerService_CreateTerminal_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTerminalResponse" />
  </wsdl:message>
  <wsdl:message name="INpsInstallerService_CreateTerminal_NexxoSOAPFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/MGI.Common.Sys" name="detail" element="q1:NexxoSOAPFault" />
  </wsdl:message>
  <wsdl:message name="INpsInstallerService_UpdateTerminal_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTerminal" />
  </wsdl:message>
  <wsdl:message name="INpsInstallerService_UpdateTerminal_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTerminalResponse" />
  </wsdl:message>
  <wsdl:message name="INpsInstallerService_UpdateTerminal_NexxoSOAPFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/MGI.Common.Sys" name="detail" element="q2:NexxoSOAPFault" />
  </wsdl:message>
  <wsdl:message name="INpsInstallerService_Locations_InputMessage">
    <wsdl:part name="parameters" element="tns:Locations" />
  </wsdl:message>
  <wsdl:message name="INpsInstallerService_Locations_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocationsResponse" />
  </wsdl:message>
  <wsdl:message name="INpsInstallerService_Locations_NexxoSOAPFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/MGI.Common.Sys" name="detail" element="q3:NexxoSOAPFault" />
  </wsdl:message>
  <wsdl:message name="INpsInstallerService_LookupNpsInstallerTerminalByIpAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:LookupNpsInstallerTerminalByIpAddress" />
  </wsdl:message>
  <wsdl:message name="INpsInstallerService_LookupNpsInstallerTerminalByIpAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:LookupNpsInstallerTerminalByIpAddressResponse" />
  </wsdl:message>
  <wsdl:message name="INpsInstallerService_LookupNpsInstallerTerminalByIpAddress_NexxoSOAPFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/MGI.Common.Sys" name="detail" element="q4:NexxoSOAPFault" />
  </wsdl:message>
  <wsdl:message name="INpsInstallerService_GetAllLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocations" />
  </wsdl:message>
  <wsdl:message name="INpsInstallerService_GetAllLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="INpsInstallerService_GetAllLocations_NexxoSOAPFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/MGI.Common.Sys" name="detail" element="q5:NexxoSOAPFault" />
  </wsdl:message>
  <wsdl:portType name="INpsInstallerService">
    <wsdl:operation name="CreateTerminal">
      <wsdl:input wsaw:Action="http://tempuri.org/INpsInstallerService/CreateTerminal" message="tns:INpsInstallerService_CreateTerminal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INpsInstallerService/CreateTerminalResponse" message="tns:INpsInstallerService_CreateTerminal_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/INpsInstallerService/CreateTerminalNexxoSOAPFaultFault" name="NexxoSOAPFaultFault" message="tns:INpsInstallerService_CreateTerminal_NexxoSOAPFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTerminal">
      <wsdl:input wsaw:Action="http://tempuri.org/INpsInstallerService/UpdateTerminal" message="tns:INpsInstallerService_UpdateTerminal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INpsInstallerService/UpdateTerminalResponse" message="tns:INpsInstallerService_UpdateTerminal_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/INpsInstallerService/UpdateTerminalNexxoSOAPFaultFault" name="NexxoSOAPFaultFault" message="tns:INpsInstallerService_UpdateTerminal_NexxoSOAPFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Locations">
      <wsdl:input wsaw:Action="http://tempuri.org/INpsInstallerService/Locations" message="tns:INpsInstallerService_Locations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INpsInstallerService/LocationsResponse" message="tns:INpsInstallerService_Locations_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/INpsInstallerService/LocationsNexxoSOAPFaultFault" name="NexxoSOAPFaultFault" message="tns:INpsInstallerService_Locations_NexxoSOAPFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LookupNpsInstallerTerminalByIpAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/INpsInstallerService/LookupNpsInstallerTerminalByIpAddress" message="tns:INpsInstallerService_LookupNpsInstallerTerminalByIpAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INpsInstallerService/LookupNpsInstallerTerminalByIpAddressResponse" message="tns:INpsInstallerService_LookupNpsInstallerTerminalByIpAddress_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/INpsInstallerService/LookupNpsInstallerTerminalByIpAddressNexxoSOAPFaultFault" name="NexxoSOAPFaultFault" message="tns:INpsInstallerService_LookupNpsInstallerTerminalByIpAddress_NexxoSOAPFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/INpsInstallerService/GetAllLocations" message="tns:INpsInstallerService_GetAllLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INpsInstallerService/GetAllLocationsResponse" message="tns:INpsInstallerService_GetAllLocations_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/INpsInstallerService/GetAllLocationsNexxoSOAPFaultFault" name="NexxoSOAPFaultFault" message="tns:INpsInstallerService_GetAllLocations_NexxoSOAPFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="NpsInstallerWSImpl">
    <wsdl:port name="WSHttpBinding_INpsInstallerService" binding="i0:WSHttpBinding_INpsInstallerService">
      <soap12:address location="https://10.111.109.16/MGI.Channel.DMS.NpsInstallerServer.Svc.5.0.177/NpsInstallerWSImpl.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://10.111.109.16/MGI.Channel.DMS.NpsInstallerServer.Svc.5.0.177/NpsInstallerWSImpl.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>