ZEO/NHibernate/HotfixBranchCode/Zeo/CXN.Monitor/MGI.Common.Monitor/Service References/DMSService/DesktopWSImpl6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MGI.Channel.Shared.Server.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MGI.Channel.Shared.Server.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51942/DesktopWSImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51942/DesktopWSImpl.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MGI.Common.Util" />
  <xs:import schemaLocation="http://localhost:51942/DesktopWSImpl.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="CIN" type="xs:long" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employment" nillable="true" type="tns:Employment" />
      <xs:element minOccurs="0" name="Fund" nillable="true" type="tns:Fund" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="tns:Identification" />
      <xs:element minOccurs="0" name="IsAnonymous" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWUGoldCard" type="xs:boolean" />
      <xs:element minOccurs="0" name="MailingAddress" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="MailingAddressDifferent" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonalInformation" nillable="true" type="tns:PersonalInformation" />
      <xs:element minOccurs="0" name="Phone1" nillable="true" type="tns:Phone" />
      <xs:element minOccurs="0" name="Phone2" nillable="true" type="tns:Phone" />
      <xs:element minOccurs="0" name="Preferences" nillable="true" type="tns:Preferences" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="Employment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Employer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployerPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employment" nillable="true" type="tns:Employment" />
  <xs:complexType name="Fund">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsGPRCard" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fund" nillable="true" type="tns:Fund" />
  <xs:complexType name="Identification">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GovernmentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Identification" nillable="true" type="tns:Identification" />
  <xs:complexType name="PersonalInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LName2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MothersMaidenName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalInformation" nillable="true" type="tns:PersonalInformation" />
  <xs:complexType name="Phone">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phone" nillable="true" type="tns:Phone" />
  <xs:complexType name="Preferences">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoNotCall" type="xs:boolean" />
      <xs:element minOccurs="0" name="MarketingSMSEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReceiptLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMSEnabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Preferences" nillable="true" type="tns:Preferences" />
  <xs:complexType name="Prospect">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelPartnerId" type="ser:guid" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MGI.Common.Util" minOccurs="0" name="ClientProfileStatus" type="q1:ProfileStatus" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MGI.Common.Util" minOccurs="0" name="CustomerScreen" type="q2:CustomerScreen" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoNotCall" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployerPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Groups" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="tns:Identification" />
      <xs:element minOccurs="0" name="IsAccountHolder" type="xs:boolean" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LName2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailingAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailingAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailingAddressDifferent" type="xs:boolean" />
      <xs:element minOccurs="0" name="MailingCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailingState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailingZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoMaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone1Provider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone1Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone2Provider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone2Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryCountryCitizenShip" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MGI.Common.Util" minOccurs="0" name="ProfileStatus" type="q4:ProfileStatus" />
      <xs:element minOccurs="0" name="ProgramId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferralCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelationshipAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryCountryCitizenShip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextMsgOptIn" type="xs:boolean" />
      <xs:element minOccurs="0" name="WUGoldCardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WUSMSNotification" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prospect" nillable="true" type="tns:Prospect" />
  <xs:complexType name="CustomerAuthentication">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlloyID" type="xs:long" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PINBlock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Track2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerAuthentication" nillable="true" type="tns:CustomerAuthentication" />
  <xs:complexType name="CustomerSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardPresent" type="xs:boolean" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="CustomerSessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimezoneID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipsAndOffers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isNewCustomer" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerSession" nillable="true" type="tns:CustomerSession" />
  <xs:complexType name="ArrayOfProspect">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prospect" nillable="true" type="tns:Prospect" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProspect" nillable="true" type="tns:ArrayOfProspect" />
  <xs:complexType name="Check">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeclineCode" type="xs:int" />
      <xs:element minOccurs="0" name="DiscountApplied" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DmsStatusMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsHardDeclined" type="xs:boolean" />
      <xs:element minOccurs="0" name="SelectedFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="SelectedType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubmissionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidatedFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValidatedType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Check" nillable="true" type="tns:Check" />
  <xs:complexType name="TransactionFee">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountApplied" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSystemApplied" type="xs:boolean" />
      <xs:element minOccurs="0" name="NetFee" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionFee" nillable="true" type="tns:TransactionFee" />
  <xs:complexType name="CheckLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckLogin" nillable="true" type="tns:CheckLogin" />
  <xs:complexType name="ShoppingCart">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentSessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlloyID" type="xs:long" />
      <xs:element minOccurs="0" name="AppId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Bills" nillable="true" type="tns:ArrayOfBill" />
      <xs:element minOccurs="0" name="Cash" nillable="true" type="tns:ArrayOfCartCash" />
      <xs:element minOccurs="0" name="CashInTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="CheckTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Checks" nillable="true" type="tns:ArrayOfCheck" />
      <xs:element minOccurs="0" name="CustomerSessionId" type="xs:long" />
      <xs:element minOccurs="0" name="DepletingAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DepletingFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="DepletingTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="GenerateAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="GenerateFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="GenerateTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="GprCardTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="GprCards" nillable="true" type="tns:ArrayOfGprCard" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsReferral" type="xs:boolean" />
      <xs:element minOccurs="0" name="KioskId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoneyOrderTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="MoneyOrders" nillable="true" type="tns:ArrayOfMoneyOrder" />
      <xs:element minOccurs="0" name="MoneyTransfeTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="MoneyTransfers" nillable="true" type="tns:ArrayOfMoneyTransfer" />
      <xs:element minOccurs="0" name="SubTotalFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalDueToCustomer" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCart" nillable="true" type="tns:ShoppingCart" />
  <xs:complexType name="ArrayOfBill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bill" nillable="true" type="tns:Bill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBill" nillable="true" type="tns:ArrayOfBill" />
  <xs:complexType name="Bill">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcceptedFee" type="xs:boolean" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentID" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillerId" type="xs:long" />
      <xs:element minOccurs="0" name="BillerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillerZip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerDOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerZip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryAuth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryAuth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bill" nillable="true" type="tns:Bill" />
  <xs:complexType name="ArrayOfCartCash">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartCash" nillable="true" type="tns:CartCash" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartCash" nillable="true" type="tns:ArrayOfCartCash" />
  <xs:complexType name="CartCash">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CashType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartCash" nillable="true" type="tns:CartCash" />
  <xs:complexType name="ArrayOfCheck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Check" nillable="true" type="tns:Check" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheck" nillable="true" type="tns:ArrayOfCheck" />
  <xs:complexType name="ArrayOfGprCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GprCard" nillable="true" type="tns:GprCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGprCard" nillable="true" type="tns:ArrayOfGprCard" />
  <xs:complexType name="GprCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActivationFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountApplied" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InitialLoadAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ItemType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoadAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoadFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="NetFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="WithdrawAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="WithdrawFee" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GprCard" nillable="true" type="tns:GprCard" />
  <xs:complexType name="ArrayOfMoneyOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MoneyOrder" nillable="true" type="tns:MoneyOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMoneyOrder" nillable="true" type="tns:ArrayOfMoneyOrder" />
  <xs:complexType name="MoneyOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="CheckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountApplied" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RoutingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoneyOrder" nillable="true" type="tns:MoneyOrder" />
  <xs:complexType name="ArrayOfMoneyTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MoneyTransfer" nillable="true" type="tns:MoneyTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMoneyTransfer" nillable="true" type="tns:ArrayOfMoneyTransfer" />
  <xs:complexType name="MoneyTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcceptedFee" type="xs:boolean" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConfirmationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DestinationCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MetaData" nillable="true" type="q5:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="MoneyTransferTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="OriginalTransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="OtherFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="OtherTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="PickupLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupOptions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverId" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiverLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderSecondLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="SourceCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionSubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransferType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoneyTransfer" nillable="true" type="tns:MoneyTransfer" />
  <xs:simpleType name="ShoppingCartCheckoutStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InitialCheckout">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CashOverCounter">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CashCollected">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FinalCheckout">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Completed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MOPrinting">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ShoppingCartCheckoutStatus" nillable="true" type="tns:ShoppingCartCheckoutStatus" />
  <xs:complexType name="Receipts">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="receiptType" nillable="true" type="q6:ArrayOfstring" />
      <xs:element minOccurs="0" name="receipts" nillable="true" type="tns:ArrayOfReceipt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Receipts" nillable="true" type="tns:Receipts" />
  <xs:complexType name="ArrayOfReceipt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Receipt" nillable="true" type="tns:Receipt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceipt" nillable="true" type="tns:ArrayOfReceipt" />
  <xs:complexType name="Receipt">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Lines" nillable="true" type="q7:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Receipt" nillable="true" type="tns:Receipt" />
  <xs:complexType name="ArrayOfParkedTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParkedTransaction" nillable="true" type="tns:ParkedTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParkedTransaction" nillable="true" type="tns:ArrayOfParkedTransaction" />
  <xs:complexType name="ParkedTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerSessionId" type="xs:long" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParkedTransaction" nillable="true" type="tns:ParkedTransaction" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillerDisclosure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillerNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CatalogIndex" type="xs:int" />
      <xs:element minOccurs="0" name="ChannelPartnerID" type="xs:short" />
      <xs:element minOccurs="0" name="DataPrompt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtraDataRequired" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fee" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LocationRegionId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="LogoURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaximumLoad" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MinimumLoad" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProcessorID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" type="xs:int" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="BillPayLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillerLocation" nillable="true" type="tns:ArrayOfBillerLocation" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillPayLocation" nillable="true" type="tns:BillPayLocation" />
  <xs:complexType name="ArrayOfBillerLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillerLocation" nillable="true" type="tns:BillerLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillerLocation" nillable="true" type="tns:ArrayOfBillerLocation" />
  <xs:complexType name="BillerLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillerLocation" nillable="true" type="tns:BillerLocation" />
  <xs:complexType name="BillFee">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountHolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvailableBalance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryMethods" nillable="true" type="tns:ArrayOfDeliveryMethod" />
      <xs:element minOccurs="0" name="SessionCookie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillFee" nillable="true" type="tns:BillFee" />
  <xs:complexType name="ArrayOfDeliveryMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryMethod" nillable="true" type="tns:DeliveryMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryMethod" nillable="true" type="tns:ArrayOfDeliveryMethod" />
  <xs:complexType name="DeliveryMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tax" type="xs:decimal" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryMethod" nillable="true" type="tns:DeliveryMethod" />
  <xs:complexType name="BillerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillerCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillerState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryOption" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Denominations" nillable="true" type="q8:ArrayOfdecimal" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillerInfo" nillable="true" type="tns:BillerInfo" />
  <xs:complexType name="ArrayOfField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" nillable="true" type="tns:Field" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfField" nillable="true" type="tns:ArrayOfField" />
  <xs:complexType name="Field">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDynamic" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMandatory" type="xs:boolean" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxLength" type="xs:long" />
      <xs:element minOccurs="0" name="RegularExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidationMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q9:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Field" nillable="true" type="tns:Field" />
  <xs:complexType name="FavoriteBiller">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelPartnerId" type="xs:int" />
      <xs:element minOccurs="0" name="LastTransactionAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastTransactionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProviderId" type="xs:int" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FavoriteBiller" nillable="true" type="tns:FavoriteBiller" />
  <xs:complexType name="BillPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillerId" type="xs:long" />
      <xs:element minOccurs="0" name="BillerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CouponCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MetaData" nillable="true" type="q10:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="PaymentAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillPayment" nillable="true" type="tns:BillPayment" />
  <xs:complexType name="CardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPointsEarned" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardInfo" nillable="true" type="tns:CardInfo" />
  <xs:complexType name="ArrayOfReceiver">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Receiver" nillable="true" type="tns:Receiver" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiver" nillable="true" type="tns:ArrayOfReceiver" />
  <xs:complexType name="Receiver">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryOption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsReceiverHasPhotoId" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupState_Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State_Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Receiver" nillable="true" type="tns:Receiver" />
  <xs:complexType name="FeeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:long" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeliveryService" nillable="true" type="tns:DeliveryService" />
      <xs:element minOccurs="0" name="FeeRequestType" type="tns:FeeRequestType" />
      <xs:element minOccurs="0" name="IsDomesticTransfer" type="xs:boolean" />
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MetaData" nillable="true" type="q11:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="PersonalMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveAgentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiveCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveCountryCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverId" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiverLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverSecondLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeeRequest" nillable="true" type="tns:FeeRequest" />
  <xs:complexType name="DeliveryService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryService" nillable="true" type="tns:DeliveryService" />
  <xs:simpleType name="FeeRequestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AmountExcludingFee" />
      <xs:enumeration value="AmountIncludingFee" />
      <xs:enumeration value="ReceiveAmount" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FeeRequestType" nillable="true" type="tns:FeeRequestType" />
  <xs:complexType name="FeeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="FeeInformations" nillable="true" type="tns:ArrayOfFeeInformation" />
      <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MetaData" nillable="true" type="q12:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeeResponse" nillable="true" type="tns:FeeResponse" />
  <xs:complexType name="ArrayOfFeeInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeeInformation" nillable="true" type="tns:FeeInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeeInformation" nillable="true" type="tns:ArrayOfFeeInformation" />
  <xs:complexType name="FeeInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeliveryService" nillable="true" type="tns:DeliveryService" />
      <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="MessageFee" type="xs:decimal" />
      <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MetaData" nillable="true" type="q13:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="OtherFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="OtherTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiveAgentAbbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveAgentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveAgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiveCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tax" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeeInformation" nillable="true" type="tns:FeeInformation" />
  <xs:complexType name="ValidateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeliveryService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FieldValues" nillable="true" type="q14:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="IdentificationAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificationQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageFee" type="xs:decimal" />
      <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MetaData" nillable="true" type="q15:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="OtherFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="PersonalMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverId" type="xs:long" />
      <xs:element minOccurs="0" name="ReceiverLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverSecondLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tax" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="TransferType" type="tns:TransferType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateRequest" nillable="true" type="tns:ValidateRequest" />
  <xs:simpleType name="TransferType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SendMoney">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RecieveMoney">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Refund">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransferType" nillable="true" type="tns:TransferType" />
  <xs:complexType name="ValidateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasLPMTError" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateResponse" nillable="true" type="tns:ValidateResponse" />
  <xs:complexType name="ReceiveMoneyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmationNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiveMoneyRequest" nillable="true" type="tns:ReceiveMoneyRequest" />
  <xs:complexType name="MoneyTransferTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="AmountToReceiver" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConfirmationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DTAvailableForPickup" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeliveryServiceDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationPrincipalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DestinationState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExpectedPayoutStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="GrossTotalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsDomesticTransfer" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsModifiedOrRefunded" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoyaltyCardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoyaltyCardPoints" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MetaData" nillable="true" type="q16:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="OriginalTransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="OriginatingCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginatingCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PromotionsCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderId" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiveAgentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receiver" nillable="true" type="tns:Receiver" />
      <xs:element minOccurs="0" name="ReceiverAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverCountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverSecondLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverStateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TestAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionSubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferTax" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoneyTransferTransaction" nillable="true" type="tns:MoneyTransferTransaction" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LevelCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoyaltyCardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SmsNotificationFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="XferPaymentDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeliveryMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryOption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryOptionDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryServiceDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationPrincipalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DestinationState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExpectedPayoutCityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpectedPayoutLocCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpectedPayoutStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsDomesticTransfer" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFixedOnSend" type="xs:boolean" />
      <xs:element minOccurs="0" name="MessageCharge" type="xs:decimal" />
      <xs:element minOccurs="0" name="OriginatingCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginatingCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginatorsPrincipalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="OtherFees" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaymentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalMessages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProceedWithLPMTError" type="xs:boolean" />
      <xs:element minOccurs="0" name="PromoCodeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PromotionError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionsCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverSecondLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordingcountrycurrencyCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordingcountrycurrencyCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestQuestionAvailable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranascationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="TransferTax" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XferPaymentDetails" nillable="true" type="tns:XferPaymentDetails" />
  <xs:complexType name="CardDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CounterId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForiegnRefNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForiegnSystemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paymentDetails" nillable="true" type="tns:PaymentDetails" />
      <xs:element minOccurs="0" name="sender" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardDetails" nillable="true" type="tns:CardDetails" />
  <xs:complexType name="PaymentDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exchange_Rate" type="xs:double" />
      <xs:element minOccurs="0" name="IsFixedOnSend" type="xs:boolean" />
      <xs:element minOccurs="0" name="Originating_city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Originating_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payment_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payment_typeSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="Transaction_TypeSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="destination_country_currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="duplicate_detection_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expectedPayoutLoc_City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expectedPayoutLoc_StateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="originating_country_currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recording_country_currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transaction_type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentDetails" nillable="true" type="tns:PaymentDetails" />
  <xs:complexType name="CardLookupDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CounterId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForiegnRefNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForiegnSystemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="tns:ArrayOfAccount" />
      <xs:element minOccurs="0" name="countrycode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currencycode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="levelcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="midname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="originalcardtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postalcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardLookupDetails" nillable="true" type="tns:CardLookupDetails" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="ArrayOfWUCustomerGoldCardResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WUCustomerGoldCardResult" nillable="true" type="tns:WUCustomerGoldCardResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWUCustomerGoldCardResult" nillable="true" type="tns:ArrayOfWUCustomerGoldCardResult" />
  <xs:complexType name="WUCustomerGoldCardResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WUGoldCardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WUCustomerGoldCardResult" nillable="true" type="tns:WUCustomerGoldCardResult" />
  <xs:complexType name="DeliveryServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCurrency" nillable="true" type="xs:string" />
      <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MetaData" nillable="true" type="q17:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="Type" type="tns:DeliveryServiceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryServiceRequest" nillable="true" type="tns:DeliveryServiceRequest" />
  <xs:simpleType name="DeliveryServiceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Method" />
      <xs:enumeration value="Option" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DeliveryServiceType" nillable="true" type="tns:DeliveryServiceType" />
  <xs:complexType name="ArrayOfDeliveryService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryService" nillable="true" type="tns:DeliveryService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryService" nillable="true" type="tns:ArrayOfDeliveryService" />
  <xs:complexType name="AttributeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeliveryService" nillable="true" type="tns:DeliveryService" />
      <xs:element minOccurs="0" name="ReceiveAgentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferType" type="tns:TransferType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributeRequest" nillable="true" type="tns:AttributeRequest" />
  <xs:complexType name="RefundSendMoneyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeRefund" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefundStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RefundSendMoneyRequest" nillable="true" type="tns:RefundSendMoneyRequest" />
  <xs:complexType name="SendMoneySearchRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchRequestType" type="tns:SearchRequestType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendMoneySearchRequest" nillable="true" type="tns:SendMoneySearchRequest" />
  <xs:simpleType name="SearchRequestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Modify" />
      <xs:enumeration value="Refund" />
      <xs:enumeration value="RefundWithStage" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SearchRequestType" nillable="true" type="tns:SearchRequestType" />
  <xs:complexType name="SendMoneySearchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeRefund" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefundStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestQuestionAvailable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendMoneySearchResponse" nillable="true" type="tns:SendMoneySearchResponse" />
  <xs:complexType name="ModifySendMoneyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancelTransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="ConfirmationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifyTransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="SecondLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestQuestionAvailable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransferTax" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModifySendMoneyRequest" nillable="true" type="tns:ModifySendMoneyRequest" />
  <xs:complexType name="ModifySendMoneyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancelTransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="ModifyTransactionId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModifySendMoneyResponse" nillable="true" type="tns:ModifySendMoneyResponse" />
  <xs:complexType name="ArrayOfXferMasterData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="XferMasterData" nillable="true" type="tns:XferMasterData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfXferMasterData" nillable="true" type="tns:ArrayOfXferMasterData" />
  <xs:complexType name="XferMasterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XferMasterData" nillable="true" type="tns:XferMasterData" />
  <xs:complexType name="ReasonRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReasonRequest" nillable="true" type="tns:ReasonRequest" />
  <xs:complexType name="ArrayOfMoneyTransferReason">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MoneyTransferReason" nillable="true" type="tns:MoneyTransferReason" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMoneyTransferReason" nillable="true" type="tns:ArrayOfMoneyTransferReason" />
  <xs:complexType name="MoneyTransferReason">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoneyTransferReason" nillable="true" type="tns:MoneyTransferReason" />
  <xs:complexType name="FundsProcessorAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FraudScore" type="xs:int" />
      <xs:element minOccurs="0" name="ProxyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PseudoDDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resolution" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FundsProcessorAccount" nillable="true" type="tns:FundsProcessorAccount" />
  <xs:complexType name="Funds">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Funds" nillable="true" type="tns:Funds" />
  <xs:simpleType name="FundType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Debit" />
      <xs:enumeration value="Credit" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FundType" nillable="true" type="tns:FundType" />
  <xs:complexType name="ArrayOfReceiptData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiptData" nillable="true" type="tns:ReceiptData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiptData" nillable="true" type="tns:ArrayOfReceiptData" />
  <xs:complexType name="ReceiptData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfCopies" type="xs:int" />
      <xs:element minOccurs="0" name="PrintData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptData" nillable="true" type="tns:ReceiptData" />
</xs:schema>