ZEO/NHibernate/HotfixBranchCode/Zeo/CXN.Monitor/MGI.Common.Monitor/Service References/DMSService/DesktopWSImpl4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MGI.Common.Util" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MGI.Common.Util" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51942/DesktopWSImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="ProfileStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Inactive">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Closed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProfileStatus" nillable="true" type="tns:ProfileStatus" />
  <xs:simpleType name="CustomerScreen">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PersonalInfo" />
      <xs:enumeration value="Identification" />
      <xs:enumeration value="Employment" />
      <xs:enumeration value="PinDetails" />
      <xs:enumeration value="ProfileSummary" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CustomerScreen" nillable="true" type="tns:CustomerScreen" />
  <xs:simpleType name="CheckEntryTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ScanWithImage">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ScanWithoutImage">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Manual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CheckEntryTypes" nillable="true" type="tns:CheckEntryTypes" />
</xs:schema>