ZEO/ADO.NET/LatestDevelop/Zeo/CXN.Funds/Nexxo.Cxn.Fund.TSys/Service References/TSysAccountSvc/account.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.tsysprepaid.com/account/wsdl" xmlns:type="http://api.tsysprepaid.com/account/type" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:account="http://api.tsysprepaid.com/account" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.tsysprepaid.com/account/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="http://api.tsysprepaid.com/account/type">
      <xsd:import schemaLocation="https://uat-api-4.tsysprepaid.com/api/account?xsd=account.xsd" namespace="http://api.tsysprepaid.com/account" />
      <xsd:element name="createAccount" type="account:createAccountRequest" />
      <xsd:element name="createAccountResponse" type="account:createAccountResponse" />
      <xsd:element name="closeAccount" type="account:closeAccountRequest" />
      <xsd:element name="closeAccountResponse" type="account:closeAccountResponse" />
      <xsd:element name="createSpan" type="account:createSpanRequest" />
      <xsd:element name="createSpanResponse" type="account:createSpanResponse" />
      <xsd:element name="getSpan" type="account:getSpanRequest" />
      <xsd:element name="getSpanResponse" type="account:getSpanResponse" />
      <xsd:element name="getSpanID" type="account:getSpanIDRequest" />
      <xsd:element name="getSpanIDResponse" type="account:getSpanIDResponse" />
      <xsd:element name="getAccount" type="account:getAccountRequest" />
      <xsd:element name="getAccountResponse" type="account:getAccountResponse" />
      <xsd:element name="getUserAccounts" type="account:getUserAccountsRequest" />
      <xsd:element name="getUserAccountsResponse" type="account:getUserAccountsResponse" />
      <xsd:element name="getCardAccounts" type="account:getCardAccountsRequest" />
      <xsd:element name="getCardAccountsResponse" type="account:getCardAccountsResponse" />
      <xsd:element name="updateAccountSpan" type="account:updateAccountSpanRequest" />
      <xsd:element name="updateAccountSpanResponse" type="account:updateAccountSpanResponse" />
      <xsd:element name="updateSpan" type="account:updateSpanRequest" />
      <xsd:element name="updateSpanResponse" type="account:updateSpanResponse" />
      <xsd:element name="getAccountReferenceNumber" type="account:getAccountReferenceNumberRequest" />
      <xsd:element name="getAccountReferenceNumberResponse" type="account:getAccountReferenceNumberResponse" />
      <xsd:element name="getAccountReferenceNumberList" type="account:getAccountReferenceNumberListRequest" />
      <xsd:element name="getAccountReferenceNumberListResponse" type="account:getAccountReferenceNumberListResponse" />
      <xsd:element name="createAccountReferenceNumber" type="account:createAccountReferenceNumberRequest" />
      <xsd:element name="createAccountReferenceNumberResponse" type="account:createAccountReferenceNumberResponse" />
      <xsd:element name="updateStatementPreference" type="account:updateStatementPreferenceRequest" />
      <xsd:element name="updateStatementPreferenceResponse" type="account:updateStatementPreferenceResponse" />
      <xsd:element name="searchStatement" type="account:searchStatementRequest" />
      <xsd:element name="searchStatementResponse" type="account:searchStatementResponse" />
      <xsd:element name="requestOneTimeStatement" type="account:requestOneTimeStatementRequest" />
      <xsd:element name="requestOneTimeStatementResponse" type="account:requestOneTimeStatementResponse" />
      <xsd:element name="updateAccountFraudLevel" type="account:updateAccountFraudLevelRequest" />
      <xsd:element name="updateAccountFraudLevelResponse" type="account:updateAccountFraudLevelResponse" />
      <xsd:element name="createAccountException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:createAccountError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="closeAccountException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:closeAccountError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSpanException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:createSpanError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSpanException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:getSpanError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSpanIDException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:getSpanIDError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:getAccountError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserAccountsException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:getUserAccountsError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCardAccountsException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:getCardAccountsError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAccountSpanException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:updateAccountSpanError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSpanException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:updateSpanError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountReferenceNumberException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:getAccountReferenceNumberError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountReferenceNumberListException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:getAccountReferenceNumberListError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createAccountReferenceNumberException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:createAccountReferenceNumberError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchStatementException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:searchStatementError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="requestOneTimeStatementException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:requestOneTimeStatementError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateStatementPreferenceException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:updateStatementPreferenceError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAccountFraudLevelException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="account:updateAccountFraudLevelError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="closeAccount">
    <part name="parameters" element="type:closeAccount" />
  </message>
  <message name="requestOneTimeStatementException">
    <part name="error" element="type:requestOneTimeStatementException" />
  </message>
  <message name="createAccountException">
    <part name="error" element="type:createAccountException" />
  </message>
  <message name="getSpanIDResponse">
    <part name="parameters" element="type:getSpanIDResponse" />
  </message>
  <message name="updateAccountSpan">
    <part name="parameters" element="type:updateAccountSpan" />
  </message>
  <message name="updateAccountFraudLevel">
    <part name="parameters" element="type:updateAccountFraudLevel" />
  </message>
  <message name="updateAccountFraudLevelResponse">
    <part name="parameters" element="type:updateAccountFraudLevelResponse" />
  </message>
  <message name="createAccount">
    <part name="parameters" element="type:createAccount" />
  </message>
  <message name="updateSpanResponse">
    <part name="parameters" element="type:updateSpanResponse" />
  </message>
  <message name="requestOneTimeStatement">
    <part name="parameters" element="type:requestOneTimeStatement" />
  </message>
  <message name="getSpan">
    <part name="parameters" element="type:getSpan" />
  </message>
  <message name="updateStatementPreferenceResponse">
    <part name="parameters" element="type:updateStatementPreferenceResponse" />
  </message>
  <message name="getSpanException">
    <part name="error" element="type:getSpanException" />
  </message>
  <message name="createSpan">
    <part name="parameters" element="type:createSpan" />
  </message>
  <message name="createAccountReferenceNumberResponse">
    <part name="parameters" element="type:createAccountReferenceNumberResponse" />
  </message>
  <message name="getAccountReferenceNumberListResponse">
    <part name="parameters" element="type:getAccountReferenceNumberListResponse" />
  </message>
  <message name="createAccountReferenceNumberException">
    <part name="error" element="type:createAccountReferenceNumberException" />
  </message>
  <message name="getCardAccounts">
    <part name="parameters" element="type:getCardAccounts" />
  </message>
  <message name="getUserAccountsException">
    <part name="error" element="type:getUserAccountsException" />
  </message>
  <message name="getSpanIDException">
    <part name="error" element="type:getSpanIDException" />
  </message>
  <message name="getAccountReferenceNumberList">
    <part name="parameters" element="type:getAccountReferenceNumberList" />
  </message>
  <message name="getAccountReferenceNumberResponse">
    <part name="parameters" element="type:getAccountReferenceNumberResponse" />
  </message>
  <message name="updateSpanException">
    <part name="error" element="type:updateSpanException" />
  </message>
  <message name="createSpanResponse">
    <part name="parameters" element="type:createSpanResponse" />
  </message>
  <message name="closeAccountException">
    <part name="error" element="type:closeAccountException" />
  </message>
  <message name="requestOneTimeStatementResponse">
    <part name="parameters" element="type:requestOneTimeStatementResponse" />
  </message>
  <message name="updateAccountFraudLevelException">
    <part name="error" element="type:updateAccountFraudLevelException" />
  </message>
  <message name="getAccountResponse">
    <part name="parameters" element="type:getAccountResponse" />
  </message>
  <message name="searchStatementResponse">
    <part name="parameters" element="type:searchStatementResponse" />
  </message>
  <message name="getSpanResponse">
    <part name="parameters" element="type:getSpanResponse" />
  </message>
  <message name="getCardAccountsResponse">
    <part name="parameters" element="type:getCardAccountsResponse" />
  </message>
  <message name="getCardAccountsException">
    <part name="error" element="type:getCardAccountsException" />
  </message>
  <message name="updateAccountSpanResponse">
    <part name="parameters" element="type:updateAccountSpanResponse" />
  </message>
  <message name="createAccountReferenceNumber">
    <part name="parameters" element="type:createAccountReferenceNumber" />
  </message>
  <message name="getAccountReferenceNumberException">
    <part name="error" element="type:getAccountReferenceNumberException" />
  </message>
  <message name="getAccount">
    <part name="parameters" element="type:getAccount" />
  </message>
  <message name="createAccountResponse">
    <part name="parameters" element="type:createAccountResponse" />
  </message>
  <message name="getAccountReferenceNumberListException">
    <part name="error" element="type:getAccountReferenceNumberListException" />
  </message>
  <message name="searchStatementException">
    <part name="error" element="type:searchStatementException" />
  </message>
  <message name="getAccountReferenceNumber">
    <part name="parameters" element="type:getAccountReferenceNumber" />
  </message>
  <message name="updateAccountSpanException">
    <part name="error" element="type:updateAccountSpanException" />
  </message>
  <message name="closeAccountResponse">
    <part name="parameters" element="type:closeAccountResponse" />
  </message>
  <message name="updateStatementPreference">
    <part name="parameters" element="type:updateStatementPreference" />
  </message>
  <message name="searchStatement">
    <part name="parameters" element="type:searchStatement" />
  </message>
  <message name="getUserAccounts">
    <part name="parameters" element="type:getUserAccounts" />
  </message>
  <message name="updateStatementPreferenceException">
    <part name="error" element="type:updateStatementPreferenceException" />
  </message>
  <message name="getUserAccountsResponse">
    <part name="parameters" element="type:getUserAccountsResponse" />
  </message>
  <message name="getSpanID">
    <part name="parameters" element="type:getSpanID" />
  </message>
  <message name="createSpanException">
    <part name="error" element="type:createSpanException" />
  </message>
  <message name="getAccountException">
    <part name="error" element="type:getAccountException" />
  </message>
  <message name="updateSpan">
    <part name="parameters" element="type:updateSpan" />
  </message>
  <portType name="accountService">
    <operation name="createAccount">
      <input message="tns:createAccount" />
      <output message="tns:createAccountResponse" />
      <fault name="createAccountException" message="tns:createAccountException" />
    </operation>
    <operation name="closeAccount">
      <input message="tns:closeAccount" />
      <output message="tns:closeAccountResponse" />
      <fault name="closeAccountException" message="tns:closeAccountException" />
    </operation>
    <operation name="createSpan">
      <input message="tns:createSpan" />
      <output message="tns:createSpanResponse" />
      <fault name="createSpanException" message="tns:createSpanException" />
    </operation>
    <operation name="getSpan">
      <input message="tns:getSpan" />
      <output message="tns:getSpanResponse" />
      <fault name="getSpanException" message="tns:getSpanException" />
    </operation>
    <operation name="getSpanID">
      <input message="tns:getSpanID" />
      <output message="tns:getSpanIDResponse" />
      <fault name="getSpanIDException" message="tns:getSpanIDException" />
    </operation>
    <operation name="getAccount">
      <input message="tns:getAccount" />
      <output message="tns:getAccountResponse" />
      <fault name="getAccountException" message="tns:getAccountException" />
    </operation>
    <operation name="getUserAccounts">
      <input message="tns:getUserAccounts" />
      <output message="tns:getUserAccountsResponse" />
      <fault name="getUserAccountsException" message="tns:getUserAccountsException" />
    </operation>
    <operation name="getCardAccounts">
      <input message="tns:getCardAccounts" />
      <output message="tns:getCardAccountsResponse" />
      <fault name="getCardAccountsException" message="tns:getCardAccountsException" />
    </operation>
    <operation name="updateAccountSpan">
      <input message="tns:updateAccountSpan" />
      <output message="tns:updateAccountSpanResponse" />
      <fault name="updateAccountSpanException" message="tns:updateAccountSpanException" />
    </operation>
    <operation name="updateSpan">
      <input message="tns:updateSpan" />
      <output message="tns:updateSpanResponse" />
      <fault name="updateSpanException" message="tns:updateSpanException" />
    </operation>
    <operation name="getAccountReferenceNumber">
      <input message="tns:getAccountReferenceNumber" />
      <output message="tns:getAccountReferenceNumberResponse" />
      <fault name="getAccountReferenceNumberException" message="tns:getAccountReferenceNumberException" />
    </operation>
    <operation name="getAccountReferenceNumberList">
      <input message="tns:getAccountReferenceNumberList" />
      <output message="tns:getAccountReferenceNumberListResponse" />
      <fault name="getAccountReferenceNumberListException" message="tns:getAccountReferenceNumberListException" />
    </operation>
    <operation name="createAccountReferenceNumber">
      <input message="tns:createAccountReferenceNumber" />
      <output message="tns:createAccountReferenceNumberResponse" />
      <fault name="createAccountReferenceNumberException" message="tns:createAccountReferenceNumberException" />
    </operation>
    <operation name="updateStatementPreference">
      <input message="tns:updateStatementPreference" />
      <output message="tns:updateStatementPreferenceResponse" />
      <fault name="updateStatementPreferenceException" message="tns:updateStatementPreferenceException" />
    </operation>
    <operation name="searchStatement">
      <input message="tns:searchStatement" />
      <output message="tns:searchStatementResponse" />
      <fault name="searchStatementException" message="tns:searchStatementException" />
    </operation>
    <operation name="requestOneTimeStatement">
      <input message="tns:requestOneTimeStatement" />
      <output message="tns:requestOneTimeStatementResponse" />
      <fault name="requestOneTimeStatementException" message="tns:requestOneTimeStatementException" />
    </operation>
    <operation name="updateAccountFraudLevel">
      <input message="tns:updateAccountFraudLevel" />
      <output message="tns:updateAccountFraudLevelResponse" />
      <fault name="updateAccountFraudLevelException" message="tns:updateAccountFraudLevelException" />
    </operation>
  </portType>
  <binding name="accountService" type="tns:accountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="createAccount">
      <soap:operation soapAction="urn:#createAccount" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="createAccountException">
        <soap:fault use="literal" name="createAccountException" namespace="" />
      </fault>
    </operation>
    <operation name="closeAccount">
      <soap:operation soapAction="urn:#closeAccount" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="closeAccountException">
        <soap:fault use="literal" name="closeAccountException" namespace="" />
      </fault>
    </operation>
    <operation name="createSpan">
      <soap:operation soapAction="urn:#createSpan" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="createSpanException">
        <soap:fault use="literal" name="createSpanException" namespace="" />
      </fault>
    </operation>
    <operation name="getSpan">
      <soap:operation soapAction="urn:#getSpan" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getSpanException">
        <soap:fault use="literal" name="getSpanException" namespace="" />
      </fault>
    </operation>
    <operation name="getSpanID">
      <soap:operation soapAction="urn:#getSpanID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getSpanIDException">
        <soap:fault use="literal" name="getSpanIDException" namespace="" />
      </fault>
    </operation>
    <operation name="getAccount">
      <soap:operation soapAction="urn:#getAccount" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getAccountException">
        <soap:fault use="literal" name="getAccountException" namespace="" />
      </fault>
    </operation>
    <operation name="getUserAccounts">
      <soap:operation soapAction="urn:#getUserAccounts" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getUserAccountsException">
        <soap:fault use="literal" name="getUserAccountsException" namespace="" />
      </fault>
    </operation>
    <operation name="getCardAccounts">
      <soap:operation soapAction="urn:#getCardAccounts" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getCardAccountsException">
        <soap:fault use="literal" name="getCardAccountsException" namespace="" />
      </fault>
    </operation>
    <operation name="updateAccountSpan">
      <soap:operation soapAction="urn:#updateAccountSpan" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="updateAccountSpanException">
        <soap:fault use="literal" name="updateAccountSpanException" namespace="" />
      </fault>
    </operation>
    <operation name="updateSpan">
      <soap:operation soapAction="urn:#updateSpan" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="updateSpanException">
        <soap:fault use="literal" name="updateSpanException" namespace="" />
      </fault>
    </operation>
    <operation name="getAccountReferenceNumber">
      <soap:operation soapAction="urn:#getAccountReferenceNumber" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getAccountReferenceNumberException">
        <soap:fault use="literal" name="getAccountReferenceNumberException" namespace="" />
      </fault>
    </operation>
    <operation name="getAccountReferenceNumberList">
      <soap:operation soapAction="urn:#getAccountReferenceNumberList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getAccountReferenceNumberListException">
        <soap:fault use="literal" name="getAccountReferenceNumberListException" namespace="" />
      </fault>
    </operation>
    <operation name="createAccountReferenceNumber">
      <soap:operation soapAction="urn:#createAccountReferenceNumber" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="createAccountReferenceNumberException">
        <soap:fault use="literal" name="createAccountReferenceNumberException" namespace="" />
      </fault>
    </operation>
    <operation name="updateStatementPreference">
      <soap:operation soapAction="urn:#updateStatementPreference" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="updateStatementPreferenceException">
        <soap:fault use="literal" name="updateStatementPreferenceException" namespace="" />
      </fault>
    </operation>
    <operation name="searchStatement">
      <soap:operation soapAction="urn:#searchStatement" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="searchStatementException">
        <soap:fault use="literal" name="searchStatementException" namespace="" />
      </fault>
    </operation>
    <operation name="requestOneTimeStatement">
      <soap:operation soapAction="urn:#requestOneTimeStatement" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="requestOneTimeStatementException">
        <soap:fault use="literal" name="requestOneTimeStatementException" namespace="" />
      </fault>
    </operation>
    <operation name="updateAccountFraudLevel">
      <soap:operation soapAction="urn:#updateAccountFraudLevel" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="updateAccountFraudLevelException">
        <soap:fault use="literal" name="updateAccountFraudLevelException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="account">
    <port name="accountService" binding="tns:accountService">
      <soap:address location="https://uat-api-4.tsysprepaid.com/api/account" />
    </port>
  </service>
</definitions>