ZEO/NHibernate/HotfixBranchCode/Zeo/CHNL.DMS.Web/Nexxo.Channel.DMS.Web.ServiceClient/Service References/DMSService/DesktopWSImpl1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MGI.Channel.DMS.Server.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MGI.Channel.DMS.Server.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51942/DesktopWSImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51942/DesktopWSImpl.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:51942/DesktopWSImpl.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MGI.Common.Util" />
  <xs:complexType name="MGIContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumberRetryCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddOnCustomerId" type="xs:long" />
      <xs:element minOccurs="0" name="AgentFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="AgentLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentSessionId" type="xs:long" />
      <xs:element minOccurs="0" name="AlloyId" type="xs:long" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchId" type="xs:int" />
      <xs:element minOccurs="0" name="BusinessDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CXECustomerId" type="xs:long" />
      <xs:element minOccurs="0" name="CardPresentedType" type="xs:int" />
      <xs:element minOccurs="0" name="CashInTrxId" type="xs:long" />
      <xs:element minOccurs="0" name="CertegySiteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelPartnerId" type="xs:long" />
      <xs:element minOccurs="0" name="ChannelPartnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelPartnerRowGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="CheckPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckType" type="xs:int" />
      <xs:element minOccurs="0" name="CheckUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyToken" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Context" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="CustomerSessionId" type="xs:long" />
      <xs:element minOccurs="0" name="CxnAccountId" type="xs:long" />
      <xs:element minOccurs="0" name="CxnTransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="DestinationCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditMode" type="xs:boolean" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="IngoBranchId" type="xs:int" />
      <xs:element minOccurs="0" name="IsAnonymous" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCompanionSearch" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsExistingAccount" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsParked" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReferral" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSystemApplied" type="xs:boolean" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationRowGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="LocationStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginatingCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginatingCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessorId" type="xs:long" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderId" type="xs:int" />
      <xs:element minOccurs="0" name="RegulatorInfoStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SVCCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShouldIncludeShoppingCartItems" type="xs:boolean" />
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TSysPartnerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrxId" type="xs:long" />
      <xs:element minOccurs="0" name="TrxSubType" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WUCounterId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MGIContext" nillable="true" type="tns:MGIContext" />
  <xs:complexType name="CustomerSearchCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GovernmentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsIncludeClosed" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerSearchCriteria" nillable="true" type="tns:CustomerSearchCriteria" />
  <xs:complexType name="ArrayOfCustomerSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerSearchResult" nillable="true" type="tns:CustomerSearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerSearchResult" nillable="true" type="tns:ArrayOfCustomerSearchResult" />
  <xs:complexType name="CustomerSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlloyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GovernmentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MothersMaidenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerSearchResult" nillable="true" type="tns:CustomerSearchResult" />
  <xs:complexType name="AgentSSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClientAgentIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:UserRole" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentSSO" nillable="true" type="tns:AgentSSO" />
  <xs:complexType name="UserRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:complexType name="AgentSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agent" nillable="true" type="tns:Agent" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Terminal" nillable="true" type="tns:Terminal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentSession" nillable="true" type="tns:AgentSession" />
  <xs:complexType name="Agent">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationStatus" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordChangeRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="PasswordExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent" nillable="true" type="tns:Agent" />
  <xs:complexType name="Terminal">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelPartner" nillable="true" type="tns:ChannelPartner" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeripheralServer" nillable="true" type="tns:NpsTerminal" />
      <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Terminal" nillable="true" type="tns:Terminal" />
  <xs:complexType name="ChannelPartner">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowPhoneNumberAuthentication" type="xs:boolean" />
      <xs:element minOccurs="0" name="AuthenticationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanCashCheckWOGovtId" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanEnableProfileStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="CashFeeDescriptionEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CashFeeDescriptionES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CashOverCounter" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConvenienceFeeCash" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConvenienceFeeDebit" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConvenienceFeeDescriptionEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConvenienceFeeDescriptionES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerMinimumAge" type="xs:int" />
      <xs:element minOccurs="0" name="DebitFeeDescriptionEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitFeeDescriptionES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisableWithdrawCNP" type="xs:boolean" />
      <xs:element minOccurs="0" name="EFSClientId" type="xs:int" />
      <xs:element minOccurs="0" name="FeesFollowCustomer" type="xs:boolean" />
      <xs:element minOccurs="0" name="FrankData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasNonGPRCard" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsCUPartner" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCheckFrank" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEFSPartner" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMGIAlloyLogoEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMailingAddressEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNotesEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogoFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagesCash" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Providers" nillable="true" type="tns:ArrayOfChannelPartnerProductProvider" />
      <xs:element minOccurs="0" name="TIM" type="xs:short" />
      <xs:element minOccurs="0" name="UsePINForNonGPR" type="xs:boolean" />
      <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChannelPartner" nillable="true" type="tns:ChannelPartner" />
  <xs:complexType name="ArrayOfChannelPartnerProductProvider">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChannelPartnerProductProvider" nillable="true" type="tns:ChannelPartnerProductProvider" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannelPartnerProductProvider" nillable="true" type="tns:ArrayOfChannelPartnerProductProvider" />
  <xs:complexType name="ChannelPartnerProductProvider">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanParkReceiveMoney" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MGI.Common.Util" minOccurs="0" name="CheckEntryType" type="q2:CheckEntryTypes" />
      <xs:element minOccurs="0" name="IsSSNRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSWBRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTnCForcePrintRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="MinimumTransactAge" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessorId" type="xs:long" />
      <xs:element minOccurs="0" name="ProcessorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChannelPartnerProductProvider" nillable="true" type="tns:ChannelPartnerProductProvider" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelPartnerId" type="xs:long" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfCounterIDs" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessorCredentials" nillable="true" type="tns:ArrayOfProcessorCredential" />
      <xs:element minOccurs="0" name="RowGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimezoneID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="ArrayOfProcessorCredential">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessorCredential" nillable="true" type="tns:ProcessorCredential" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessorCredential" nillable="true" type="tns:ArrayOfProcessorCredential" />
  <xs:complexType name="ProcessorCredential">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderId" type="xs:long" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessorCredential" nillable="true" type="tns:ProcessorCredential" />
  <xs:complexType name="NpsTerminal">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelPartner" nillable="true" type="tns:ChannelPartner" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeripheralServiceUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NpsTerminal" nillable="true" type="tns:NpsTerminal" />
  <xs:complexType name="ArrayOfLegalCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LegalCode" nillable="true" type="tns:LegalCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLegalCode" nillable="true" type="tns:ArrayOfLegalCode" />
  <xs:complexType name="LegalCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LegalCode" nillable="true" type="tns:LegalCode" />
  <xs:complexType name="ArrayOfOccupation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Occupation" nillable="true" type="tns:Occupation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOccupation" nillable="true" type="tns:ArrayOfOccupation" />
  <xs:complexType name="Occupation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DTServerCreate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DTServerLastMod" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Occupation" nillable="true" type="tns:Occupation" />
  <xs:complexType name="IDRequirement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasExpirationDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Mask" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IDRequirement" nillable="true" type="tns:IDRequirement" />
  <xs:complexType name="ArrayOfMasterCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MasterCountry" nillable="true" type="tns:MasterCountry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMasterCountry" nillable="true" type="tns:ArrayOfMasterCountry" />
  <xs:complexType name="MasterCountry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbr2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Abbr3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterCountry" nillable="true" type="tns:MasterCountry" />
  <xs:complexType name="ArrayOfTipsAndOffers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipsAndOffers" nillable="true" type="tns:TipsAndOffers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipsAndOffers" nillable="true" type="tns:ArrayOfTipsAndOffers" />
  <xs:complexType name="TipsAndOffers">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelPartnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OptionalFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipsAndOffersEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipsAndOffersEs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipsAndOffersValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipsAndOffers" nillable="true" type="tns:TipsAndOffers" />
  <xs:complexType name="ChannelPartnerCertificate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelPartner" nillable="true" type="tns:ChannelPartner" />
      <xs:element minOccurs="0" name="ChannelPartnerCertificateId" type="xs:long" />
      <xs:element minOccurs="0" name="ChannelPartnerCertificatePK" type="ser:guid" />
      <xs:element minOccurs="0" name="Issuer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbPrint" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChannelPartnerCertificate" nillable="true" type="tns:ChannelPartnerCertificate" />
  <xs:complexType name="CheckSubmission">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BackImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="BackImageTIFF" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CheckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="FrontImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FrontImageTIFF" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ImageFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSystemApplied" type="xs:boolean" />
      <xs:element minOccurs="0" name="IssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MICR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MicrEntryType" type="xs:int" />
      <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoutingNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckSubmission" nillable="true" type="tns:CheckSubmission" />
  <xs:complexType name="CheckTransactionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="CheckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeclineErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="DeclineMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountApplied" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageBack" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ImageFront" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ProviderId" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckTransactionDetails" nillable="true" type="tns:CheckTransactionDetails" />
  <xs:complexType name="CheckProcessorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="Tocken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckProcessorInfo" nillable="true" type="tns:CheckProcessorInfo" />
  <xs:complexType name="CashDrawer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashIn" type="xs:decimal" />
      <xs:element minOccurs="0" name="CashOut" type="xs:decimal" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportTemplate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TellerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashDrawer" nillable="true" type="tns:CashDrawer" />
  <xs:complexType name="CashierDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentId" type="xs:int" />
      <xs:element minOccurs="0" name="AgentLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentLocationState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAgentLocationState" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashierDetails" nillable="true" type="tns:CashierDetails" />
  <xs:complexType name="CardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardStatus" type="xs:int" />
      <xs:element minOccurs="0" name="ClosureDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MetaData" nillable="true" type="q3:ArrayOfKeyValueOfstringanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardInfo" nillable="true" type="tns:CardInfo" />
  <xs:complexType name="TransactionHistoryRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliasId" type="xs:long" />
      <xs:element minOccurs="0" name="DateRange" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionStatus" type="tns:TransactionStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionHistoryRequest" nillable="true" type="tns:TransactionHistoryRequest" />
  <xs:simpleType name="TransactionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Posted" />
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Denied" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransactionStatus" nillable="true" type="tns:TransactionStatus" />
  <xs:complexType name="ArrayOfCardTransactionHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardTransactionHistory" nillable="true" type="tns:CardTransactionHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardTransactionHistory" nillable="true" type="tns:ArrayOfCardTransactionHistory" />
  <xs:complexType name="CardTransactionHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualBalance" type="xs:double" />
      <xs:element minOccurs="0" name="AvailableBalance" type="xs:double" />
      <xs:element minOccurs="0" name="DeclineReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostedDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionAmount" type="xs:double" />
      <xs:element minOccurs="0" name="TransactionDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardTransactionHistory" nillable="true" type="tns:CardTransactionHistory" />
  <xs:complexType name="CardMaintenanceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectedCardStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardMaintenanceInfo" nillable="true" type="tns:CardMaintenanceInfo" />
  <xs:complexType name="ArrayOfShippingTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShippingTypes" nillable="true" type="tns:ShippingTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShippingTypes" nillable="true" type="tns:ArrayOfShippingTypes" />
  <xs:complexType name="ShippingTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShippingTypes" nillable="true" type="tns:ShippingTypes" />
  <xs:complexType name="UserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelPartnerId" type="xs:long" />
      <xs:element minOccurs="0" name="ClientAgentIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationId" type="xs:long" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rowguid" type="ser:guid" />
      <xs:element minOccurs="0" name="TempPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRoleId" type="xs:int" />
      <xs:element minOccurs="0" name="UserStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserStatusId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetails" nillable="true" type="tns:UserDetails" />
  <xs:simpleType name="SaveMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Add">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Update">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SaveMode" nillable="true" type="tns:SaveMode" />
  <xs:complexType name="ArrayOfUserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDetails" nillable="true" type="tns:UserDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDetails" nillable="true" type="tns:ArrayOfUserDetails" />
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
  <xs:complexType name="ArrayOfNpsTerminal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NpsTerminal" nillable="true" type="tns:NpsTerminal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNpsTerminal" nillable="true" type="tns:ArrayOfNpsTerminal" />
  <xs:complexType name="ArrayOfTransactionHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionHistory" nillable="true" type="tns:TransactionHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionHistory" nillable="true" type="tns:ArrayOfTransactionHistory" />
  <xs:complexType name="TransactionHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" type="xs:long" />
      <xs:element minOccurs="0" name="Teller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="TransactionStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionHistory" nillable="true" type="tns:TransactionHistory" />
  <xs:complexType name="FundTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="FundType" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MetaData" nillable="true" type="q4:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FundTransaction" nillable="true" type="tns:FundTransaction" />
  <xs:complexType name="CheckTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CheckType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckTransaction" nillable="true" type="tns:CheckTransaction" />
  <xs:complexType name="MoneyOrderTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BackImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="BaseFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="CheckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountApplied" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="FrontImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsSystemApplied" type="xs:boolean" />
      <xs:element minOccurs="0" name="MICR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderId" type="xs:int" />
      <xs:element minOccurs="0" name="RoutingNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoneyOrderTransaction" nillable="true" type="tns:MoneyOrderTransaction" />
  <xs:complexType name="BillPayTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MetaData" nillable="true" type="q5:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="ProviderId" type="xs:int" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillPayTransaction" nillable="true" type="tns:BillPayTransaction" />
  <xs:complexType name="CashTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Purse" nillable="true" type="tns:Purse" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashTransaction" nillable="true" type="tns:CashTransaction" />
  <xs:complexType name="Purse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="NameOnAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessorAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessorId" type="xs:int" />
      <xs:element minOccurs="0" name="PurseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Track2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Purse" nillable="true" type="tns:Purse" />
  <xs:complexType name="MoneyOrderData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsSystemApplied" type="xs:boolean" />
      <xs:element minOccurs="0" name="PromotionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoneyOrderData" nillable="true" type="tns:MoneyOrderData" />
  <xs:complexType name="MoneyOrderPurchase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsSystemApplied" type="xs:boolean" />
      <xs:element minOccurs="0" name="PromotionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoneyOrderPurchase" nillable="true" type="tns:MoneyOrderPurchase" />
  <xs:complexType name="CheckPrint">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Lines" nillable="true" type="q6:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckPrint" nillable="true" type="tns:CheckPrint" />
  <xs:complexType name="ArrayOfAgentMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentMessage" nillable="true" type="tns:AgentMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgentMessage" nillable="true" type="tns:ArrayOfAgentMessage" />
  <xs:complexType name="AgentMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeclineMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:long" />
      <xs:element minOccurs="0" name="TransactionState" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentMessage" nillable="true" type="tns:AgentMessage" />
</xs:schema>