ZEO/HotfixBranchCode/Zeo/CHNL.DMS.Web/Nexxo.Channel.DMS.Web.ServiceClient/Service References/DMSService/DesktopWSImpl1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.nexxo.com/DesktopWSImpl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.nexxo.com/DesktopWSImpl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost:51942/DesktopWSImpl.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IDesktopService" type="i0:IDesktopService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Lookup">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/Lookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProspect">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetProspect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCustomers">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/SearchCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InitiateCustomerSession">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/InitiateCustomerSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecordIdentificationConfirmation">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/RecordIdentificationConfirmation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateSSN">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/ValidateSSN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/ValidateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAnonymousUserPAN">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAnonymousUserPAN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CustomerLookUp">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CustomerLookUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateCustomerStatus">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/ValidateCustomerStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NexxoActivate">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/NexxoActivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ClientActivate">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/ClientActivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerToClient">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/UpdateCustomerToClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CustomerSyncInFromClient">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CustomerSyncInFromClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CanChangeProfileStatus">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CanChangeProfileStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateSSO">
      <soap:operation soapAction="http://tempuri.org/IAgentService/AuthenticateSSO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateSession">
      <soap:operation soapAction="http://tempuri.org/IAgentService/UpdateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Countries">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/Countries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="States">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/States" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="USStates">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/USStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Cities">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/Cities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IdCountries">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/IdCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IdTypes">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/IdTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLegalCodes">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetLegalCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOccupations">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetOccupations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IdStates">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/IdStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IdRequirements">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/IdRequirements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PhoneTypes">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/PhoneTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MobileProviders">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/MobileProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MasterCountries">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/MasterCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMasterCountryByCode">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetMasterCountryByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProfileStatus">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/ProfileStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Locations">
      <soap:operation soapAction="http://tempuri.org/IChannelPartnerService/Locations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChannelPartnerConfig">
      <soap:operation soapAction="http://tempuri.org/IChannelPartnerService/ChannelPartnerConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTipsAndOffers">
      <soap:operation soapAction="http://tempuri.org/IChannelPartnerService/GetTipsAndOffers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerGroups">
      <soap:operation soapAction="http://tempuri.org/IChannelPartnerService/GetPartnerGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChannelPartnerCertificateInfo">
      <soap:operation soapAction="http://tempuri.org/IChannelPartnerService/GetChannelPartnerCertificateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubmitCheck">
      <soap:operation soapAction="http://tempuri.org/ICheckCashingService/SubmitCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelCheck">
      <soap:operation soapAction="http://tempuri.org/ICheckCashingService/CancelCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckStatus">
      <soap:operation soapAction="http://tempuri.org/ICheckCashingService/GetCheckStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CanResubmit">
      <soap:operation soapAction="http://tempuri.org/ICheckCashingService/CanResubmit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckTypes">
      <soap:operation soapAction="http://tempuri.org/ICheckCashingService/GetCheckTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckFee">
      <soap:operation soapAction="http://tempuri.org/ICheckCashingService/GetCheckFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckTranasactionDetails">
      <soap:operation soapAction="http://tempuri.org/ICheckCashingService/GetCheckTranasactionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckFrankingData">
      <soap:operation soapAction="http://tempuri.org/ICheckCashingService/GetCheckFrankingData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckProcessorInfo">
      <soap:operation soapAction="http://tempuri.org/ICheckCashingService/GetCheckProcessorInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionFranked">
      <soap:operation soapAction="http://tempuri.org/ICheckCashingService/UpdateTransactionFranked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckSession">
      <soap:operation soapAction="http://tempuri.org/ICheckCashingService/GetCheckSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CashIn">
      <soap:operation soapAction="http://tempuri.org/ICashService/CashIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCash">
      <soap:operation soapAction="http://tempuri.org/ICashService/UpdateCash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CashDrawerReport">
      <soap:operation soapAction="http://tempuri.org/IReportService/CashDrawerReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddCheck">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/AddCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddFunds">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/AddFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddBillPay">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/AddBillPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddMoneyOrder">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/AddMoneyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddMoneyTransfer">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/AddMoneyTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddCash">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/AddCash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveCheck">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/RemoveCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveFunds">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/RemoveFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveBillPay">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/RemoveBillPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveMoneyOrder">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/RemoveMoneyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveMoneyTransfer">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/RemoveMoneyTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveCashIn">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/RemoveCashIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ShoppingCart">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/ShoppingCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Checkout">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/Checkout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GenerateReceiptsForShoppingCart">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/GenerateReceiptsForShoppingCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CloseShoppingCart">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/CloseShoppingCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ParkCheck">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/ParkCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ParkFunds">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/ParkFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ParkBillPay">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/ParkBillPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ParkMoneyTransfer">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/ParkMoneyTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ParkMoneyOrder">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/ParkMoneyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReSubmitCheck">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/ReSubmitCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReSubmitMO">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/ReSubmitMO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsReferralApplicable">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/IsReferralApplicable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PostFlush">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/PostFlush" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveCheckFromCart">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/RemoveCheckFromCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllParkedShoppingCartTransactions">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/GetAllParkedShoppingCartTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBillers">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetBillers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBiller">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetBiller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBillerByName">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetBillerByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFrequentBillers">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetFrequentBillers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllBillers">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetAllBillers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFee">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBillerInfo">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetBillerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProviderAttributes">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetProviderAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFavoriteBiller">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetFavoriteBiller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBillPayFee">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetBillPayFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StageBillPayment">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/StageBillPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateBillPayment">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/ValidateBillPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCardInfo">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetCardInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAgent">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetAgent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddPastBillers">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/AddPastBillers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelBillPayment">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/CancelBillPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteFavoriteBiller">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/DeleteFavoriteBiller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReceivers">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetReceivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReceiver">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetReceiver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReceiverByFullName">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetReceiverByFullName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddReceiver">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/AddReceiver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditReceiver">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/EditReceiver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFrequentReceivers">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetFrequentReceivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyTransferFee">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetMoneyTransferFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateTransfer">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/ValidateTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMoneySearch">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/ReceiveMoneySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateWUAccount">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/UpdateWUAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WUCardEnrollment">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/WUCardEnrollment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WUCardLookup">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/WUCardLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWUCardAccount">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetWUCardAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DisplayWUCardAccountInfo">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/DisplayWUCardAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelXfer">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/CancelXfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCardInfoXfer">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetCardInfoXfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddPastReceivers">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/AddPastReceivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteFavoriteReceiver">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/DeleteFavoriteReceiver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryServices">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetDeliveryServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetXfrProviderAttributes">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetXfrProviderAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsSWBStateXfer">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/IsSWBStateXfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAgentXfer">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetAgentXfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StageRefundSendMoney">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/StageRefundSendMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMoneyRefund">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/SendMoneyRefund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMoneySearch">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/SendMoneySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StageModifySendMoney">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/StageModifySendMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyTransferDetailsTransaction">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetMoneyTransferDetailsTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeModifySendMoney">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/AuthorizeModifySendMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetXfrCountries">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferSetupService/GetXfrCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetXfrStates">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferSetupService/GetXfrStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetXfrCities">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferSetupService/GetXfrCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferSetupService/GetCurrencyCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeList">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferSetupService/GetCurrencyCodeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WUGetAgentBannerMessage">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferSetupService/WUGetAgentBannerMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRefundReasons">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferSetupService/GetRefundReasons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddFundsAccount">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/AddFundsAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateCard">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/AuthenticateCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WithdrawFunds">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/WithdrawFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoadFunds">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/LoadFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ActivateGPRCard">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/ActivateGPRCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFundsBalance">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetFundsBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookupForPANFund">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/LookupForPANFund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFeeForFunds">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetFeeForFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateFundAmount">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/UpdateFundAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMinimumLoadAmount">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetMinimumLoadAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCardTransactionHistory">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetCardTransactionHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CloseAccount">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/CloseAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCardStatus">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/UpdateCardStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReplaceCard">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/ReplaceCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetShippingTypes">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetShippingTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetShippingFee">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetShippingFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AssociateCard">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/AssociateCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFundFee">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetFundFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IssueAddOnCard">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/IssueAddOnCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/SaveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateLocation">
      <soap:operation soapAction="http://tempuri.org/ILocationService/CreateLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocation">
      <soap:operation soapAction="http://tempuri.org/ILocationService/UpdateLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookupLocationById">
      <soap:operation soapAction="http://tempuri.org/ILocationService/LookupLocationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocationByChannelPartnerId">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetAllLocationByChannelPartnerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateNpsTerminal">
      <soap:operation soapAction="http://tempuri.org/INpsTerminalService/CreateNpsTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateNpsTerminal">
      <soap:operation soapAction="http://tempuri.org/INpsTerminalService/UpdateNpsTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookupNpsTerminalById">
      <soap:operation soapAction="http://tempuri.org/INpsTerminalService/LookupNpsTerminalById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookupNpsTerminalByIpAddress">
      <soap:operation soapAction="http://tempuri.org/INpsTerminalService/LookupNpsTerminalByIpAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookupNpsTerminalByName">
      <soap:operation soapAction="http://tempuri.org/INpsTerminalService/LookupNpsTerminalByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookupNpsTerminalByLocationID">
      <soap:operation soapAction="http://tempuri.org/INpsTerminalService/LookupNpsTerminalByLocationID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookupTerminalByGuid">
      <soap:operation soapAction="http://tempuri.org/ITerminalService/LookupTerminalByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookupTerminalByChannelPartner">
      <soap:operation soapAction="http://tempuri.org/ITerminalService/LookupTerminalByChannelPartner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateTerminal">
      <soap:operation soapAction="http://tempuri.org/ITerminalService/CreateTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateTerminal">
      <soap:operation soapAction="http://tempuri.org/ITerminalService/UpdateTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionHistory">
      <soap:operation soapAction="http://tempuri.org/ITransactionHistoryService/GetTransactionHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAgentTransactionHistory">
      <soap:operation soapAction="http://tempuri.org/ITransactionHistoryService/GetAgentTransactionHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFundTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionHistoryService/GetFundTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionHistoryService/GetCheckTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyTransferTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionHistoryService/GetMoneyTransferTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyOrderTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionHistoryService/GetMoneyOrderTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBillPayTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionHistoryService/GetBillPayTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCashTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionHistoryService/GetCashTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptsService/GetCheckReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFundsReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptsService/GetFundsReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyTransferReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptsService/GetMoneyTransferReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyOrderReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptsService/GetMoneyOrderReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBillPayReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptsService/GetBillPayReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDoddFrankReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptsService/GetDoddFrankReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckDeclinedReceiptData">
      <soap:operation soapAction="http://tempuri.org/IReceiptsService/GetCheckDeclinedReceiptData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptsService/GetSummaryReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryReceiptForReprint">
      <soap:operation soapAction="http://tempuri.org/IReceiptsService/GetSummaryReceiptForReprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCouponCodeReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptsService/GetCouponCodeReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyOrderFee">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/GetMoneyOrderFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PurchaseMoneyOrder">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/PurchaseMoneyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelMoneyOrder">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/CancelMoneyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateMoneyOrder">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/UpdateMoneyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateMoneyOrderStatus">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/UpdateMoneyOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyOrderStage">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/GetMoneyOrderStage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GenerateCheckPrintForMoneyOrder">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/GenerateCheckPrintForMoneyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GenerateMoneyOrderDiagnostics">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/GenerateMoneyOrderDiagnostics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAgentMessages">
      <soap:operation soapAction="http://tempuri.org/IMessageCenterService/GetAgentMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMessageDetails">
      <soap:operation soapAction="http://tempuri.org/IMessageCenterService/GetMessageDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCounterId">
      <soap:operation soapAction="http://tempuri.org/ILocationCounterIdService/UpdateCounterId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NexxoSOAPFaultFault">
        <soap:fault use="literal" name="NexxoSOAPFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLocationProcessorCredentials">
      <soap:operation soapAction="http://tempuri.org/ILocationProcessorCredentialsService/GetLocationProcessorCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProcessorCredentials">
      <soap:operation soapAction="http://tempuri.org/ILocationProcessorCredentialsService/SaveProcessorCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>