ZEO/Zeo/Alloy/TCF.Channel.Zeo.Web.ServiceClient/Service References/ZeoService/ZeoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TCF.Zeo.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TCF.Zeo.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ZeoSoapFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddlDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MajorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Processor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZeoSoapFault" nillable="true" type="tns:ZeoSoapFault" />
</xs:schema>