ZEO/Zeo/CXN.Customer/Nexxo.Cxn.Customer.FIS.Test/Service References/FISService/wsdlNexxoPolicy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://services.synovus.com/" xmlns:tns0="http://services.soa.synovus.com/schemas/ApplicationKey" xmlns:s4="mtvnCWCICustNameAddrMaintSvcRes" xmlns:s0="http://xaware.com/xas/ns1/type" xmlns:s8="mtvnCWCIOpenMiscAcctSvcRes" xmlns:s5="mtvnCWCIOpenIndvCustSvcReq" xmlns:s1="mtvnCWCICustTaxNbrSrchSvcReq" xmlns:s6="mtvnCWCIOpenIndvCustSvcRes" xmlns:s2="mtvnCWCICustTaxNbrSrchSvcRes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s7="mtvnCWCIOpenMiscAcctSvcReq" xmlns:s3="mtvnCWCICustNameAddrMaintSvcReq" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsdlNexxoPolicy" targetNamespace="http://services.synovus.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xa="http://xaware.com/xas/ns1" xmlns:tns="http://services.soa.synovus.com/schemas/ApplicationKey" xmlns:wsdlns="http://xaware.com/xas/ns1/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:typens="http://xaware.com/xas/ns1/type" elementFormDefault="qualified" targetNamespace="http://xaware.com/xas/ns1/type">
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd0" namespace="http://services.soa.synovus.com/schemas/ApplicationKey" />
    </xsd:schema>
    <xsd:schema xmlns:import0="mtvnCWCICustTaxNbrSrchSvcReq" xmlns:import1="mtvnCWCICustTaxNbrSrchSvcRes" xmlns:tns="mtvnCICustTaxNbrSrchWSV6" xmlns="http://schemas.xmlsoap.org/wsdl/">
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd1" namespace="mtvnCWCICustTaxNbrSrchSvcReq" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd3" namespace="mtvnCWCICustTaxNbrSrchSvcRes" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd5" namespace="mtvnCWCICustNameAddrMaintSvcReq" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd7" namespace="mtvnCWCICustNameAddrMaintSvcRes" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd9" namespace="mtvnCWCIOpenIndvCustSvcReq" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd11" namespace="mtvnCWCIOpenIndvCustSvcRes" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd13" namespace="mtvnCWCIOpenMiscAcctSvcReq" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd15" namespace="mtvnCWCIOpenMiscAcctSvcRes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getApplInfo_synovus_soa_applicationkey_getAppKey_xbdExecuteRequest">
    <wsdl:part name="XMLInput" element="tns0:ApplicationKeyRequest" />
  </wsdl:message>
  <wsdl:message name="getApplInfo_synovus_soa_applicationkey_getAppKey_xbdExecuteResponse">
    <wsdl:part name="Response" element="tns0:ApplicationKeyResponse" />
  </wsdl:message>
  <wsdl:message name="CICustTaxNbrSrchMtvnSvcReqMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s1:CICustTaxNbrSrchMtvnSvcReq" />
  </wsdl:message>
  <wsdl:message name="CICustTaxNbrSrchMtvnSvcResMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s2:CICustTaxNbrSrchMtvnSvcRes" />
  </wsdl:message>
  <wsdl:message name="CICustNameAddrMaintMtvnSvcReqMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s3:CICustNameAddrMaintMtvnSvcReq" />
  </wsdl:message>
  <wsdl:message name="CICustNameAddrMaintMtvnSvcResMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s4:CICustNameAddrMaintMtvnSvcRes" />
  </wsdl:message>
  <wsdl:message name="CIOpenIndvCustMtvnSvcReqMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s5:CIOpenIndvCustMtvnSvcReq" />
  </wsdl:message>
  <wsdl:message name="CIOpenIndvCustMtvnSvcResMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s6:CIOpenIndvCustMtvnSvcRes" />
  </wsdl:message>
  <wsdl:message name="CIOpenMiscAcctMtvnSvcReqMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s7:CIOpenMiscAcctMtvnSvcReq" />
  </wsdl:message>
  <wsdl:message name="CIOpenMiscAcctMtvnSvcResMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s8:CIOpenMiscAcctMtvnSvcRes" />
  </wsdl:message>
  <wsdl:portType name="wsdlNexxoPolicy">
    <wsdl:operation name="synovus.soa.applicationkey.getAppKey.xbd">
      <wsdl:input name="synovus.soa.applicationkey.getAppKey.xbdRequest1" message="tns:getApplInfo_synovus_soa_applicationkey_getAppKey_xbdExecuteRequest" />
      <wsdl:output name="synovus.soa.applicationkey.getAppKey.xbdResponse1" message="tns:getApplInfo_synovus_soa_applicationkey_getAppKey_xbdExecuteResponse" />
    </wsdl:operation>
    <wsdl:operation name="CICustTaxNbrSrch">
      <wsdl:documentation />
      <wsdl:input name="CICustTaxNbrSrchRequest1" message="tns:CICustTaxNbrSrchMtvnSvcReqMsg" />
      <wsdl:output name="CICustTaxNbrSrchResponse1" message="tns:CICustTaxNbrSrchMtvnSvcResMsg" />
    </wsdl:operation>
    <wsdl:operation name="CICustNameAddrMaint">
      <wsdl:documentation />
      <wsdl:input name="CICustNameAddrMaintRequest1" message="tns:CICustNameAddrMaintMtvnSvcReqMsg" />
      <wsdl:output name="CICustNameAddrMaintResponse1" message="tns:CICustNameAddrMaintMtvnSvcResMsg" />
    </wsdl:operation>
    <wsdl:operation name="CIOpenIndvCust">
      <wsdl:documentation />
      <wsdl:input name="CIOpenIndvCustRequest1" message="tns:CIOpenIndvCustMtvnSvcReqMsg" />
      <wsdl:output name="CIOpenIndvCustResponse1" message="tns:CIOpenIndvCustMtvnSvcResMsg" />
    </wsdl:operation>
    <wsdl:operation name="CIOpenMiscAcct">
      <wsdl:documentation />
      <wsdl:input name="CIOpenMiscAcctRequest1" message="tns:CIOpenMiscAcctMtvnSvcReqMsg" />
      <wsdl:output name="CIOpenMiscAcctResponse1" message="tns:CIOpenMiscAcctMtvnSvcResMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsdlNexxoPolicy" type="tns:wsdlNexxoPolicy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="synovus.soa.applicationkey.getAppKey.xbd">
      <soap:operation soapAction="http://xaware.com/xas/ns1/getApplInfo/action/synovus.soa.applicationkey.getAppKey.xbd" />
      <wsdl:input name="synovus.soa.applicationkey.getAppKey.xbdRequest1">
        <soap:body use="literal" parts="XMLInput" />
      </wsdl:input>
      <wsdl:output name="synovus.soa.applicationkey.getAppKey.xbdResponse1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CICustTaxNbrSrch">
      <soap:operation soapAction="CICustTaxNbrSrchWSV6:CICustTaxNbrSrchMtvnSvcReqMsg" style="document" />
      <wsdl:input name="CICustTaxNbrSrchRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CICustTaxNbrSrchResponse1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CICustNameAddrMaint">
      <soap:operation soapAction="CICustNameAddrMaintWSV3:CICustNameAddrMaintMtvnSvcReqMsg" style="document" />
      <wsdl:input name="CICustNameAddrMaintRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CICustNameAddrMaintResponse1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CIOpenIndvCust">
      <soap:operation soapAction="CIOpenIndvCustWSV4:CIOpenIndvCustMtvnSvcReqMsg" style="document" />
      <wsdl:input name="CIOpenIndvCustRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CIOpenIndvCustResponse1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CIOpenMiscAcct">
      <soap:operation soapAction="CIOpenMiscAcctWSV3:CIOpenMiscAcctMtvnSvcReqMsg" style="document" />
      <wsdl:input name="CIOpenMiscAcctRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CIOpenMiscAcctResponse1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsdlNexxoPolicy">
    <wsdl:port name="wsdlNexxoPolicy" binding="tns:wsdlNexxoPolicy">
      <soap:address location="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>