ZEO/HotfixBranchCode/Zeo/CHNL.CMMN/Peripheral.Installer/Peripheral.Server.Installer.Win7/Peripheral.Service.CustomAction/Service References/DMSService/NpsInstallerWSImpl51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://10.111.109.16/MGI.Channel.DMS.NpsInstallerServer.Svc.5.0.177/NpsInstallerWSImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MGI.Channel.DMS.NpsInstallerServer.Data" />
  <xs:import schemaLocation="https://10.111.109.16/MGI.Channel.DMS.NpsInstallerServer.Svc.5.0.177/NpsInstallerWSImpl.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateTerminal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MGI.Channel.DMS.NpsInstallerServer.Data" minOccurs="0" name="npsTerminal" nillable="true" type="q1:NpsTerminal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTerminalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTerminalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTerminal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MGI.Channel.DMS.NpsInstallerServer.Data" minOccurs="0" name="npsTerminal" nillable="true" type="q2:NpsTerminal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTerminalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTerminalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Locations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelPartnerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LocationsResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LookupNpsInstallerTerminalByIpAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LookupNpsInstallerTerminalByIpAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MGI.Channel.DMS.NpsInstallerServer.Data" minOccurs="0" name="LookupNpsInstallerTerminalByIpAddressResult" nillable="true" type="q4:NpsTerminal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MGI.Channel.DMS.NpsInstallerServer.Data" minOccurs="0" name="GetAllLocationsResult" nillable="true" type="q5:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>