ZEO/ADO.NET/LatestDevelop/Zeo/CXN.Funds/Nexxo.Cxn.Fund.TSys/Service References/TSysPrepaidLoadSvc/TSYSPrepaidLoadService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://api.tsysprepaid.com/prepaidLoad" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:common="http://api.tsysprepaid.com/common" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:prepaidLoad="http://api.tsysprepaid.com/prepaidLoad/types" name="TSYSPrepaidLoadService" targetNamespace="http://api.tsysprepaid.com/prepaidLoad" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="http://api.tsysprepaid.com/prepaidLoad">
      <xsd:import schemaLocation="file:///C:/Users/jaaron/Documents/TSysAPI/20131011.prepaidLoad.xsd" namespace="http://api.tsysprepaid.com/prepaidLoad/types" />
      <xsd:import schemaLocation="file:///C:/Users/jaaron/Documents/TSysAPI/20131011.common.xsd" namespace="http://api.tsysprepaid.com/common" />
      <xsd:element name="loadRequest" type="prepaidLoad:loadRequest" />
      <xsd:element name="loadResponse" type="prepaidLoad:loadResponseData" />
      <xsd:element name="loadException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="prepaidLoad:loadError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="loadRequest">
    <part name="parameters" element="tns:loadRequest" />
  </message>
  <message name="loadException">
    <part name="error" element="tns:loadException" />
  </message>
  <message name="loadResponse">
    <part name="parameters" element="tns:loadResponse" />
  </message>
  <portType name="prepaidLoadService">
    <operation name="load">
      <input message="tns:loadRequest" />
      <output message="tns:loadResponse" />
      <fault name="loadException" message="tns:loadException" />
    </operation>
  </portType>
  <binding name="prepaidLoadService" type="tns:prepaidLoadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="load">
      <soap:operation soapAction="http://api.tsysprepaid.com/prepaidLoad/load" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="loadException">
        <soap:fault use="literal" name="loadException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="prepaidLoad">
    <port name="prepaidLoadService" binding="tns:prepaidLoadService">
      <soap:address location="https://uat-api-4.tsysprepaid.com/api/prepaidLoad" />
    </port>
  </service>
</definitions>