ZEO/ADO.NET/LatestDevelop/Zeo/CXN.Checks/MGI.Cxn.Check.Certegy/Service References/Certegy/PCAService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fis.certegy.pca.com/" name="PCAService" targetNamespace="http://fis.certegy.pca.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://fis.certegy.pca.com/" version="1.2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="AuthorizeRequest" type="tns:PCARequest" />
      <xs:element name="AuthorizeResponse" type="tns:PCAResponse" />
      <xs:element name="ReverseRequest" type="tns:PCAReverseRequest" />
      <xs:element name="ReverseResponse" type="tns:PCAReverseResponse" />
      <xs:element name="EchoRequest" type="tns:PCAEchoRequest" />
      <xs:element name="EchoResponse" type="tns:PCAEchoResponse" />
      <xs:complexType name="Address">
        <xs:sequence>
          <xs:element minOccurs="1" name="Line1" type="xs:string" />
          <xs:element minOccurs="0" name="Line2" type="xs:string" />
          <xs:element minOccurs="1" name="City" type="xs:string" />
          <xs:element minOccurs="1" name="State" type="xs:string" />
          <xs:element minOccurs="1" name="Zip" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DOB">
        <xs:sequence>
          <xs:element minOccurs="1" name="Year" type="xs:string" />
          <xs:element minOccurs="1" name="Month" type="xs:string" />
          <xs:element minOccurs="1" name="Day" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ID">
        <xs:sequence>
          <xs:element minOccurs="1" name="Type" type="xs:string" />
          <xs:element minOccurs="1" name="Value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Enrollment">
        <xs:sequence>
          <xs:element minOccurs="1" name="LastName" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" type="xs:string" />
          <xs:element minOccurs="1" name="DOB" type="tns:DOB" />
          <xs:element minOccurs="0" name="Phone" type="xs:string" />
          <xs:element minOccurs="0" name="Address" type="tns:Address" />
          <xs:element minOccurs="0" name="ID" type="tns:ID" />
          <xs:element minOccurs="0" name="SwipedID" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MICR">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExpansionType" type="xs:string" />
          <xs:element minOccurs="1" default="S" name="EntryType" type="xs:string" />
          <xs:element minOccurs="1" name="Line" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Check">
        <xs:sequence>
          <xs:element minOccurs="1" name="Amount" type="xs:string" />
          <xs:element minOccurs="1" name="MICR" type="tns:MICR" />
          <xs:element minOccurs="0" name="IssueDate" type="xs:string" />
          <xs:element minOccurs="0" name="Type" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Device">
        <xs:sequence>
          <xs:element minOccurs="1" name="Type" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:string" />
          <xs:element minOccurs="0" name="IPAddress" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Custom">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="value" type="xs:string" use="required" />
      </xs:complexType>
      <xs:complexType name="PCARequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="TransID" type="xs:string" />
          <xs:element minOccurs="1" default="1.2" name="Version" type="xs:decimal" />
          <xs:element minOccurs="1" name="TranType" type="xs:string" />
          <xs:element minOccurs="1" name="SiteID" type="xs:string" />
          <xs:element minOccurs="0" name="SSN" type="xs:string" />
          <xs:element minOccurs="0" name="Check" type="tns:Check" />
          <xs:element minOccurs="0" name="Enroll" type="tns:Enrollment" />
          <xs:element minOccurs="0" name="Device" type="tns:Device" />
          <xs:element minOccurs="0" maxOccurs="5" name="Roundtrip" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="50" name="Custom" type="tns:Custom" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PCAResponse">
        <xs:sequence>
          <xs:element minOccurs="1" name="TransID" type="xs:string" />
          <xs:element minOccurs="1" name="ResponseCode" type="xs:string" />
          <xs:element minOccurs="0" name="ApprovalNumber" type="xs:string" />
          <xs:element minOccurs="0" name="SettlementID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="5" name="Roundtrip" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="50" name="Custom" type="tns:Custom" />
          <xs:element minOccurs="0" name="CertegyUID" type="xs:string" />
          <xs:element minOccurs="0" name="CheckABA" type="xs:string" />
          <xs:element minOccurs="0" name="CheckAcct" type="xs:string" />
          <xs:element minOccurs="0" name="CheckNumber" type="xs:string" />
          <xs:element minOccurs="0" name="CheckType" type="xs:string" />
          <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PCAReverseRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="TransID" type="xs:string" />
          <xs:element minOccurs="1" default="1.2" name="Version" type="xs:decimal" />
          <xs:element minOccurs="1" name="SiteID" type="xs:string" />
          <xs:element minOccurs="0" name="SSN" type="xs:string" />
          <xs:element minOccurs="1" name="Check" type="tns:Check" />
          <xs:element minOccurs="0" maxOccurs="5" name="Roundtrip" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="50" name="Custom" type="tns:Custom" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PCAReverseResponse">
        <xs:sequence>
          <xs:element minOccurs="1" name="TransID" type="xs:string" />
          <xs:element minOccurs="1" name="ResponseCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="5" name="Roundtrip" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="50" name="Custom" type="tns:Custom" />
          <xs:element minOccurs="0" name="CertegyUID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PCAEchoRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="SiteID" type="xs:string" />
          <xs:element minOccurs="0" name="EchoNumber" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PCAEchoResponse">
        <xs:sequence>
          <xs:element minOccurs="1" name="SiteID" type="xs:string" />
          <xs:element minOccurs="0" name="EchoNumber" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="AuthorizeResponse">
    <part name="parameters" element="tns:AuthorizeResponse" />
  </message>
  <message name="AuthorizeRequest">
    <part name="parameters" element="tns:AuthorizeRequest" />
  </message>
  <message name="ReverseResponse">
    <part name="parameters" element="tns:ReverseResponse" />
  </message>
  <message name="ReverseRequest">
    <part name="parameters" element="tns:ReverseRequest" />
  </message>
  <message name="EchoResponse">
    <part name="parameters" element="tns:EchoResponse" />
  </message>
  <message name="EchoRequest">
    <part name="parameters" element="tns:EchoRequest" />
  </message>
  <portType name="PCA">
    <operation name="authorize">
      <input message="tns:AuthorizeRequest" />
      <output message="tns:AuthorizeResponse" />
    </operation>
    <operation name="reverse">
      <input message="tns:ReverseRequest" />
      <output message="tns:ReverseResponse" />
    </operation>
    <operation name="echo">
      <input message="tns:EchoRequest" />
      <output message="tns:EchoResponse" />
    </operation>
  </portType>
  <binding name="PCAPortBinding" type="tns:PCA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="authorize">
      <soap:operation soapAction="authorize" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reverse">
      <soap:operation soapAction="reverse" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echo">
      <soap:operation soapAction="echo" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PCAService">
    <port name="PCAPort" binding="tns:PCAPortBinding">
      <soap:address location="https://transtest2.certegy.com/mepca2/PCAService" />
    </port>
  </service>
</definitions>