ZEO/ADO.NET/LatestDevelop/Zeo/Alloy/TCF.Zeo.Cxn.Customer.TCF/Service References/RCIFService/ZeoCustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="www.tcfbank.zeoCustomerService" name="ZeoCustomerService" targetNamespace="www.tcfbank.zeoCustomerService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding" originalBindingStyle="document" />
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema xmlns:mrm="www.tcfbank.zeoCustomerService" targetNamespace="www.tcfbank.zeoCustomerService">
      <xsd:include schemaLocation="https://10.111.109.3:443/TCF/mb/ZeoCustomerService?xsd=xsd0" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FindCustomer_in">
    <wsdl:part name="ZeoFindCustomerRequest" element="tns:ZeoFindCustomerRequest" />
  </wsdl:message>
  <wsdl:message name="FindCustomer_out">
    <wsdl:part name="ZeoFindCustomerResponse" element="tns:ZeoFindCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerRegistration_in">
    <wsdl:part name="ZeoCustomerRegRequest" element="tns:ZeoCustomerRegRequest" />
  </wsdl:message>
  <wsdl:message name="CustomerRegistration_out">
    <wsdl:part name="ZeoCustomerRegResponse" element="tns:ZeoCustomerRegResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerPostFlush_in">
    <wsdl:part name="ZeoCustomerPostFlushRequest" element="tns:ZeoCustomerPostFlushRequest" />
  </wsdl:message>
  <wsdl:message name="CustomerPostFlush_out">
    <wsdl:part name="ZeoCustomerPostFlushResponse" element="tns:ZeoCustomerPostFlushResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerPreFlush_in">
    <wsdl:part name="ZeoCustomerPreFlushRequest" element="tns:ZeoCustomerPreFlushRequest" />
  </wsdl:message>
  <wsdl:message name="CustomerPreFlush_out">
    <wsdl:part name="ZeoCustomerPreFlushResponse" element="tns:ZeoCustomerPreFlushResponse" />
  </wsdl:message>
  <wsdl:portType name="ZeoCustomerService_MsgSetPortType">
    <wsdl:operation name="FindCustomer">
      <wsdl:input name="FindCustomer_Input" message="tns:FindCustomer_in" />
      <wsdl:output name="FindCustomer_Output" message="tns:FindCustomer_out" />
    </wsdl:operation>
    <wsdl:operation name="CustomerRegistration">
      <wsdl:input name="CustomerRegistration_Input" message="tns:CustomerRegistration_in" />
      <wsdl:output name="CustomerRegistration_Output" message="tns:CustomerRegistration_out" />
    </wsdl:operation>
    <wsdl:operation name="CustomerPostFlush">
      <wsdl:input name="CustomerPostFlush_Input" message="tns:CustomerPostFlush_in" />
      <wsdl:output name="CustomerPostFlush_Output" message="tns:CustomerPostFlush_out" />
    </wsdl:operation>
    <wsdl:operation name="CustomerPreFlush">
      <wsdl:input name="CustomerPreFlush_Input" message="tns:CustomerPreFlush_in" />
      <wsdl:output name="CustomerPreFlush_Output" message="tns:CustomerPreFlush_out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding" type="tns:ZeoCustomerService_MsgSetPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindCustomer">
      <soap:operation soapAction="SOAP" />
      <wsdl:input name="FindCustomer_Input">
        <soap:body use="literal" parts="ZeoFindCustomerRequest" />
      </wsdl:input>
      <wsdl:output name="FindCustomer_Output">
        <soap:body use="literal" parts="ZeoFindCustomerResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerRegistration">
      <soap:operation soapAction="SOAP" />
      <wsdl:input name="CustomerRegistration_Input">
        <soap:body use="literal" parts="ZeoCustomerRegRequest" />
      </wsdl:input>
      <wsdl:output name="CustomerRegistration_Output">
        <soap:body use="literal" parts="ZeoCustomerRegResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerPostFlush">
      <soap:operation soapAction="SOAP" />
      <wsdl:input name="CustomerPostFlush_Input">
        <soap:body use="literal" parts="ZeoCustomerPostFlushRequest" />
      </wsdl:input>
      <wsdl:output name="CustomerPostFlush_Output">
        <soap:body use="literal" parts="ZeoCustomerPostFlushResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerPreFlush">
      <soap:operation soapAction="SOAP" />
      <wsdl:input name="CustomerPreFlush_Input">
        <soap:body use="literal" parts="ZeoCustomerPreFlushRequest" />
      </wsdl:input>
      <wsdl:output name="CustomerPreFlush_Output">
        <soap:body use="literal" parts="ZeoCustomerPreFlushResponse" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZeoCustomer_Service">
    <wsdl:port name="ZeoCustomer_Port" binding="tns:ZeoCustomerService_MsgSetSOAP_HTTP_Binding">
      <soap:address location="https://10.111.109.3:443/TCF/mb/ZeoCustomerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>