ZEO/HotfixBranchCode/Zeo/CXN.Funds/Nexxo.Cxn.Fund.TSys/Service References/TSysPrepaidLoadSvc/201310112.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.tsysprepaid.com/common" targetNamespace="http://api.tsysprepaid.com/common" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="requestData">
    <xsd:attribute name="requestId" type="tns:AlphanumericMax50Required" use="required" />
    <xsd:attribute name="requestTime" type="xsd:dateTime" use="required" />
  </xsd:complexType>
  <xsd:complexType name="responseData">
    <xsd:complexContent mixed="false">
      <xsd:extension base="tns:requestData">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="result" type="tns:resultData" />
        </xsd:sequence>
        <xsd:attribute name="responseId" type="tns:AlphanumericMax50Required" use="required" />
        <xsd:attribute name="responseTime" type="xsd:dateTime" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="resultData">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="code" type="tns:AnyStringMax20Required" />
      <xsd:element minOccurs="1" name="codeDesc" type="tns:AnyStringMax300" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="IntString">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{1,10}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:length value="0" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="DoubleString">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{1,10}.[0-9]{4}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:length value="0" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="AlphanumericMax50Required">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="50" />
      <xsd:pattern value="[a-zA-Z0-9]*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AlphanumericWithSpecialCharMax300">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="300" />
      <xsd:pattern value="[a-zA-Z0-9\.\s',-_@#():]*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AnyStringMax50">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AnyStringMax255">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AnyStringMax300">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="300" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AnyStringMax20">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AnyStringMax50Required">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AnyStringMax255Required">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="255" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AnyStringMax20Required">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="YMDString">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="(29|21|20|19)[0-9][0-9](0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:length value="0" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="CardExpDate">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="(0[1-9]|1[0-2])/(2)[0-9][0-9][0-9]" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:length value="0" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="YMDStringRequired">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(29|21|20|19)[0-9][0-9](0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MDYString">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="(0[1-9]|1[0-2])/(0[1-9]|[1-2][0-9]|3[0-1])/(29|21|20|19)[0-9][0-9]" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:length value="0" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="YMDHmsString">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="(29|21|20|19)[0-9][0-9](0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])[0-2][0-9][0-6][0-9][0-6][0-9]" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:length value="0" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="MoneyString">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{1,10}.[0-9]{2}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:length value="0" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
  <xsd:simpleType name="DateTimeString">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="(0[1-9]|1[0-2])/(0[1-9]|[1-2][0-9]|3[0-1])/(29|21|20|19)[0-9][0-9] ([0-1][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:length value="0" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>
</xsd:schema>