ZEO/HotfixBranchCode/Zeo/CXN.Funds/Nexxo.Cxn.Fund.TSys/Service References/TSysFeeSvc/fee.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.tsysprepaid.com/fee/wsdl" xmlns:type="http://api.tsysprepaid.com/fee/type" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:fee="http://api.tsysprepaid.com/fee" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.tsysprepaid.com/fee/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="http://api.tsysprepaid.com/fee/type">
      <xsd:import schemaLocation="https://uat-api-4.tsysprepaid.com/api/fee?xsd=fee.xsd" namespace="http://api.tsysprepaid.com/fee" />
      <xsd:element name="chargeFee" type="fee:chargeFeeRequest" />
      <xsd:element name="chargeFeeResponse" type="fee:chargeFeeResponse" />
      <xsd:element name="refundFee" type="fee:refundFeeRequest" />
      <xsd:element name="refundFeeResponse" type="fee:refundFeeResponse" />
      <xsd:element name="applyFee" type="fee:applyFeeRequest" />
      <xsd:element name="applyFeeResponse" type="fee:applyFeeResponse" />
      <xsd:element name="getAccountFeeDetails" type="fee:getAccountFeeDetailsRequest" />
      <xsd:element name="getAccountFeeDetailsResponse" type="fee:getAccountFeeDetailsResponse" />
      <xsd:element name="chargeFeeException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="fee:chargeFeeError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="refundFeeException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="fee:refundFeeError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="applyFeeException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="fee:applyFeeError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountFeeDetailsException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="fee:getAccountFeeDetailsError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="getAccountFeeDetailsException">
    <part name="error" element="type:getAccountFeeDetailsException" />
  </message>
  <message name="applyFeeResponse">
    <part name="parameters" element="type:applyFeeResponse" />
  </message>
  <message name="refundFeeResponse">
    <part name="parameters" element="type:refundFeeResponse" />
  </message>
  <message name="applyFeeException">
    <part name="error" element="type:applyFeeException" />
  </message>
  <message name="applyFee">
    <part name="parameters" element="type:applyFee" />
  </message>
  <message name="chargeFee">
    <part name="parameters" element="type:chargeFee" />
  </message>
  <message name="refundFee">
    <part name="parameters" element="type:refundFee" />
  </message>
  <message name="getAccountFeeDetailsResponse">
    <part name="parameters" element="type:getAccountFeeDetailsResponse" />
  </message>
  <message name="refundFeeException">
    <part name="error" element="type:refundFeeException" />
  </message>
  <message name="chargeFeeResponse">
    <part name="parameters" element="type:chargeFeeResponse" />
  </message>
  <message name="getAccountFeeDetails">
    <part name="parameters" element="type:getAccountFeeDetails" />
  </message>
  <message name="chargeFeeException">
    <part name="error" element="type:chargeFeeException" />
  </message>
  <portType name="feeService">
    <operation name="chargeFee">
      <input message="tns:chargeFee" />
      <output message="tns:chargeFeeResponse" />
      <fault name="chargeFeeException" message="tns:chargeFeeException" />
    </operation>
    <operation name="refundFee">
      <input message="tns:refundFee" />
      <output message="tns:refundFeeResponse" />
      <fault name="refundFeeException" message="tns:refundFeeException" />
    </operation>
    <operation name="applyFee">
      <input message="tns:applyFee" />
      <output message="tns:applyFeeResponse" />
      <fault name="applyFeeException" message="tns:applyFeeException" />
    </operation>
    <operation name="getAccountFeeDetails">
      <input message="tns:getAccountFeeDetails" />
      <output message="tns:getAccountFeeDetailsResponse" />
      <fault name="getAccountFeeDetailsException" message="tns:getAccountFeeDetailsException" />
    </operation>
  </portType>
  <binding name="feeService" type="tns:feeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="chargeFee">
      <soap:operation soapAction="urn:#chargeFee" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="chargeFeeException">
        <soap:fault use="literal" name="chargeFeeException" namespace="" />
      </fault>
    </operation>
    <operation name="refundFee">
      <soap:operation soapAction="urn:#refundFee" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="refundFeeException">
        <soap:fault use="literal" name="refundFeeException" namespace="" />
      </fault>
    </operation>
    <operation name="applyFee">
      <soap:operation soapAction="urn:#applyFee" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="applyFeeException">
        <soap:fault use="literal" name="applyFeeException" namespace="" />
      </fault>
    </operation>
    <operation name="getAccountFeeDetails">
      <soap:operation soapAction="urn:#getAccountFeeDetails" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getAccountFeeDetailsException">
        <soap:fault use="literal" name="getAccountFeeDetailsException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="fee">
    <port name="feeService" binding="tns:feeService">
      <soap:address location="https://uat-api-4.tsysprepaid.com/api/fee" />
    </port>
  </service>
</definitions>