ZEO/Zeo/Alloy/TCF.Zeo.Cxn.Customer.TCF/Service References/TellerWorkQueueService/TellerWorkQueueWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://teller.tcfbank.com/TellerWorkQueueWS/TellerWorkQueueWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TellerWorkQueueWS" />
  <xs:element name="Precart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TellerWorkQueueWS" minOccurs="0" name="preCartRequest" nillable="true" type="q1:PrecartRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TellerWorkQueueWS" minOccurs="0" name="PrecartResult" nillable="true" type="q2:PrecartResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTodoListResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="todoList" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWorkItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Postcart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TellerWorkQueueWS" minOccurs="0" name="postcartRequest" nillable="true" type="q3:PostcartRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostcartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TellerWorkQueueWS" minOccurs="0" name="PostcartResult" nillable="true" type="q4:PostcartResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>