ZEO/Zeo/Alloy/TCF.Zeo.Cxn.Customer.TCF/Service References/TellerWorkQueueService/TellerWorkQueueWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TellerWorkQueueWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TellerWorkQueueWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PrecartRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BasicAuthInformation" nillable="true" type="tns:BasicAuthInfo" />
      <xs:element minOccurs="0" name="CustomerInformation" nillable="true" type="tns:CustomerInfo" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionSummary" nillable="true" type="tns:ArrayOfZeoTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrecartRequest" nillable="true" type="tns:PrecartRequest" />
  <xs:complexType name="BasicAuthInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AMPMIndicator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CashDrawer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LawsonId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubClientNodeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicAuthInfo" nillable="true" type="tns:BasicAuthInfo" />
  <xs:complexType name="CustomerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CitizenshipCountry1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CitizenshipCountry2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientCustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerSince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployerPhoneNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdExpDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdIssueDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdIssuer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdIssuerCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maiden" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEXXOPAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber1Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber2Prov" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber2Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCFCustomerIndicator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCFExist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCFPAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerInfo" nillable="true" type="tns:CustomerInfo" />
  <xs:complexType name="ArrayOfZeoTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZeoTransaction" nillable="true" type="tns:ZeoTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZeoTransaction" nillable="true" type="tns:ArrayOfZeoTransaction" />
  <xs:complexType name="ZeoTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AliasId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardNbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryOption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InitialPurchase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoadAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MTCN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewCardBalance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupStateProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaseFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCFABA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCFAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCFAppl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToCountryOfBirth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDeliveryMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDeliveryOption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToGender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToOccupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToPickupCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToPickupCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToPickupStateProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToSecondLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToStateProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WithdrawAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZeoTransaction" nillable="true" type="tns:ZeoTransaction" />
  <xs:complexType name="PrecartResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrecartResponse" nillable="true" type="tns:PrecartResponse" />
  <xs:complexType name="PostcartRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BasicAuthInformation" nillable="true" type="tns:BasicAuthInfo" />
      <xs:element minOccurs="0" name="CustomerInformation" nillable="true" type="tns:CustomerInfo" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:ZeoTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostcartRequest" nillable="true" type="tns:PostcartRequest" />
  <xs:complexType name="PostcartResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerRiskScore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GPRRiskScore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZeoServicesRiskScore" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostcartResponse" nillable="true" type="tns:PostcartResponse" />
</xs:schema>