ZEO/Zeo/Alloy/WSDL/Synovus-FIS/SynovusFIS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wsdlNexxoPolicy" targetNamespace="http://services.synovus.com/" xmlns:s0="mtvnCWCICustDueDiligenceSvcReq" xmlns:s1="mtvnCWCICustDueDiligenceSvcRes" xmlns:s10="mtvnCWCICustNameAddrMaintSvcRes" xmlns:s11="mtvnCWCIOpenIndvCustSvcReq" xmlns:s12="mtvnCWCIOpenIndvCustSvcRes" xmlns:s13="mtvnCWCIOpenMiscAcctSvcReq" xmlns:s14="mtvnCWCIOpenMiscAcctSvcRes" xmlns:s2="mtvnCWCICustDemogMaintSvcReq" xmlns:s3="mtvnCWCICustDemogMaintSvcRes" xmlns:s4="mtvnCWCICustInqSvcReq" xmlns:s5="mtvnCWCICustInqSvcRes" xmlns:s6="http://xaware.com/xas/ns1/type" xmlns:s7="mtvnCWCICustTaxNbrSrchSvcReq" xmlns:s8="mtvnCWCICustTaxNbrSrchSvcRes" xmlns:s9="mtvnCWCICustNameAddrMaintSvcReq" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.synovus.com/" xmlns:tns0="http://services.soa.synovus.com/schemas/ApplicationKey" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://xaware.com/xas/ns1/type" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.soa.synovus.com/schemas/ApplicationKey" xmlns:typens="http://xaware.com/xas/ns1/type" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlns="http://xaware.com/xas/ns1/wsdl/" xmlns:xa="http://xaware.com/xas/ns1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://services.soa.synovus.com/schemas/ApplicationKey" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd0"/>
    </xsd:schema>
    <xsd:schema xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:import0="mtvnCWCICustDueDiligenceSvcReq" xmlns:import1="mtvnCWCICustDueDiligenceSvcRes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="mtvnCICustDueDiligenceWSV1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="mtvnCWCICustDueDiligenceSvcReq" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd1"/>
			<xsd:import namespace="mtvnCWCICustDueDiligenceSvcRes" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd3"/>
    <xsd:import namespace="mtvnCWCICustDemogMaintSvcReq" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd5"/>
    <xsd:import namespace="mtvnCWCICustDemogMaintSvcRes" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd7"/>
    <xsd:import namespace="mtvnCWCICustInqSvcReq" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd9"/>
    <xsd:import namespace="mtvnCWCICustInqSvcRes" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd11"/>
    <xsd:import namespace="mtvnCWCICustTaxNbrSrchSvcReq" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd13"/>
    <xsd:import namespace="mtvnCWCICustTaxNbrSrchSvcRes" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd15"/>
    <xsd:import namespace="mtvnCWCICustNameAddrMaintSvcReq" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd17"/>
    <xsd:import namespace="mtvnCWCICustNameAddrMaintSvcRes" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd19"/>
    <xsd:import namespace="mtvnCWCIOpenIndvCustSvcReq" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd21"/>
    <xsd:import namespace="mtvnCWCIOpenIndvCustSvcRes" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd23"/>
    <xsd:import namespace="mtvnCWCIOpenMiscAcctSvcReq" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd25"/>
    <xsd:import namespace="mtvnCWCIOpenMiscAcctSvcRes" schemaLocation="https://proxy.ic.local/synovus/wsdlNexxoPolicy?xsd=xsd27"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="CICustDueDiligenceMtvnSvcReqMsg">
<wsdl:documentation/>
    <wsdl:part name="messagePart" element="s0:CICustDueDiligenceMtvnSvcReq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CICustDueDiligenceMtvnSvcResMsg">
<wsdl:documentation/>
    <wsdl:part name="messagePart" element="s1:CICustDueDiligenceMtvnSvcRes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CICustDemogMaintMtvnSvcReqMsg">
<wsdl:documentation/>
    <wsdl:part name="messagePart" element="s2:CICustDemogMaintMtvnSvcReq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CICustDemogMaintMtvnSvcResMsg">
<wsdl:documentation/>
    <wsdl:part name="messagePart" element="s3:CICustDemogMaintMtvnSvcRes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CICustInqMtvnSvcReqMsg">
<wsdl:documentation/>
    <wsdl:part name="messagePart" element="s4:CICustInqMtvnSvcReq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CICustInqMtvnSvcResMsg">
<wsdl:documentation/>
    <wsdl:part name="messagePart" element="s5:CICustInqMtvnSvcRes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getApplInfo_synovus_soa_applicationkey_getAppKey_xbdExecuteRequest">
    <wsdl:part name="XMLInput" element="tns0:ApplicationKeyRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getApplInfo_synovus_soa_applicationkey_getAppKey_xbdExecuteResponse">
    <wsdl:part name="Response" element="tns0:ApplicationKeyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CICustTaxNbrSrchMtvnSvcReqMsg">
<wsdl:documentation/>
    <wsdl:part name="messagePart" element="s7:CICustTaxNbrSrchMtvnSvcReq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CICustTaxNbrSrchMtvnSvcResMsg">
<wsdl:documentation/>
    <wsdl:part name="messagePart" element="s8:CICustTaxNbrSrchMtvnSvcRes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CICustNameAddrMaintMtvnSvcReqMsg">
<wsdl:documentation/>
    <wsdl:part name="messagePart" element="s9:CICustNameAddrMaintMtvnSvcReq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CICustNameAddrMaintMtvnSvcResMsg">
<wsdl:documentation/>
    <wsdl:part name="messagePart" element="s10:CICustNameAddrMaintMtvnSvcRes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CIOpenIndvCustMtvnSvcReqMsg">
<wsdl:documentation/>
    <wsdl:part name="messagePart" element="s11:CIOpenIndvCustMtvnSvcReq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CIOpenIndvCustMtvnSvcResMsg">
<wsdl:documentation/>
    <wsdl:part name="messagePart" element="s12:CIOpenIndvCustMtvnSvcRes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CIOpenMiscAcctMtvnSvcReqMsg">
<wsdl:documentation/>
    <wsdl:part name="messagePart" element="s13:CIOpenMiscAcctMtvnSvcReq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CIOpenMiscAcctMtvnSvcResMsg">
<wsdl:documentation/>
    <wsdl:part name="messagePart" element="s14:CIOpenMiscAcctMtvnSvcRes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="wsdlNexxoPolicy">
    <wsdl:operation name="CICustDueDiligence">
<wsdl:documentation/>
      <wsdl:input name="CICustDueDiligenceRequest1" message="tns:CICustDueDiligenceMtvnSvcReqMsg">
    </wsdl:input>
      <wsdl:output name="CICustDueDiligenceResponse1" message="tns:CICustDueDiligenceMtvnSvcResMsg">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CICustDemogMaint">
<wsdl:documentation/>
      <wsdl:input name="CICustDemogMaintRequest1" message="tns:CICustDemogMaintMtvnSvcReqMsg">
    </wsdl:input>
      <wsdl:output name="CICustDemogMaintResponse1" message="tns:CICustDemogMaintMtvnSvcResMsg">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CICustInq">
<wsdl:documentation/>
      <wsdl:input name="CICustInqRequest1" message="tns:CICustInqMtvnSvcReqMsg">
    </wsdl:input>
      <wsdl:output name="CICustInqResponse1" message="tns:CICustInqMtvnSvcResMsg">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synovus.soa.applicationkey.getAppKey.xbd">
      <wsdl:input name="synovus.soa.applicationkey.getAppKey.xbdRequest1" message="tns:getApplInfo_synovus_soa_applicationkey_getAppKey_xbdExecuteRequest">
    </wsdl:input>
      <wsdl:output name="synovus.soa.applicationkey.getAppKey.xbdResponse1" message="tns:getApplInfo_synovus_soa_applicationkey_getAppKey_xbdExecuteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CICustTaxNbrSrch">
<wsdl:documentation/>
      <wsdl:input name="CICustTaxNbrSrchRequest1" message="tns:CICustTaxNbrSrchMtvnSvcReqMsg">
    </wsdl:input>
      <wsdl:output name="CICustTaxNbrSrchResponse1" message="tns:CICustTaxNbrSrchMtvnSvcResMsg">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CICustNameAddrMaint">
<wsdl:documentation/>
      <wsdl:input name="CICustNameAddrMaintRequest1" message="tns:CICustNameAddrMaintMtvnSvcReqMsg">
    </wsdl:input>
      <wsdl:output name="CICustNameAddrMaintResponse1" message="tns:CICustNameAddrMaintMtvnSvcResMsg">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CIOpenIndvCust">
<wsdl:documentation/>
      <wsdl:input name="CIOpenIndvCustRequest1" message="tns:CIOpenIndvCustMtvnSvcReqMsg">
    </wsdl:input>
      <wsdl:output name="CIOpenIndvCustResponse1" message="tns:CIOpenIndvCustMtvnSvcResMsg">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CIOpenMiscAcct">
<wsdl:documentation/>
      <wsdl:input name="CIOpenMiscAcctRequest1" message="tns:CIOpenMiscAcctMtvnSvcReqMsg">
    </wsdl:input>
      <wsdl:output name="CIOpenMiscAcctResponse1" message="tns:CIOpenMiscAcctMtvnSvcResMsg">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsdlNexxoPolicy" type="tns:wsdlNexxoPolicy">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CICustDueDiligence">
      <soap:operation soapAction="CICustDueDiligenceWSV1:CICustDueDiligenceMtvnSvcReqMsg" style="document"/>
      <wsdl:input name="CICustDueDiligenceRequest1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CICustDueDiligenceResponse1">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CICustDemogMaint">
      <soap:operation soapAction="CICustDemogMaintWSV1:CICustDemogMaintMtvnSvcReqMsg" style="document"/>
      <wsdl:input name="CICustDemogMaintRequest1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CICustDemogMaintResponse1">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CICustInq">
      <soap:operation soapAction="CICustInqWSV3:CICustInqMtvnSvcReqMsg" style="document"/>
      <wsdl:input name="CICustInqRequest1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CICustInqResponse1">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synovus.soa.applicationkey.getAppKey.xbd">
      <soap:operation soapAction="http://xaware.com/xas/ns1/getApplInfo/action/synovus.soa.applicationkey.getAppKey.xbd"/>
      <wsdl:input name="synovus.soa.applicationkey.getAppKey.xbdRequest1">
        <soap:body parts="XMLInput" use="literal"/>
      </wsdl:input>
      <wsdl:output name="synovus.soa.applicationkey.getAppKey.xbdResponse1">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CICustTaxNbrSrch">
      <soap:operation soapAction="CICustTaxNbrSrchWSV6:CICustTaxNbrSrchMtvnSvcReqMsg" style="document"/>
      <wsdl:input name="CICustTaxNbrSrchRequest1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CICustTaxNbrSrchResponse1">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CICustNameAddrMaint">
      <soap:operation soapAction="CICustNameAddrMaintWSV3:CICustNameAddrMaintMtvnSvcReqMsg" style="document"/>
      <wsdl:input name="CICustNameAddrMaintRequest1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CICustNameAddrMaintResponse1">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CIOpenIndvCust">
      <soap:operation soapAction="CIOpenIndvCustWSV4:CIOpenIndvCustMtvnSvcReqMsg" style="document"/>
      <wsdl:input name="CIOpenIndvCustRequest1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CIOpenIndvCustResponse1">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CIOpenMiscAcct">
      <soap:operation soapAction="CIOpenMiscAcctWSV3:CIOpenMiscAcctMtvnSvcReqMsg" style="document"/>
      <wsdl:input name="CIOpenMiscAcctRequest1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CIOpenMiscAcctResponse1">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsdlNexxoPolicy">
    <wsdl:port name="wsdlNexxoPolicy" binding="tns:wsdlNexxoPolicy">
      <soap:address location="https://proxy.ic.local/synovus/wsdlNexxoPolicy"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>