ZEO/Zeo/CXN.Client/MGI.Cxn.Partner.TCF/Service References/RCIFService/ZeoCustomerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:mrm="www.tcfbank.zeoCustomerService" targetNamespace="www.tcfbank.zeoCustomerService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ZeoCustomer">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="in" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ZeoFindCustomerResponse" type="mrm:ZeoCustomerResp" />
  <xsd:element name="ZeoCustomerRegResponse" type="mrm:ZeoCustomerResp" />
  <xsd:element name="ZeoCustomerPostFlushResponse" type="mrm:ZeoCustomerPostFlushResponse" />
  <xsd:element name="ZeoCustomerPreFlushResponse" type="mrm:ZeoCustomerPreFlushResponse" />
  <xsd:element name="ZeoCustomerFault" type="mrm:ZeoCustomerFault" />
  <xsd:element name="ZeoFindCustomerRequest" type="mrm:ZeoFindCustomerReq" />
  <xsd:element name="ZeoCustomerRegRequest" type="mrm:ZeoCustomerRegReq" />
  <xsd:element name="ZeoCustomerPreFlushRequest" type="mrm:ZeoCustomerPreFlushRequest" />
  <xsd:element name="ZeoCustomerPostFlushRequest" type="mrm:ZeoCustomerPostFlushRequest" />
  <xsd:complexType name="ZeoCustomerFault">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZeoFindCustomerReq">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MtvnSvcVer" type="xsd:string" />
      <xsd:element minOccurs="0" name="MsgUUID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PrcsParms" type="mrm:PrcsParms" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Svc" type="mrm:Svc" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZeoCustomerRegReq">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MtvnSvcVer" type="xsd:string" />
      <xsd:element minOccurs="0" name="MsgUUID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PrcsParms" type="mrm:PrcsParms" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Svc" type="mrm:Svc2" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZeoCustomerResp">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MtvnSvcVer" type="xsd:string" />
      <xsd:element minOccurs="0" name="MsgUUID" type="xsd:string" />
      <xsd:element minOccurs="0" name="Status" type="xsd:string" />
      <xsd:element minOccurs="0" name="ErrCde" type="xsd:string" />
      <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Svc1" type="mrm:Svc1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZeoCustomerRegResp">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MtvnSvcVer" type="xsd:string" />
      <xsd:element minOccurs="0" name="MsgUUID" type="xsd:string" />
      <xsd:element minOccurs="0" name="Status" type="xsd:string" />
      <xsd:element minOccurs="0" name="ErrCde" type="xsd:string" />
      <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Svc1" type="mrm:Svc1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZeoCustomerPreFlushRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MtvnSvcVer" type="xsd:string" />
      <xsd:element minOccurs="0" name="MsgUUID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PrcsParms" type="mrm:PrcsParms" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Svc" type="mrm:Svc" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PreFlushSummary" type="mrm:PreFlushSummary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZeoCustomerPreFlushResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MtvnSvcVer" type="xsd:string" />
      <xsd:element minOccurs="0" name="MsgUUID" type="xsd:string" />
      <xsd:element minOccurs="0" default="0" name="ErrCde" type="xsd:string" />
      <xsd:element minOccurs="0" default="PROCEED" name="ErrMsg" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Svc1" type="mrm:Svc1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZeoCustomerPostFlushResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MtvnSvcVer" type="xsd:string" />
      <xsd:element minOccurs="0" name="MsgUUID" type="xsd:string" />
      <xsd:element minOccurs="0" name="ErrCde" type="xsd:string" />
      <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
      <xsd:element minOccurs="0" name="TranId" type="xsd:string" />
      <xsd:element minOccurs="0" name="TranType" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Svc1" type="mrm:Svc1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZeoCustomerPostFlushRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MtvnSvcVer" type="xsd:string" />
      <xsd:element minOccurs="0" name="MsgUUID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PrcsParms" type="mrm:PrcsParms" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Svc" type="mrm:Svc" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PreFlushSummary" type="mrm:PreFlushSummary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrcsParms">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SrcID" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Svc">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SvcParms" type="mrm:SvcParms" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Security" type="mrm:Security" />
      <xsd:element minOccurs="1" maxOccurs="1" name="MsgData" type="mrm:MsgData" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SvcParms">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ApplID" type="xsd:string" />
      <xsd:element minOccurs="0" name="SvcID" type="xsd:string" />
      <xsd:element minOccurs="0" name="SvcVer" type="xsd:string" />
      <xsd:element minOccurs="0" name="SvcNme" type="xsd:string" />
      <xsd:element minOccurs="0" name="RqstUUID" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Security">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="BasicAuth" type="mrm:BasicAuth" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BasicAuth">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UsrID" type="xsd:string" />
      <xsd:element minOccurs="0" name="tellerNbr" type="xsd:int" />
      <xsd:element minOccurs="0" name="branchNbr" type="xsd:int" />
      <xsd:element minOccurs="0" name="bankNbr" type="xsd:int" />
      <xsd:element minOccurs="0" name="subClientNodeID" type="xsd:string" />
      <xsd:element minOccurs="0" name="lawsonID" type="xsd:string" />
      <xsd:element minOccurs="0" name="lu" type="xsd:string" />
      <xsd:element minOccurs="0" name="cashDrawer" type="xsd:string" />
      <xsd:element minOccurs="0" name="amPmInd" type="xsd:string" />
      <xsd:element minOccurs="0" name="HostName" type="xsd:string" />
      <xsd:element minOccurs="0" name="BusinessDate" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MsgData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ssn" type="xsd:string" />
      <xsd:element minOccurs="0" name="cardNum" type="xsd:string" />
      <xsd:element minOccurs="0" name="AcctNum" type="xsd:string" />
      <xsd:element minOccurs="0" name="AcctType" type="xsd:string" />
      <xsd:element minOccurs="0" name="LName" type="xsd:string" />
      <xsd:element minOccurs="0" name="Ph1" type="xsd:string" />
      <xsd:element minOccurs="0" name="dob" type="xsd:string" />
      <xsd:element minOccurs="0" name="idNbr" type="xsd:string" />
      <xsd:element minOccurs="0" name="ClientCustId" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="8" name="CustInfo" type="mrm:CustInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Svc1">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Status" type="xsd:string" />
      <xsd:element minOccurs="0" name="ErrCde" type="xsd:string" />
      <xsd:element minOccurs="0" name="ErrMsg" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SvcParms1" type="mrm:SvcParms1" />
      <xsd:element minOccurs="1" maxOccurs="1" name="MsgData1" type="mrm:MsgData1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Svc2">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SvcParms" type="mrm:SvcParms" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Security" type="mrm:Security" />
      <xsd:element minOccurs="1" maxOccurs="1" name="MsgData" type="mrm:MsgData1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SvcParms1">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ApplID" type="xsd:string" />
      <xsd:element minOccurs="0" name="SvcID" type="xsd:string" />
      <xsd:element minOccurs="0" name="SvcVer" type="xsd:string" />
      <xsd:element minOccurs="0" name="RqstUUID" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MsgData1">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="8" name="CustInfo" type="mrm:CustInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="PersonalInfo" type="mrm:PersonalInfo" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Identification" type="mrm:Identification" />
      <xsd:element minOccurs="0" maxOccurs="1" name="EmploymentInfo" type="mrm:EmploymentInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PersonalInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FName" type="xsd:string" />
      <xsd:element minOccurs="0" name="MName" type="xsd:string" />
      <xsd:element minOccurs="0" name="LName" type="xsd:string" />
      <xsd:element minOccurs="0" name="Addr1" type="xsd:string" />
      <xsd:element minOccurs="0" name="Addr2" type="xsd:string" />
      <xsd:element minOccurs="0" name="City" type="xsd:string" />
      <xsd:element minOccurs="0" name="State" type="xsd:string" />
      <xsd:element minOccurs="0" name="zip" type="xsd:string" />
      <xsd:element minOccurs="0" name="Ph1" type="xsd:string" />
      <xsd:element minOccurs="0" name="Ph1Type1" type="xsd:string" />
      <xsd:element minOccurs="0" name="Ph1Prov" type="xsd:string" />
      <xsd:element minOccurs="0" name="Ph2" type="xsd:string" />
      <xsd:element minOccurs="0" name="Ph2Type2" type="xsd:string" />
      <xsd:element minOccurs="0" name="Ph2Prov" type="xsd:string" />
      <xsd:element minOccurs="0" name="email" type="xsd:string" />
      <xsd:element minOccurs="0" name="CustType" type="xsd:string" />
      <xsd:element minOccurs="0" name="ssn" type="xsd:string" />
      <xsd:element minOccurs="0" name="TaxCd" type="xsd:string" />
      <xsd:element minOccurs="0" name="gen" type="xsd:string" />
      <xsd:element minOccurs="0" name="CustSince" type="xsd:string" />
      <xsd:element minOccurs="0" name="tcfExist" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="NexxoPan" type="xsd:integer" />
      <xsd:element minOccurs="0" name="ClientCustId" type="xsd:integer" />
      <xsd:element minOccurs="0" name="gender" type="xsd:string" />
      <xsd:element minOccurs="0" name="tcfCustind" type="xsd:string" />
      <xsd:element minOccurs="0" name="tcfPAN" type="xsd:string" />
      <xsd:element minOccurs="0" name="PRODCODE" type="xsd:string" />
      <xsd:element minOccurs="0" name="APPL_CD" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identification">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dob" type="xsd:string" />
      <xsd:element minOccurs="0" name="maiden" type="xsd:string" />
      <xsd:element minOccurs="0" name="idType" type="xsd:string" />
      <xsd:element minOccurs="0" name="idIssuer" type="xsd:string" />
      <xsd:element minOccurs="0" name="idIssuerCountry" type="xsd:string" />
      <xsd:element minOccurs="0" name="idNbr" type="xsd:string" />
      <xsd:element minOccurs="0" name="idIssueDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="idExpDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="legalCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="citizenshipCountry1" type="xsd:string" />
      <xsd:element minOccurs="0" name="citizenshipCountry2" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmploymentInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Occupation" type="xsd:string" />
      <xsd:element minOccurs="0" name="OccDesc" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployerName" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployerPhoneNum" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PreFlushSummary">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="SessionId" type="xsd:integer" />
      <xsd:element minOccurs="1" maxOccurs="50" name="transaction" type="mrm:PreFlushSummary_Transaction" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PreFlushSummary_Transaction">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tranID" type="xsd:string" />
      <xsd:element minOccurs="0" name="tranType" type="xsd:string" />
      <xsd:element minOccurs="0" name="MTCN" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:string" />
      <xsd:element minOccurs="0" name="fee" type="xsd:string" />
      <xsd:element minOccurs="0" name="total" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToFirstName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToMiddleName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToLastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToSecondLastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToGender" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToCountry" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToCity" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToState_Province" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToZipCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToPhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToPickupCountry" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToPickupState_Province" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToPickupCity" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToDeliveryMethod" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToDeliveryOption" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToOccupation" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToDOB" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToCountryOfBirth" type="xsd:string" />
      <xsd:element minOccurs="0" name="FirstName" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="SecondLastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="Gender" type="xsd:string" />
      <xsd:element minOccurs="0" name="Country" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address" type="xsd:string" />
      <xsd:element minOccurs="0" name="City" type="xsd:string" />
      <xsd:element minOccurs="0" name="State_Province" type="xsd:string" />
      <xsd:element minOccurs="0" name="ZipCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="PickupCountry" type="xsd:string" />
      <xsd:element minOccurs="0" name="PickupState_Province" type="xsd:string" />
      <xsd:element minOccurs="0" name="PickupCity" type="xsd:string" />
      <xsd:element minOccurs="0" name="DeliveryMethod" type="xsd:string" />
      <xsd:element minOccurs="0" name="DeliveryOption" type="xsd:string" />
      <xsd:element minOccurs="0" name="Occupation" type="xsd:string" />
      <xsd:element minOccurs="0" name="DOB" type="xsd:string" />
      <xsd:element minOccurs="0" name="CountryOfBirth" type="xsd:string" />
      <xsd:element minOccurs="0" name="acctNbr" type="xsd:string" />
      <xsd:element minOccurs="0" name="CheckType" type="xsd:string" />
      <xsd:element minOccurs="0" name="CheckNbr" type="xsd:string" />
      <xsd:element minOccurs="0" name="payee" type="xsd:string" />
      <xsd:element minOccurs="0" name="ConfirmationNbr" type="xsd:string" />
      <xsd:element minOccurs="0" name="TCFABA" type="xsd:string" />
      <xsd:element minOccurs="0" name="TCFAccount" type="xsd:string" />
      <xsd:element minOccurs="0" name="InitialPurchase" type="xsd:string" />
      <xsd:element minOccurs="0" name="purchasefee" type="xsd:string" />
      <xsd:element minOccurs="0" name="NewCardBalance" type="xsd:string" />
      <xsd:element minOccurs="0" name="CardNbr" type="xsd:string" />
      <xsd:element minOccurs="0" name="AliasId" type="xsd:string" />
      <xsd:element minOccurs="0" name="LoadAmount" type="xsd:string" />
      <xsd:element minOccurs="0" name="WithdrawAmount" type="xsd:string" />
      <xsd:element minOccurs="0" name="TCFappl" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostFlushSummary">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SessionId" type="xsd:integer" />
      <xsd:element minOccurs="0" name="tranID" type="xsd:string" />
      <xsd:element minOccurs="0" name="tranType" type="xsd:string" />
      <xsd:element minOccurs="0" name="MTCN" type="xsd:string" />
      <xsd:element minOccurs="0" name="amount" type="xsd:string" />
      <xsd:element minOccurs="0" name="fee" type="xsd:string" />
      <xsd:element minOccurs="0" name="total" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToFirstName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToMiddleName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToLastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToSecondLastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToGender" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToCountry" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToCity" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToState_Province" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToZipCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToPhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToPickupCountry" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToPickupState_Province" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToPickupCity" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToDeliveryMethod" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToDeliveryOption" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToOccupation" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToDOB" type="xsd:string" />
      <xsd:element minOccurs="0" name="ToCountryOfBirth" type="xsd:string" />
      <xsd:element minOccurs="0" name="FirstName" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="SecondLastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="Gender" type="xsd:string" />
      <xsd:element minOccurs="0" name="Country" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address" type="xsd:string" />
      <xsd:element minOccurs="0" name="City" type="xsd:string" />
      <xsd:element minOccurs="0" name="State_Province" type="xsd:string" />
      <xsd:element minOccurs="0" name="ZipCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="PickupCountry" type="xsd:string" />
      <xsd:element minOccurs="0" name="PickupState_Province" type="xsd:string" />
      <xsd:element minOccurs="0" name="PickupCity" type="xsd:string" />
      <xsd:element minOccurs="0" name="DeliveryMethod" type="xsd:string" />
      <xsd:element minOccurs="0" name="DeliveryOption" type="xsd:string" />
      <xsd:element minOccurs="0" name="Occupation" type="xsd:string" />
      <xsd:element minOccurs="0" name="DOB" type="xsd:string" />
      <xsd:element minOccurs="0" name="CountryOfBirth" type="xsd:string" />
      <xsd:element minOccurs="0" name="acctNbr" type="xsd:string" />
      <xsd:element minOccurs="0" name="CheckNbr" type="xsd:string" />
      <xsd:element minOccurs="0" name="payee" type="xsd:string" />
      <xsd:element minOccurs="0" name="ConfirmationNbr" type="xsd:string" />
      <xsd:element minOccurs="0" name="TCFABA" type="xsd:string" />
      <xsd:element minOccurs="0" name="TCFAccount" type="xsd:string" />
      <xsd:element minOccurs="0" name="InitialPurchase" type="xsd:string" />
      <xsd:element minOccurs="0" name="purchasefee" type="xsd:string" />
      <xsd:element minOccurs="0" name="NewCardBalance" type="xsd:string" />
      <xsd:element minOccurs="0" name="CardNbr" type="xsd:string" />
      <xsd:element minOccurs="0" name="AliasId" type="xsd:string" />
      <xsd:element minOccurs="0" name="LoadAmount" type="xsd:string" />
      <xsd:element minOccurs="0" name="WithdrawAmount" type="xsd:string" />
      <xsd:element minOccurs="0" name="TCFappl" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ZeoFindCustomerReq" type="mrm:ZeoFindCustomerReq" />
  <xsd:element name="ZeoCustomerRegReq" type="mrm:ZeoCustomerRegReq" />
  <xsd:element name="ZeoCustomerResp" type="mrm:ZeoCustomerResp" />
  <xsd:element name="ZeoCustomerRegResp" type="mrm:ZeoCustomerRegResp" />
  <xsd:element name="PrcsParms" type="mrm:PrcsParms" />
  <xsd:element name="Svc" type="mrm:Svc" />
  <xsd:element name="SvcParms" type="mrm:SvcParms" />
  <xsd:element name="Security" type="mrm:Security" />
  <xsd:element name="BasicAuth" type="mrm:BasicAuth" />
  <xsd:element name="MsgData" type="mrm:MsgData" />
  <xsd:element name="Svc1" type="mrm:Svc1" />
  <xsd:element name="Svc2" type="mrm:Svc2" />
  <xsd:element name="SvcParms1" type="mrm:SvcParms1" />
  <xsd:element name="MsgData1" type="mrm:MsgData1" />
  <xsd:element name="CustInfo" type="mrm:CustInfo" />
  <xsd:element name="PersonalInfo" type="mrm:PersonalInfo" />
  <xsd:element name="Identification" type="mrm:Identification" />
  <xsd:element name="EmploymentInfo" type="mrm:EmploymentInfo" />
  <xsd:element name="PreFlushSummary" type="mrm:PreFlushSummary" />
  <xsd:element name="PostFlushSummary" type="mrm:PostFlushSummary" />
  <xsd:element name="PreFlushSummary_Transaction" type="mrm:PreFlushSummary_Transaction" />
</xsd:schema>