ZEO/ADO.NET/LatestDevelop/Zeo/Alloy/MGI.Alloy.CXN.Customer.FIS/Service References/FISService/wsdlNexxoPolicy16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCICustInqResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCICustInqResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CICustInqResData">
    <xs:annotation>
      <xs:documentation>CIS Customer Inquiry (CI001) -  This function is used to retrieve general demographic information for the given customer.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E10093" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Application Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10086" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name (01)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10087" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name (02)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10088" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name (03)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10120" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name Title Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10098" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS First Name and Middle Initial</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10118" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Surname</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10116" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name Suffix Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10037" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 1 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10042" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 1 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10038" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 2 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10043" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 2 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10039" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 3 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10044" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 3 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10040" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 4 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10045" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 4 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10041" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 5 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10046" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 5 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10094" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS City</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10114" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS State</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10122" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS ZIP Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10109" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10113" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10097" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Fax Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10133" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Status</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10132" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Tax Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10134" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Tax Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10036" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Date of Birth</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10135" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10136" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10137" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10138" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10139" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10140" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10141" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10142" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10143" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10144" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10145" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 11</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10146" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 12</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10147" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 13</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10148" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 14</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10149" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 15</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10056" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS  Account Cycle Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10058" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Mail Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10050" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Driver's License </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10125" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Restriction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10052" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Census Tract Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10152" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Since Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10151" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Open Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10123" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Officer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10128" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Officer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10051" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Branch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10053" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Cost Center Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10047" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS ATS Service Charge Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10060" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10061" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10062" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10063" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10064" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10065" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10066" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10067" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10068" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10069" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10188" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 1 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10189" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 2 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10190" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 3 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10191" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 4 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10192" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 5 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10169" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Mother's Maiden Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10153" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Sex Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10159" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Employment/School</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10158" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Employment Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10163" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Income Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10171" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Occupation Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10168" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Marital Status Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10174" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Own/Rent Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10157" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Education Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10160" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Ethnic Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10198" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Type of Business Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10162" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Business Since Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10170" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Net Worth Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10193" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Sales Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10154" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Dun and Bradstreet Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10541" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS NAICS Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10028" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name Process Time</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10351" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Prospect Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10299" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Country Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10244" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized Country Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10699" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP TIN Applied For</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10700" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Risk Assessment</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10701" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Password</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10702" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Password Question</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10703" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Resolution of Discrepancy</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10704" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10705" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10706" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10707" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10708" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10709" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Expiration Date 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10710" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10711" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10712" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10713" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10714" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10715" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Expiration Date 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10716" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10717" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10718" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10719" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10720" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10721" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Expiration Date 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10722" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10723" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10724" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10725" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10726" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10728" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10729" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10730" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10731" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10732" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10733" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Expiration Date 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10734" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Type 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10735" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Results 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10736" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Type 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10737" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Results 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10738" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Type 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10739" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Results 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10740" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Incorporation Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10741" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Incorporation State</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E11001" type="xs:string">
          <xs:annotation>
            <xs:documentation>Address Override Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10423" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Title</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10422" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Suffix</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10424" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Appendage</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>