ZEO/HotfixBranchCode/Zeo/CXN.Funds/Nexxo.Cxn.Fund.TSys/Service References/TSysTransactionSvc/transaction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://api.tsysprepaid.com/transaction" xmlns:account="http://api.tsysprepaid.com/account" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://api.tsysprepaid.com/transaction" version="100" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://uat-api-4.tsysprepaid.com/api/transaction?xsd=account.xsd" namespace="http://api.tsysprepaid.com/account" />
  <xsd:simpleType name="transactionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="USER_TRANSFER" />
      <xsd:enumeration value="ADJUSTMENT" />
      <xsd:enumeration value="PROGRAM_USER_TRANSFER" />
      <xsd:enumeration value="FUND" />
      <xsd:enumeration value="REBATE" />
      <xsd:enumeration value="CANCEL" />
      <xsd:enumeration value="CHARGE" />
      <xsd:enumeration value="HOLD" />
      <xsd:enumeration value="HOLD_REVERSAL" />
      <xsd:enumeration value="HOLD_VOID" />
      <xsd:enumeration value="SETTLEMENT" />
      <xsd:enumeration value="CLOSE" />
      <xsd:enumeration value="REFUND" />
      <xsd:enumeration value="REDEEM" />
      <xsd:enumeration value="TRANSFER_REFUND" />
      <xsd:enumeration value="GIFT_REFUND" />
      <xsd:enumeration value="REQUEST_MONEY" />
      <xsd:enumeration value="PROVISIONAL_CREDIT" />
      <xsd:enumeration value="DONATION" />
      <xsd:enumeration value="FEE" />
      <xsd:enumeration value="FEE_HOLD" />
      <xsd:enumeration value="FEE_HOLD_REVERSAL" />
      <xsd:enumeration value="CCREFUND" />
      <xsd:enumeration value="MANUAL_FEE" />
      <xsd:enumeration value="FEE_REVERSAL" />
      <xsd:enumeration value="OVERFLOW" />
      <xsd:enumeration value="OVERFLOW_HOLD" />
      <xsd:enumeration value="OVERFLOW_HOLD_REVERSAL" />
      <xsd:enumeration value="SETTLEMENT_REFUND" />
      <xsd:enumeration value="LOAD" />
      <xsd:enumeration value="LOAD_VOID" />
      <xsd:enumeration value="WITHDRAWAL" />
      <xsd:enumeration value="UNKNOWN" />
      <xsd:enumeration value="PIN_CHANGE" />
      <xsd:enumeration value="PIN_UNBLOCK" />
      <xsd:enumeration value="PIN_CHANGE_REVERSAL" />
      <xsd:enumeration value="PIN_UNBLOCK_REVERSAL" />
      <xsd:enumeration value="PIN_CHANGE_ADVICE" />
      <xsd:enumeration value="PIN_UNBLOCK_ADVICE" />
      <xsd:enumeration value="PIN_CHANGE_REVERSAL_ADVICE" />
      <xsd:enumeration value="PIN_UNBLOCK_REVERSAL_ADVICE" />
      <xsd:enumeration value="CUSTOMER_SERVICE_ADJUSTMENT" />
      <xsd:enumeration value="PENDING_LOAD_ACH" />
      <xsd:enumeration value="REVERSAL_PENDING_LOAD_ACH" />
      <xsd:enumeration value="LOAD_ACH" />
      <xsd:enumeration value="PENDING_DEBIT_ACH" />
      <xsd:enumeration value="REVERSAL_PENDING_DEBIT_ACH" />
      <xsd:enumeration value="DEBIT_ACH" />
      <xsd:enumeration value="LOAD_AUTH" />
      <xsd:enumeration value="LOAD_AUTH_REVERSAL" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="transactionClass">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LOAD" />
      <xsd:enumeration value="ADJUSTMENT" />
      <xsd:enumeration value="TRANSFER" />
      <xsd:enumeration value="FEE" />
      <xsd:enumeration value="PURCHASE" />
      <xsd:enumeration value="INQUIRY" />
      <xsd:enumeration value="WITHDRAWAL" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="adjustType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CREDIT" />
      <xsd:enumeration value="DEBIT" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="transactionSubClass">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ARBITRATION" />
      <xsd:enumeration value="CHARGEBACK" />
      <xsd:enumeration value="CHARGEBACK_PROVISIONAL_CREDIT" />
      <xsd:enumeration value="CHARGEBACK_REJECT" />
      <xsd:enumeration value="CHARGEBACK_REPRESENTMENT_CREDIT" />
      <xsd:enumeration value="CHARGEBACK_TEMPORARY_HOLD" />
      <xsd:enumeration value="CHARGEBACK_WRITE_OFF" />
      <xsd:enumeration value="COURTESY_ADJUSTMENT" />
      <xsd:enumeration value="COURTESY_CREDIT" />
      <xsd:enumeration value="DECEASED_RETURN_TO_ESTATE" />
      <xsd:enumeration value="ESCHEATMENT" />
      <xsd:enumeration value="EXPIRED_CARD_FUNDS_REMOVAL" />
      <xsd:enumeration value="INCENTIVE" />
      <xsd:enumeration value="PAYROLL" />
      <xsd:enumeration value="REJECTS" />
      <xsd:enumeration value="WRITE_OFF" />
      <xsd:enumeration value="WRITE_OFF_2" />
      <xsd:enumeration value="CLOSE_USER" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="transactionData">
    <xsd:sequence>
      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:element minOccurs="0" name="cardId" type="xsd:long" />
      <xsd:element name="amount" type="xsd:long" />
      <xsd:element minOccurs="0" name="surchargeAmount" nillable="true" type="xsd:long" />
      <xsd:element name="description" type="xsd:string" />
      <xsd:element name="time" type="xsd:dateTime" />
      <xsd:element name="type" type="transactionType" />
      <xsd:element minOccurs="0" name="mcc" type="xsd:long" />
      <xsd:element name="referenceId" type="xsd:long" />
      <xsd:element name="fromAccountData" type="account:accountData" />
      <xsd:element name="toAccountData" type="account:accountData" />
      <xsd:element minOccurs="0" name="cvm" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="fallback" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="trans_sub_type" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="transaction_class" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="trans_sub_class_type" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="transaction_status" type="xsd:string" />
      <xsd:element minOccurs="0" name="transactionSourceId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="accountTransactionData">
    <xsd:sequence>
      <xsd:element name="accountId" type="xsd:long" />
      <xsd:element name="availableBalance" type="xsd:long" />
      <xsd:element name="ledgerBalance" type="xsd:long" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="transactions" nillable="true" type="transactionData" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cardTransactionData">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="accountTransactions" nillable="true" type="accountTransactionData" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="depositRequest">
    <xsd:sequence>
      <xsd:element name="accountId" type="xsd:long" />
      <xsd:element name="amount" type="xsd:long" />
      <xsd:element name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="depositResponse">
    <xsd:sequence>
      <xsd:element name="transactionId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="depositError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INVALID_PARAMETER_VALUE" />
      <xsd:enumeration value="PERMISSION_DENIED" />
      <xsd:enumeration value="OPERATION_NOT_ALLOWED" />
      <xsd:enumeration value="OPERATION_NOT_IMPLEMENTED" />
      <xsd:enumeration value="SYSTEM_ERROR" />
      <xsd:enumeration value="INSUFFICIENT_FUNDS" />
      <xsd:enumeration value="TRANSACTION_LIMIT_EXCEEDED" />
      <xsd:enumeration value="VELOCITY_LIMIT_EXCEEDED" />
      <xsd:enumeration value="INVALID_ACCOUNT_ID" />
      <xsd:enumeration value="INVALID_AMOUNT" />
      <xsd:enumeration value="INVALID_DESCRIPTION" />
      <xsd:enumeration value="ACCOUNT_MARKED_FRAUD" />
      <xsd:enumeration value="INVALID_PROGRAM_ID" />
      <xsd:enumeration value="LOAD_LIMIT_EXCEEDED" />
      <xsd:enumeration value="MAX_BALANCE_LIMIT_EXCEEDED" />
      <xsd:enumeration value="MIN_AMOUNT_LIMIT_EXCEPTION" />
      <xsd:enumeration value="MAX_AMOUNT_LIMIT_EXCEEDED" />
      <xsd:enumeration value="INVALID_CARD_ID" />
      <xsd:enumeration value="MIN_BALANCE_LIMIT_NOT_MET" />
      <xsd:enumeration value="GENERAL_SECURITY_EXCEPTION" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="withdrawRequest">
    <xsd:sequence>
      <xsd:element name="accountId" type="xsd:long" />
      <xsd:element name="amount" type="xsd:long" />
      <xsd:element name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="withdrawResponse">
    <xsd:sequence>
      <xsd:element name="transactionId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="withdrawError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INVALID_PARAMETER_VALUE" />
      <xsd:enumeration value="PERMISSION_DENIED" />
      <xsd:enumeration value="OPERATION_NOT_ALLOWED" />
      <xsd:enumeration value="OPERATION_NOT_IMPLEMENTED" />
      <xsd:enumeration value="SYSTEM_ERROR" />
      <xsd:enumeration value="INSUFFICIENT_FUNDS" />
      <xsd:enumeration value="TRANSACTION_LIMIT_EXCEEDED" />
      <xsd:enumeration value="VELOCITY_LIMIT_EXCEEDED" />
      <xsd:enumeration value="INVALID_ACCOUNT_ID" />
      <xsd:enumeration value="INVALID_AMOUNT" />
      <xsd:enumeration value="INVALID_DESCRIPTION" />
      <xsd:enumeration value="ACCOUNT_MARKED_FRAUD" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="transferRequest">
    <xsd:sequence>
      <xsd:element name="fromAccountId" type="xsd:long" />
      <xsd:element name="toAccountId" type="xsd:long" />
      <xsd:element name="amount" type="xsd:long" />
      <xsd:element name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="transferResponse">
    <xsd:sequence>
      <xsd:element name="transactionId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="transferError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INVALID_PARAMETER_VALUE" />
      <xsd:enumeration value="PERMISSION_DENIED" />
      <xsd:enumeration value="OPERATION_NOT_ALLOWED" />
      <xsd:enumeration value="OPERATION_NOT_IMPLEMENTED" />
      <xsd:enumeration value="SYSTEM_ERROR" />
      <xsd:enumeration value="INSUFFICIENT_FUNDS" />
      <xsd:enumeration value="INVALID_ACCOUNT_ID" />
      <xsd:enumeration value="INVALID_AMOUNT" />
      <xsd:enumeration value="INVALID_DESCRIPTION" />
      <xsd:enumeration value="ACCOUNT_MARKED_FRAUD" />
      <xsd:enumeration value="INVALID_PROGRAM_ID" />
      <xsd:enumeration value="LOAD_LIMIT_EXCEEDED" />
      <xsd:enumeration value="MAX_BALANCE_LIMIT_EXCEEDED" />
      <xsd:enumeration value="MIN_AMOUNT_LIMIT_EXCEPTION" />
      <xsd:enumeration value="MAX_AMOUNT_LIMIT_EXCEEDED" />
      <xsd:enumeration value="INVALID_CARD_ID" />
      <xsd:enumeration value="MIN_BALANCE_LIMIT_NOT_MET" />
      <xsd:enumeration value="GENERAL_SECURITY_EXCEPTION" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="getTransactionRequest">
    <xsd:sequence>
      <xsd:element name="transactionId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getTransactionResponse">
    <xsd:sequence>
      <xsd:element name="transaction" type="transactionData" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="getTransactionError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INVALID_PARAMETER_VALUE" />
      <xsd:enumeration value="PERMISSION_DENIED" />
      <xsd:enumeration value="OPERATION_NOT_ALLOWED" />
      <xsd:enumeration value="OPERATION_NOT_IMPLEMENTED" />
      <xsd:enumeration value="SYSTEM_ERROR" />
      <xsd:enumeration value="INVALID_TRANSACTION_ID" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="getAccountTransactionsRequest">
    <xsd:sequence>
      <xsd:element name="accountId" type="xsd:long" />
      <xsd:element name="rangeBegin" type="xsd:dateTime" />
      <xsd:element name="rangeEnd" type="xsd:dateTime" />
      <xsd:element name="number" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getAccountTransactionsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="accountTransactions" nillable="true" type="transactionData" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="getAccountTransactionsError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INVALID_PARAMETER_VALUE" />
      <xsd:enumeration value="PERMISSION_DENIED" />
      <xsd:enumeration value="OPERATION_NOT_ALLOWED" />
      <xsd:enumeration value="OPERATION_NOT_IMPLEMENTED" />
      <xsd:enumeration value="SYSTEM_ERROR" />
      <xsd:enumeration value="INVALID_ACCOUNT_ID" />
      <xsd:enumeration value="INVALID_DATE_RANGE" />
      <xsd:enumeration value="NO_TYPE_SPECIFIED" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="getProgramTransactionsRequest">
    <xsd:sequence>
      <xsd:element name="programId" type="xsd:long" />
      <xsd:element name="rangeBegin" type="xsd:dateTime" />
      <xsd:element name="rangeEnd" type="xsd:dateTime" />
      <xsd:element name="recursive" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getProgramTransactionsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="programTransactions" nillable="true" type="transactionData" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="getProgramTransactionsError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INVALID_PARAMETER_VALUE" />
      <xsd:enumeration value="PERMISSION_DENIED" />
      <xsd:enumeration value="OPERATION_NOT_ALLOWED" />
      <xsd:enumeration value="OPERATION_NOT_IMPLEMENTED" />
      <xsd:enumeration value="SYSTEM_ERROR" />
      <xsd:enumeration value="INVALID_PROGRAM_ID" />
      <xsd:enumeration value="INVALID_DATE_RANGE" />
      <xsd:enumeration value="NO_TYPE_SPECIFIED" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="getCardTransactionsRequest">
    <xsd:sequence>
      <xsd:element name="cardNumber" type="xsd:long" />
      <xsd:element minOccurs="0" name="cvm" nillable="true" type="xsd:long" />
      <xsd:element name="rangeBegin" type="xsd:dateTime" />
      <xsd:element name="rangeEnd" type="xsd:dateTime" />
      <xsd:element name="number" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getCardTransactionsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cardTransactions" nillable="true" type="cardTransactionData" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="getCardTransactionsError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INVALID_PARAMETER_VALUE" />
      <xsd:enumeration value="PERMISSION_DENIED" />
      <xsd:enumeration value="OPERATION_NOT_ALLOWED" />
      <xsd:enumeration value="OPERATION_NOT_IMPLEMENTED" />
      <xsd:enumeration value="SYSTEM_ERROR" />
      <xsd:enumeration value="INVALID_CARD_NUMBER" />
      <xsd:enumeration value="INVALID_VERIFICATION_CODE" />
      <xsd:enumeration value="INVALID_DATE_RANGE" />
      <xsd:enumeration value="NO_TYPE_SPECIFIED" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="cardHolderTransactionData">
    <xsd:sequence>
      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:element name="accountId" type="xsd:long" />
      <xsd:element minOccurs="0" name="cardId" type="xsd:long" />
      <xsd:element name="transactionTime" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="expiryTime" type="xsd:dateTime" />
      <xsd:element name="type" type="transactionType" />
      <xsd:element name="debitCredit" type="debitCreditType" />
      <xsd:element name="amount" type="xsd:long" />
      <xsd:element name="description" type="xsd:string" />
      <xsd:element name="balance" type="xsd:long" />
      <xsd:element name="referenceId" type="xsd:long" />
      <xsd:element minOccurs="0" name="mcc" type="xsd:long" />
      <xsd:element minOccurs="0" name="transaction_class" type="xsd:string" />
      <xsd:element minOccurs="0" name="trans_sub_class_type" type="xsd:string" />
      <xsd:element minOccurs="0" name="transaction_status" type="xsd:string" />
      <xsd:element minOccurs="0" name="transactionSourceId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="debitCreditType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DEBIT" />
      <xsd:enumeration value="CREDIT" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="getAccountAuthsOrTransactionsRequest">
    <xsd:sequence>
      <xsd:element name="accountId" type="xsd:long" />
      <xsd:element name="tranList" type="tranListType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="rangeBegin" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="rangeEnd" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="tranListType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PENDING" />
      <xsd:enumeration value="POSTED" />
      <xsd:enumeration value="HOLD" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="getAccountAuthsOrTransactionsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="cardHolderTransactions" type="cardHolderTransactionData" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="getAccountAuthsOrTransactionsError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INVALID_PARAMETER_VALUE" />
      <xsd:enumeration value="PERMISSION_DENIED" />
      <xsd:enumeration value="OPERATION_NOT_ALLOWED" />
      <xsd:enumeration value="OPERATION_NOT_IMPLEMENTED" />
      <xsd:enumeration value="SYSTEM_ERROR" />
      <xsd:enumeration value="INVALID_ACCOUNT_ID" />
      <xsd:enumeration value="INVALID_DATE_RANGE" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="adjustRequest">
    <xsd:sequence>
      <xsd:element name="accountId" type="xsd:long" />
      <xsd:element name="amount" type="xsd:long" />
      <xsd:element name="adjustType" type="adjustType" />
      <xsd:element name="transactionSubClass" type="transactionSubClass" />
      <xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="transactionSourceId" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="adjustResponse">
    <xsd:sequence>
      <xsd:element name="transactionId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="adjustError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INVALID_PARAMETER_VALUE" />
      <xsd:enumeration value="PERMISSION_DENIED" />
      <xsd:enumeration value="OPERATION_NOT_ALLOWED" />
      <xsd:enumeration value="OPERATION_NOT_IMPLEMENTED" />
      <xsd:enumeration value="SYSTEM_ERROR" />
      <xsd:enumeration value="INSUFFICIENT_FUNDS" />
      <xsd:enumeration value="TRANSACTION_LIMIT_EXCEEDED" />
      <xsd:enumeration value="VELOCITY_LIMIT_EXCEEDED" />
      <xsd:enumeration value="INVALID_ACCOUNT_ID" />
      <xsd:enumeration value="INVALID_AMOUNT" />
      <xsd:enumeration value="INVALID_DESCRIPTION" />
      <xsd:enumeration value="ACCOUNT_MARKED_FRAUD" />
      <xsd:enumeration value="INVALID_PROGRAM_ID" />
      <xsd:enumeration value="LOAD_LIMIT_EXCEEDED" />
      <xsd:enumeration value="MAX_BALANCE_LIMIT_EXCEEDED" />
      <xsd:enumeration value="MIN_AMOUNT_LIMIT_EXCEPTION" />
      <xsd:enumeration value="MAX_AMOUNT_LIMIT_EXCEEDED" />
      <xsd:enumeration value="INVALID_CARD_ID" />
      <xsd:enumeration value="MIN_BALANCE_LIMIT_NOT_MET" />
      <xsd:enumeration value="GENERAL_SECURITY_EXCEPTION" />
      <xsd:enumeration value="INVALID_SOURCE_ID" />
      <xsd:enumeration value="NO_PARTICIPATION" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="releaseHoldRequest">
    <xsd:sequence>
      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:element name="releaseReason" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="releaseHoldResponse">
    <xsd:sequence>
      <xsd:element name="resultId" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="releaseHoldError">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INVALID_PARAMETER_VALUE" />
      <xsd:enumeration value="PERMISSION_DENIED" />
      <xsd:enumeration value="OPERATION_NOT_ALLOWED" />
      <xsd:enumeration value="OPERATION_NOT_IMPLEMENTED" />
      <xsd:enumeration value="SYSTEM_ERROR" />
      <xsd:enumeration value="INVALID_TRANSACTION_ID" />
      <xsd:enumeration value="GENERAL_SECURITY_EXCEPTION" />
      <xsd:enumeration value="TRANSACTION_DECLINED_EXCEPTION" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>