ZEO/HotfixBranchCode/Zeo/CXN.Funds/Nexxo.Cxn.Fund.TSys/Service References/TSysTransactionSvc/transaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:transaction="http://api.tsysprepaid.com/transaction" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.tsysprepaid.com/transaction/wsdl" xmlns:type="http://api.tsysprepaid.com/transaction/type" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.tsysprepaid.com/transaction/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="http://api.tsysprepaid.com/transaction/type">
      <xsd:import schemaLocation="https://uat-api-4.tsysprepaid.com/api/transaction?xsd=transaction.xsd" namespace="http://api.tsysprepaid.com/transaction" />
      <xsd:element name="deposit" type="transaction:depositRequest" />
      <xsd:element name="depositResponse" type="transaction:depositResponse" />
      <xsd:element name="withdraw" type="transaction:withdrawRequest" />
      <xsd:element name="withdrawResponse" type="transaction:withdrawResponse" />
      <xsd:element name="transfer" type="transaction:transferRequest" />
      <xsd:element name="transferResponse" type="transaction:transferResponse" />
      <xsd:element name="getTransaction" type="transaction:getTransactionRequest" />
      <xsd:element name="getTransactionResponse" type="transaction:getTransactionResponse" />
      <xsd:element name="getAccountTransactions" type="transaction:getAccountTransactionsRequest" />
      <xsd:element name="getAccountTransactionsResponse" type="transaction:getAccountTransactionsResponse" />
      <xsd:element name="getProgramTransactions" type="transaction:getProgramTransactionsRequest" />
      <xsd:element name="getProgramTransactionsResponse" type="transaction:getProgramTransactionsResponse" />
      <xsd:element name="getCardTransactions" type="transaction:getCardTransactionsRequest" />
      <xsd:element name="getCardTransactionsResponse" type="transaction:getCardTransactionsResponse" />
      <xsd:element name="getAccountAuthsOrTransactions" type="transaction:getAccountAuthsOrTransactionsRequest" />
      <xsd:element name="getAccountAuthsOrTransactionsResponse" type="transaction:getAccountAuthsOrTransactionsResponse" />
      <xsd:element name="adjust" type="transaction:adjustRequest" />
      <xsd:element name="adjustResponse" type="transaction:adjustResponse" />
      <xsd:element name="releaseHold" type="transaction:releaseHoldRequest" />
      <xsd:element name="releaseHoldResponse" type="transaction:releaseHoldResponse" />
      <xsd:element name="depositException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="transaction:depositError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="withdrawException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="transaction:withdrawError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="transferException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="transaction:transferError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTransactionException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="transaction:getTransactionError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountTransactionsException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="transaction:getAccountTransactionsError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProgramTransactionsException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="transaction:getProgramTransactionsError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCardTransactionsException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="transaction:getCardTransactionsError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountAuthsOrTransactionsException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="transaction:getAccountAuthsOrTransactionsError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="adjustException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="transaction:adjustError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="releaseHoldException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="transaction:releaseHoldError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="transfer">
    <part name="parameters" element="type:transfer" />
  </message>
  <message name="withdrawException">
    <part name="error" element="type:withdrawException" />
  </message>
  <message name="getTransaction">
    <part name="parameters" element="type:getTransaction" />
  </message>
  <message name="getProgramTransactionsResponse">
    <part name="parameters" element="type:getProgramTransactionsResponse" />
  </message>
  <message name="getTransactionResponse">
    <part name="parameters" element="type:getTransactionResponse" />
  </message>
  <message name="deposit">
    <part name="parameters" element="type:deposit" />
  </message>
  <message name="transferResponse">
    <part name="parameters" element="type:transferResponse" />
  </message>
  <message name="releaseHold">
    <part name="parameters" element="type:releaseHold" />
  </message>
  <message name="getCardTransactionsException">
    <part name="error" element="type:getCardTransactionsException" />
  </message>
  <message name="getAccountAuthsOrTransactions">
    <part name="parameters" element="type:getAccountAuthsOrTransactions" />
  </message>
  <message name="withdrawResponse">
    <part name="parameters" element="type:withdrawResponse" />
  </message>
  <message name="getCardTransactions">
    <part name="parameters" element="type:getCardTransactions" />
  </message>
  <message name="releaseHoldException">
    <part name="error" element="type:releaseHoldException" />
  </message>
  <message name="getAccountAuthsOrTransactionsResponse">
    <part name="parameters" element="type:getAccountAuthsOrTransactionsResponse" />
  </message>
  <message name="withdraw">
    <part name="parameters" element="type:withdraw" />
  </message>
  <message name="adjust">
    <part name="parameters" element="type:adjust" />
  </message>
  <message name="depositException">
    <part name="error" element="type:depositException" />
  </message>
  <message name="getCardTransactionsResponse">
    <part name="parameters" element="type:getCardTransactionsResponse" />
  </message>
  <message name="getAccountAuthsOrTransactionsException">
    <part name="error" element="type:getAccountAuthsOrTransactionsException" />
  </message>
  <message name="getAccountTransactions">
    <part name="parameters" element="type:getAccountTransactions" />
  </message>
  <message name="adjustException">
    <part name="error" element="type:adjustException" />
  </message>
  <message name="getTransactionException">
    <part name="error" element="type:getTransactionException" />
  </message>
  <message name="transferException">
    <part name="error" element="type:transferException" />
  </message>
  <message name="getAccountTransactionsResponse">
    <part name="parameters" element="type:getAccountTransactionsResponse" />
  </message>
  <message name="releaseHoldResponse">
    <part name="parameters" element="type:releaseHoldResponse" />
  </message>
  <message name="adjustResponse">
    <part name="parameters" element="type:adjustResponse" />
  </message>
  <message name="depositResponse">
    <part name="parameters" element="type:depositResponse" />
  </message>
  <message name="getProgramTransactionsException">
    <part name="error" element="type:getProgramTransactionsException" />
  </message>
  <message name="getProgramTransactions">
    <part name="parameters" element="type:getProgramTransactions" />
  </message>
  <message name="getAccountTransactionsException">
    <part name="error" element="type:getAccountTransactionsException" />
  </message>
  <portType name="transactionService">
    <operation name="deposit">
      <input message="tns:deposit" />
      <output message="tns:depositResponse" />
      <fault name="depositException" message="tns:depositException" />
    </operation>
    <operation name="withdraw">
      <input message="tns:withdraw" />
      <output message="tns:withdrawResponse" />
      <fault name="withdrawException" message="tns:withdrawException" />
    </operation>
    <operation name="transfer">
      <input message="tns:transfer" />
      <output message="tns:transferResponse" />
      <fault name="transferException" message="tns:transferException" />
    </operation>
    <operation name="getTransaction">
      <input message="tns:getTransaction" />
      <output message="tns:getTransactionResponse" />
      <fault name="getTransactionException" message="tns:getTransactionException" />
    </operation>
    <operation name="getAccountTransactions">
      <input message="tns:getAccountTransactions" />
      <output message="tns:getAccountTransactionsResponse" />
      <fault name="getAccountTransactionsException" message="tns:getAccountTransactionsException" />
    </operation>
    <operation name="getProgramTransactions">
      <input message="tns:getProgramTransactions" />
      <output message="tns:getProgramTransactionsResponse" />
      <fault name="getProgramTransactionsException" message="tns:getProgramTransactionsException" />
    </operation>
    <operation name="getCardTransactions">
      <input message="tns:getCardTransactions" />
      <output message="tns:getCardTransactionsResponse" />
      <fault name="getCardTransactionsException" message="tns:getCardTransactionsException" />
    </operation>
    <operation name="getAccountAuthsOrTransactions">
      <input message="tns:getAccountAuthsOrTransactions" />
      <output message="tns:getAccountAuthsOrTransactionsResponse" />
      <fault name="getAccountAuthsOrTransactionsException" message="tns:getAccountAuthsOrTransactionsException" />
    </operation>
    <operation name="adjust">
      <input message="tns:adjust" />
      <output message="tns:adjustResponse" />
      <fault name="adjustException" message="tns:adjustException" />
    </operation>
    <operation name="releaseHold">
      <input message="tns:releaseHold" />
      <output message="tns:releaseHoldResponse" />
      <fault name="releaseHoldException" message="tns:releaseHoldException" />
    </operation>
  </portType>
  <binding name="transactionService" type="tns:transactionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="deposit">
      <soap:operation soapAction="urn:#deposit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="depositException">
        <soap:fault use="literal" name="depositException" namespace="" />
      </fault>
    </operation>
    <operation name="withdraw">
      <soap:operation soapAction="urn:#withdraw" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="withdrawException">
        <soap:fault use="literal" name="withdrawException" namespace="" />
      </fault>
    </operation>
    <operation name="transfer">
      <soap:operation soapAction="urn:#transfer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="transferException">
        <soap:fault use="literal" name="transferException" namespace="" />
      </fault>
    </operation>
    <operation name="getTransaction">
      <soap:operation soapAction="urn:#getTransaction" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getTransactionException">
        <soap:fault use="literal" name="getTransactionException" namespace="" />
      </fault>
    </operation>
    <operation name="getAccountTransactions">
      <soap:operation soapAction="urn:#getAccountTransactions" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getAccountTransactionsException">
        <soap:fault use="literal" name="getAccountTransactionsException" namespace="" />
      </fault>
    </operation>
    <operation name="getProgramTransactions">
      <soap:operation soapAction="urn:#getProgramTransactions" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getProgramTransactionsException">
        <soap:fault use="literal" name="getProgramTransactionsException" namespace="" />
      </fault>
    </operation>
    <operation name="getCardTransactions">
      <soap:operation soapAction="urn:#getCardTransactions" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getCardTransactionsException">
        <soap:fault use="literal" name="getCardTransactionsException" namespace="" />
      </fault>
    </operation>
    <operation name="getAccountAuthsOrTransactions">
      <soap:operation soapAction="urn:#getAccountAuthsOrTransactions" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getAccountAuthsOrTransactionsException">
        <soap:fault use="literal" name="getAccountAuthsOrTransactionsException" namespace="" />
      </fault>
    </operation>
    <operation name="adjust">
      <soap:operation soapAction="urn:#adjust" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="adjustException">
        <soap:fault use="literal" name="adjustException" namespace="" />
      </fault>
    </operation>
    <operation name="releaseHold">
      <soap:operation soapAction="urn:#releaseHold" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="releaseHoldException">
        <soap:fault use="literal" name="releaseHoldException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="transaction">
    <port name="transactionService" binding="tns:transactionService">
      <soap:address location="https://uat-api-4.tsysprepaid.com/api/transaction" />
    </port>
  </service>
</definitions>