ZEO/Zeo/Alloy/TCF.Zeo.Common.Monitor/Service References/ZeoService/ZeoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.nexxo.com/DesktopWSImpl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.nexxo.com/DesktopWSImpl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost:49404/ZeoService.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IZeoService" type="i0:IZeoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateSSN">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/ValidateSSN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/InsertCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterToClient">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/RegisterToClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CustomerSyncInFromClient">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CustomerSyncInFromClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InitiateCustomerSession">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/InitiateCustomerSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerToClient">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/UpdateCustomerToClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/ValidateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CanChangeProfileStatus">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CanChangeProfileStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCustomers">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/SearchCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPhoneTypes">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetPhoneTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPhoneProviders">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetPhoneProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMasterCountries">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetMasterCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUSStates">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetUSStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetIdCountries">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetIdCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetIdStates">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetIdStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetIdTypes">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetIdTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLegalCodes">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetLegalCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOccupations">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetOccupations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetIdType">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetIdType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStateNameByCode">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetStateNameByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBINDetails">
      <soap:operation soapAction="http://tempuri.org/IDataStructuresService/GetBINDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerGroups">
      <soap:operation soapAction="http://tempuri.org/IChannelPartnerService/GetPartnerGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChannelPartnerConfig">
      <soap:operation soapAction="http://tempuri.org/IChannelPartnerService/ChannelPartnerConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChannelPartnerConfigByName">
      <soap:operation soapAction="http://tempuri.org/IChannelPartnerService/ChannelPartnerConfigByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTipsAndOffers">
      <soap:operation soapAction="http://tempuri.org/IChannelPartnerService/GetTipsAndOffers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChannelPartnerCertificateInfo">
      <soap:operation soapAction="http://tempuri.org/IChannelPartnerService/GetChannelPartnerCertificateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProvidersbyChannelPartnerName">
      <soap:operation soapAction="http://tempuri.org/IChannelPartnerService/GetProvidersbyChannelPartnerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSupportInformation">
      <soap:operation soapAction="http://tempuri.org/IChannelPartnerService/GetSupportInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProductProviderDetails">
      <soap:operation soapAction="http://tempuri.org/IChannelPartnerService/GetProductProviderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetZeoContextForAgent">
      <soap:operation soapAction="http://tempuri.org/IZeoContext/GetZeoContextForAgent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetZeoContextForCustomer">
      <soap:operation soapAction="http://tempuri.org/IZeoContext/GetZeoContextForCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubmitCheck">
      <soap:operation soapAction="http://tempuri.org/ICheckService/SubmitCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelCheck">
      <soap:operation soapAction="http://tempuri.org/ICheckService/CancelCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckStatus">
      <soap:operation soapAction="http://tempuri.org/ICheckService/GetCheckStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckTypes">
      <soap:operation soapAction="http://tempuri.org/ICheckService/GetCheckTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckFee">
      <soap:operation soapAction="http://tempuri.org/ICheckService/GetCheckFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckTranasactionDetails">
      <soap:operation soapAction="http://tempuri.org/ICheckService/GetCheckTranasactionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckFrankingData">
      <soap:operation soapAction="http://tempuri.org/ICheckService/GetCheckFrankingData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckProcessorInfo">
      <soap:operation soapAction="http://tempuri.org/ICheckService/GetCheckProcessorInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckTransactionFranked">
      <soap:operation soapAction="http://tempuri.org/ICheckService/UpdateCheckTransactionFranked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckSession">
      <soap:operation soapAction="http://tempuri.org/ICheckService/GetCheckSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFeeBasedOnPromoCode">
      <soap:operation soapAction="http://tempuri.org/ICheckService/GetFeeBasedOnPromoCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckProvider">
      <soap:operation soapAction="http://tempuri.org/ICheckService/GetCheckProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAgentMessages">
      <soap:operation soapAction="http://tempuri.org/IMessageCenterService/GetAgentMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMessageDetails">
      <soap:operation soapAction="http://tempuri.org/IMessageCenterService/GetMessageDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyOrderFee">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/GetMoneyOrderFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PurchaseMoneyOrder">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/PurchaseMoneyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateMoneyOrder">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/UpdateMoneyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateMoneyOrderStatus">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/UpdateMoneyOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GenerateCheckPrintForMoneyOrder">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/GenerateCheckPrintForMoneyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GenerateMoneyOrderDiagnostics">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/GenerateMoneyOrderDiagnostics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Commit">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/Commit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyOrderTransaction">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/GetMoneyOrderTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFeeBOnPromoCode">
      <soap:operation soapAction="http://tempuri.org/IMoneyOrderService/GetFeeBOnPromoCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetShoppingCart">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/GetShoppingCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ShoppingCartCheckout">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/ShoppingCartCheckout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ParkShoppingCartTransaction">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/ParkShoppingCartTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveCheck">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/RemoveCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveBillPay">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/RemoveBillPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveMoneyTransfer">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/RemoveMoneyTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveFund">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/RemoveFund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveMoneyOrder">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/RemoveMoneyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveCashIn">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/RemoveCashIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PostFlush">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/PostFlush" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FinalCommit">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/FinalCommit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPrepaidCardNumber">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/GetPrepaidCardNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsShoppingCartEmpty">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/IsShoppingCartEmpty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CanCloseCustomerSession">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/CanCloseCustomerSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllParkedTransaction">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/GetAllParkedTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GenerateReceiptsForShoppingCart">
      <soap:operation soapAction="http://tempuri.org/IShoppingCartService/GenerateReceiptsForShoppingCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddFundsAccount">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/AddFundsAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WithdrawFunds">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/WithdrawFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoadFunds">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/LoadFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ActivateGPRCard">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/ActivateGPRCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCardBalance">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetCardBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookupForPANFund">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/LookupForPANFund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateFundAmount">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/UpdateFundAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMinimumLoadAmount">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetMinimumLoadAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCardTransactionHistory">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetCardTransactionHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CloseAccount">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/CloseAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCardStatus">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/UpdateCardStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReplaceCard">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/ReplaceCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetShippingTypes">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetShippingTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetShippingFee">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetShippingFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateCard">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/AssociateCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFundFee">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetFundFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IssueAddOnCard">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/IssueAddOnCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPrepaidActions">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetPrepaidActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFundTransaction">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/GetFundTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateGPRAccount">
      <soap:operation soapAction="http://tempuri.org/IFundsProcessorService/UpdateGPRAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WUCardEnrollment">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/WUCardEnrollment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryServices">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetDeliveryServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFeeMoneyTransfer">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetFeeMoneyTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetXfrCountries">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetXfrCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetXfrStates">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetXfrStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetXfrCities">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetXfrCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddReceiver">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/AddReceiver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditReceiver">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/EditReceiver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFrequentReceivers">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetFrequentReceivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReceiver">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetReceiver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteFavoriteReceiver">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/DeleteFavoriteReceiver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddPastReceivers">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/AddPastReceivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WUCardLookup">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/WUCardLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateWUAccount">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/UpdateWUAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeList">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetCurrencyCodeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelXfer">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/CancelXfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WUGetAgentBannerMessage">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/WUGetAgentBannerMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCode">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetCurrencyCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StageModify">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/StageModify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRefundReasons">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetRefundReasons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyTransferTransaction">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetMoneyTransferTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsSWBStateXfer">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/IsSWBStateXfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeModifySendMoney">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/AuthorizeModifySendMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMoneySearch">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/ReceiveMoneySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMoneyRefund">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/SendMoneyRefund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelSendMoneyModify">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/CancelSendMoneyModify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFraudLimit">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetFraudLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDestinationAmount">
      <soap:operation soapAction="http://tempuri.org/IMoneyTransferService/GetDestinationAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBillPayFee">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetBillPayFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBillerInfo">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetBillerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProviderAttributes">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetProviderAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBillerDetails">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetBillerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StageBillPayment">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/StageBillPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateBillPayment">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/ValidateBillPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddPastBillers">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/AddPastBillers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelBillPayment">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/CancelBillPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteFavoriteBiller">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/DeleteFavoriteBiller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBillers">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetBillers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFrequentBillers">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetFrequentBillers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCardInfo">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetCardInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBillPayTransaction">
      <soap:operation soapAction="http://tempuri.org/IBillPayService/GetBillPayTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerTransactions">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/GetCustomerTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAgentTransactions">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/GetAgentTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerTransactionLocations">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/GetCustomerTransactionLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerSessionId">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/GetCustomerSessionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCounterId">
      <soap:operation soapAction="http://tempuri.org/ILocationCounterIdService/UpdateCounterId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationCounterID">
      <soap:operation soapAction="http://tempuri.org/ILocationCounterIdService/GetLocationCounterID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomerSessionCounterId">
      <soap:operation soapAction="http://tempuri.org/ILocationCounterIdService/CreateCustomerSessionCounterId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLocationProcessorCredential">
      <soap:operation soapAction="http://tempuri.org/ILocationProcessorCredentialsService/SaveLocationProcessorCredential" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationProcessorCredentials">
      <soap:operation soapAction="http://tempuri.org/ILocationProcessorCredentialsService/GetLocationProcessorCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationById">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetLocationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateLocation">
      <soap:operation soapAction="http://tempuri.org/ILocationService/CreateLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocation">
      <soap:operation soapAction="http://tempuri.org/ILocationService/UpdateLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateLocation">
      <soap:operation soapAction="http://tempuri.org/ILocationService/ValidateLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLocationsByChannelPartnerId">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetLocationsByChannelPartnerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStateNamesAndIdByChannelPartnerId">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetStateNamesAndIdByChannelPartnerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CashIn">
      <soap:operation soapAction="http://tempuri.org/ICashService/CashIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrCancelCashIn">
      <soap:operation soapAction="http://tempuri.org/ICashService/UpdateOrCancelCashIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCashTransaction">
      <soap:operation soapAction="http://tempuri.org/ICashService/GetCashTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBillpayReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptService/GetBillpayReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptService/GetCheckReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCouponReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptService/GetCouponReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyTransferReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptService/GetMoneyTransferReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoddFranckRecipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptService/GetDoddFranckRecipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoneyOrderReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptService/GetMoneyOrderReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFundReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptService/GetFundReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSummaryReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptService/GetSummaryReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCashDrawerReceipt">
      <soap:operation soapAction="http://tempuri.org/IReceiptService/GetCashDrawerReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateSSO">
      <soap:operation soapAction="http://tempuri.org/IAgentService/AuthenticateSSO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAgentRoleId">
      <soap:operation soapAction="http://tempuri.org/IAgentService/GetAgentRoleId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAgentDetails">
      <soap:operation soapAction="http://tempuri.org/IAgentService/GetAgentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAgents">
      <soap:operation soapAction="http://tempuri.org/IAgentService/GetAgents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTerminalById">
      <soap:operation soapAction="http://tempuri.org/ITerminalService/GetTerminalById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTerminalByName">
      <soap:operation soapAction="http://tempuri.org/ITerminalService/GetTerminalByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateTerminal">
      <soap:operation soapAction="http://tempuri.org/ITerminalService/CreateTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateTerminal">
      <soap:operation soapAction="http://tempuri.org/ITerminalService/UpdateTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNpsdiagnosticInfo">
      <soap:operation soapAction="http://tempuri.org/ITerminalService/GetNpsdiagnosticInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateNpsTerminal">
      <soap:operation soapAction="http://tempuri.org/INpsTerminalService/CreateNpsTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateNpsTerminal">
      <soap:operation soapAction="http://tempuri.org/INpsTerminalService/UpdateNpsTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNpsterminalByTerminalId">
      <soap:operation soapAction="http://tempuri.org/INpsTerminalService/GetNpsterminalByTerminalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNpsTerminalBylocationId">
      <soap:operation soapAction="http://tempuri.org/INpsTerminalService/GetNpsTerminalBylocationId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNpsTerminalByName">
      <soap:operation soapAction="http://tempuri.org/INpsTerminalService/GetNpsTerminalByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/IMessageStoreService/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookUp">
      <soap:operation soapAction="http://tempuri.org/IMessageStoreService/LookUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPromotion">
      <soap:operation soapAction="http://tempuri.org/IPromotionService/GetPromotion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPromotions">
      <soap:operation soapAction="http://tempuri.org/IPromotionService/GetPromotions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateAndUpdatePromotion">
      <soap:operation soapAction="http://tempuri.org/IPromotionService/CreateAndUpdatePromotion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidatePromoName">
      <soap:operation soapAction="http://tempuri.org/IPromotionService/ValidatePromoName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePromotionStatus">
      <soap:operation soapAction="http://tempuri.org/IPromotionService/UpdatePromotionStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SavePromoDetails">
      <soap:operation soapAction="http://tempuri.org/IPromotionService/SavePromoDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SavePromoProvision">
      <soap:operation soapAction="http://tempuri.org/IPromotionService/SavePromoProvision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SavePromoQualifier">
      <soap:operation soapAction="http://tempuri.org/IPromotionService/SavePromoQualifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeletePromoProvision">
      <soap:operation soapAction="http://tempuri.org/IPromotionService/DeletePromoProvision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeletePromoQualifier">
      <soap:operation soapAction="http://tempuri.org/IPromotionService/DeletePromoQualifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateProviderPromotion">
      <soap:operation soapAction="http://tempuri.org/IPromotionService/ValidateProviderPromotion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddUpdateQualifiers">
      <soap:operation soapAction="http://tempuri.org/IPromotionService/AddUpdateQualifiers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddUpdateProvisions">
      <soap:operation soapAction="http://tempuri.org/IPromotionService/AddUpdateProvisions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZeoSoapFaultFault">
        <soap:fault use="literal" name="ZeoSoapFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>