ZEO/Zeo/CXN.Funds/Nexxo.Cxn.Fund.TSys/Service References/TSysCardSvc/card.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:card="http://api.tsysprepaid.com/card" xmlns:tns="http://api.tsysprepaid.com/card/wsdl" xmlns:type="http://api.tsysprepaid.com/card/type" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://api.tsysprepaid.com/card/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="http://api.tsysprepaid.com/card/type">
      <xsd:import schemaLocation="https://uat-api-4.tsysprepaid.com/api/card?xsd=card.xsd" namespace="http://api.tsysprepaid.com/card" />
      <xsd:element name="activateCard" type="card:activateCardRequest" />
      <xsd:element name="activateCardResponse" type="card:activateCardResponse" />
      <xsd:element name="blockCard" type="card:blockCardRequest" />
      <xsd:element name="blockCardResponse" type="card:blockCardResponse" />
      <xsd:element name="linkCardToAccount" type="card:linkCardToAccountRequest" />
      <xsd:element name="linkCardToAccountResponse" type="card:linkCardToAccountResponse" />
      <xsd:element name="createCard" type="card:createCardRequest" />
      <xsd:element name="createCardResponse" type="card:createCardResponse" />
      <xsd:element name="getCards" type="card:getCardsRequest" />
      <xsd:element name="getCardsResponse" type="card:getCardsResponse" />
      <xsd:element name="unblockCard" type="card:unblockCardRequest" />
      <xsd:element name="unblockCardResponse" type="card:unblockCardResponse" />
      <xsd:element name="verifyCard" type="card:verifyCardRequest" />
      <xsd:element name="verifyCardResponse" type="card:verifyCardResponse" />
      <xsd:element name="getCreatedCards" type="card:getCreatedCardsRequest" />
      <xsd:element name="getCreatedCardsResponse" type="card:getCreatedCardsResponse" />
      <xsd:element name="getUserCards" type="card:getUserCardsRequest" />
      <xsd:element name="getUserCardsResponse" type="card:getUserCardsResponse" />
      <xsd:element name="getAccountCards" type="card:getAccountCardsRequest" />
      <xsd:element name="getAccountCardsResponse" type="card:getAccountCardsResponse" />
      <xsd:element name="getCardBlocks" type="card:getCardBlocksRequest" />
      <xsd:element name="getCardBlocksResponse" type="card:getCardBlocksResponse" />
      <xsd:element name="getActivatedCards" type="card:getActivatedCardsRequest" />
      <xsd:element name="getActivatedCardsResponse" type="card:getActivatedCardsResponse" />
      <xsd:element name="setPin" type="card:setPinRequest" />
      <xsd:element name="setPinResponse" type="card:setPinResponse" />
      <xsd:element name="canSetPin" type="card:canSetPinRequest" />
      <xsd:element name="canSetPinResponse" type="card:canSetPinResponse" />
      <xsd:element name="requestCard" type="card:requestCardRequest" />
      <xsd:element name="requestCardResponse" type="card:requestCardResponse" />
      <xsd:element name="getProducedPlastics" type="card:getProducedPlasticsRequest" />
      <xsd:element name="getProducedPlasticsResponse" type="card:getProducedPlasticsResponse" />
      <xsd:element name="activateCardException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:activateCardError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="blockCardException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:blockCardError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="linkCardToAccountException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:linkCardToAccountError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCardException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:createCardError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCardsException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:getCardsError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unblockCardException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:unblockCardError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="verifyCardException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:verifyCardError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCreatedCardsException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:getCreatedCardsError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserCardsException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:getUserCardsError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountCardsException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:getAccountCardsError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCardBlocksException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:getCardBlocksError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getActivatedCardsException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:getActivatedCardsError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setPinException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:setPinError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="canSetPinException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:canSetPinError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="requestCardException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:requestCardError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProducedPlasticsException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error" type="card:getProducedPlasticsError" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="getActivatedCards">
    <part name="parameters" element="type:getActivatedCards" />
  </message>
  <message name="getProducedPlastics">
    <part name="parameters" element="type:getProducedPlastics" />
  </message>
  <message name="getCreatedCardsResponse">
    <part name="parameters" element="type:getCreatedCardsResponse" />
  </message>
  <message name="linkCardToAccountException">
    <part name="error" element="type:linkCardToAccountException" />
  </message>
  <message name="activateCardException">
    <part name="error" element="type:activateCardException" />
  </message>
  <message name="linkCardToAccount">
    <part name="parameters" element="type:linkCardToAccount" />
  </message>
  <message name="unblockCardResponse">
    <part name="parameters" element="type:unblockCardResponse" />
  </message>
  <message name="getAccountCardsResponse">
    <part name="parameters" element="type:getAccountCardsResponse" />
  </message>
  <message name="getUserCardsResponse">
    <part name="parameters" element="type:getUserCardsResponse" />
  </message>
  <message name="setPinResponse">
    <part name="parameters" element="type:setPinResponse" />
  </message>
  <message name="getCardBlocksException">
    <part name="error" element="type:getCardBlocksException" />
  </message>
  <message name="activateCardResponse">
    <part name="parameters" element="type:activateCardResponse" />
  </message>
  <message name="getCardsException">
    <part name="error" element="type:getCardsException" />
  </message>
  <message name="getUserCardsException">
    <part name="error" element="type:getUserCardsException" />
  </message>
  <message name="blockCardException">
    <part name="error" element="type:blockCardException" />
  </message>
  <message name="createCardException">
    <part name="error" element="type:createCardException" />
  </message>
  <message name="verifyCardException">
    <part name="error" element="type:verifyCardException" />
  </message>
  <message name="activateCard">
    <part name="parameters" element="type:activateCard" />
  </message>
  <message name="linkCardToAccountResponse">
    <part name="parameters" element="type:linkCardToAccountResponse" />
  </message>
  <message name="setPinException">
    <part name="error" element="type:setPinException" />
  </message>
  <message name="unblockCardException">
    <part name="error" element="type:unblockCardException" />
  </message>
  <message name="getCreatedCards">
    <part name="parameters" element="type:getCreatedCards" />
  </message>
  <message name="getCardsResponse">
    <part name="parameters" element="type:getCardsResponse" />
  </message>
  <message name="requestCardResponse">
    <part name="parameters" element="type:requestCardResponse" />
  </message>
  <message name="canSetPinException">
    <part name="error" element="type:canSetPinException" />
  </message>
  <message name="verifyCardResponse">
    <part name="parameters" element="type:verifyCardResponse" />
  </message>
  <message name="verifyCard">
    <part name="parameters" element="type:verifyCard" />
  </message>
  <message name="getAccountCards">
    <part name="parameters" element="type:getAccountCards" />
  </message>
  <message name="getCardBlocksResponse">
    <part name="parameters" element="type:getCardBlocksResponse" />
  </message>
  <message name="getAccountCardsException">
    <part name="error" element="type:getAccountCardsException" />
  </message>
  <message name="requestCard">
    <part name="parameters" element="type:requestCard" />
  </message>
  <message name="createCard">
    <part name="parameters" element="type:createCard" />
  </message>
  <message name="getCreatedCardsException">
    <part name="error" element="type:getCreatedCardsException" />
  </message>
  <message name="canSetPinResponse">
    <part name="parameters" element="type:canSetPinResponse" />
  </message>
  <message name="getUserCards">
    <part name="parameters" element="type:getUserCards" />
  </message>
  <message name="canSetPin">
    <part name="parameters" element="type:canSetPin" />
  </message>
  <message name="getCards">
    <part name="parameters" element="type:getCards" />
  </message>
  <message name="requestCardException">
    <part name="parameters" element="type:requestCardException" />
  </message>
  <message name="getActivatedCardsResponse">
    <part name="parameters" element="type:getActivatedCardsResponse" />
  </message>
  <message name="blockCard">
    <part name="parameters" element="type:blockCard" />
  </message>
  <message name="unblockCard">
    <part name="parameters" element="type:unblockCard" />
  </message>
  <message name="getActivatedCardsException">
    <part name="error" element="type:getActivatedCardsException" />
  </message>
  <message name="getProducedPlasticsException">
    <part name="error" element="type:getProducedPlasticsException" />
  </message>
  <message name="blockCardResponse">
    <part name="parameters" element="type:blockCardResponse" />
  </message>
  <message name="getCardBlocks">
    <part name="parameters" element="type:getCardBlocks" />
  </message>
  <message name="getProducedPlasticsResponse">
    <part name="parameters" element="type:getProducedPlasticsResponse" />
  </message>
  <message name="createCardResponse">
    <part name="parameters" element="type:createCardResponse" />
  </message>
  <message name="setPin">
    <part name="parameters" element="type:setPin" />
  </message>
  <portType name="cardService">
    <operation name="activateCard">
      <input message="tns:activateCard" />
      <output message="tns:activateCardResponse" />
      <fault name="activateCardException" message="tns:activateCardException" />
    </operation>
    <operation name="blockCard">
      <input message="tns:blockCard" />
      <output message="tns:blockCardResponse" />
      <fault name="blockCardException" message="tns:blockCardException" />
    </operation>
    <operation name="linkCardToAccount">
      <input message="tns:linkCardToAccount" />
      <output message="tns:linkCardToAccountResponse" />
      <fault name="linkCardToAccountException" message="tns:linkCardToAccountException" />
    </operation>
    <operation name="createCard">
      <input message="tns:createCard" />
      <output message="tns:createCardResponse" />
      <fault name="createCardException" message="tns:createCardException" />
    </operation>
    <operation name="getCards">
      <input message="tns:getCards" />
      <output message="tns:getCardsResponse" />
      <fault name="getCardsException" message="tns:getCardsException" />
    </operation>
    <operation name="unblockCard">
      <input message="tns:unblockCard" />
      <output message="tns:unblockCardResponse" />
      <fault name="unblockCardException" message="tns:unblockCardException" />
    </operation>
    <operation name="verifyCard">
      <input message="tns:verifyCard" />
      <output message="tns:verifyCardResponse" />
      <fault name="verifyCardException" message="tns:verifyCardException" />
    </operation>
    <operation name="getCreatedCards">
      <input message="tns:getCreatedCards" />
      <output message="tns:getCreatedCardsResponse" />
      <fault name="getCreatedCardsException" message="tns:getCreatedCardsException" />
    </operation>
    <operation name="getUserCards">
      <input message="tns:getUserCards" />
      <output message="tns:getUserCardsResponse" />
      <fault name="getUserCardsException" message="tns:getUserCardsException" />
    </operation>
    <operation name="getAccountCards">
      <input message="tns:getAccountCards" />
      <output message="tns:getAccountCardsResponse" />
      <fault name="getAccountCardsException" message="tns:getAccountCardsException" />
    </operation>
    <operation name="getCardBlocks">
      <input message="tns:getCardBlocks" />
      <output message="tns:getCardBlocksResponse" />
      <fault name="getCardBlocksException" message="tns:getCardBlocksException" />
    </operation>
    <operation name="getActivatedCards">
      <input message="tns:getActivatedCards" />
      <output message="tns:getActivatedCardsResponse" />
      <fault name="getActivatedCardsException" message="tns:getActivatedCardsException" />
    </operation>
    <operation name="setPin">
      <input message="tns:setPin" />
      <output message="tns:setPinResponse" />
      <fault name="setPinException" message="tns:setPinException" />
    </operation>
    <operation name="canSetPin">
      <input message="tns:canSetPin" />
      <output message="tns:canSetPinResponse" />
      <fault name="canSetPinException" message="tns:canSetPinException" />
    </operation>
    <operation name="requestCard">
      <input message="tns:requestCard" />
      <output message="tns:requestCardResponse" />
      <fault name="requestCardException" message="tns:requestCardException" />
    </operation>
    <operation name="getProducedPlastics">
      <input message="tns:getProducedPlastics" />
      <output message="tns:getProducedPlasticsResponse" />
      <fault name="getProducedPlasticsException" message="tns:getProducedPlasticsException" />
    </operation>
  </portType>
  <binding name="cardService" type="tns:cardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="activateCard">
      <soap:operation soapAction="urn:#activateCard" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="activateCardException">
        <soap:fault use="literal" name="activateCardException" namespace="" />
      </fault>
    </operation>
    <operation name="blockCard">
      <soap:operation soapAction="urn:#blockCard" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="blockCardException">
        <soap:fault use="literal" name="blockCardException" namespace="" />
      </fault>
    </operation>
    <operation name="linkCardToAccount">
      <soap:operation soapAction="urn:#linkCardToAccount" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="linkCardToAccountException">
        <soap:fault use="literal" name="linkCardToAccountException" namespace="" />
      </fault>
    </operation>
    <operation name="createCard">
      <soap:operation soapAction="urn:#createCard" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="createCardException">
        <soap:fault use="literal" name="createCardException" namespace="" />
      </fault>
    </operation>
    <operation name="getCards">
      <soap:operation soapAction="urn:#getCards" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getCardsException">
        <soap:fault use="literal" name="getCardsException" namespace="" />
      </fault>
    </operation>
    <operation name="unblockCard">
      <soap:operation soapAction="urn:#unblockCard" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="unblockCardException">
        <soap:fault use="literal" name="unblockCardException" namespace="" />
      </fault>
    </operation>
    <operation name="verifyCard">
      <soap:operation soapAction="urn:#verifyCard" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="verifyCardException">
        <soap:fault use="literal" name="verifyCardException" namespace="" />
      </fault>
    </operation>
    <operation name="getCreatedCards">
      <soap:operation soapAction="urn:#getCreatedCards" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getCreatedCardsException">
        <soap:fault use="literal" name="getCreatedCardsException" namespace="" />
      </fault>
    </operation>
    <operation name="getUserCards">
      <soap:operation soapAction="urn:#getUserCards" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getUserCardsException">
        <soap:fault use="literal" name="getUserCardsException" namespace="" />
      </fault>
    </operation>
    <operation name="getAccountCards">
      <soap:operation soapAction="urn:#getAccountCards" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getAccountCardsException">
        <soap:fault use="literal" name="getAccountCardsException" namespace="" />
      </fault>
    </operation>
    <operation name="getCardBlocks">
      <soap:operation soapAction="urn:#getCardBlocks" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getCardBlocksException">
        <soap:fault use="literal" name="getCardBlocksException" namespace="" />
      </fault>
    </operation>
    <operation name="getActivatedCards">
      <soap:operation soapAction="urn:#getActivatedCards" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getActivatedCardsException">
        <soap:fault use="literal" name="getActivatedCardsException" namespace="" />
      </fault>
    </operation>
    <operation name="setPin">
      <soap:operation soapAction="urn:#setPin" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="setPinException">
        <soap:fault use="literal" name="setPinException" namespace="" />
      </fault>
    </operation>
    <operation name="canSetPin">
      <soap:operation soapAction="urn:#canSetPin" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="canSetPinException">
        <soap:fault use="literal" name="canSetPinException" namespace="" />
      </fault>
    </operation>
    <operation name="requestCard">
      <soap:operation soapAction="urn:#requestCard" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="requestCardException">
        <soap:fault use="literal" name="requestCardException" namespace="" />
      </fault>
    </operation>
    <operation name="getProducedPlastics">
      <soap:operation soapAction="urn:#getProducedPlastics" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="getProducedPlasticsException">
        <soap:fault use="literal" name="getProducedPlasticsException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="card">
    <port name="cardService" binding="tns:cardService">
      <soap:address location="https://uat-api-4.tsysprepaid.com/api/card" />
    </port>
  </service>
</definitions>