ZEO/ADO.NET/LatestDevelop/Zeo/CXN.Customer/MGI.Cxn.Customer.TCIS/WSDL/ZeoCustomer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (http://www.altova.com) by TCF Financial Corporation (TCF Financial Corporation) -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://mn-zlxtwmba1.tcfbank.com:9010/ZeoCustomer/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="ZeoCustomer" targetNamespace="https://mn-zlxtwmba1.tcfbank.com:9010/ZeoCustomer/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="https://mn-zlxtwmba1.tcfbank.com:9010/ZeoCustomer/">
			<xsd:element name="ZeoCustomer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ZeoFindCustomerResponse" type="tns:ZeoCustomerResp">
      </xsd:element>
			<xsd:element name="ZeoCustomerRegResponse" type="tns:ZeoCustomerResp">
      </xsd:element>
			<xsd:element name="ZeoCustomerTraxResponse" type="tns:ZeoCustomerTraxResponse">
      </xsd:element>
			<xsd:element name="ZeoCustomerFault" type="tns:ZeoCustomerFault">
      </xsd:element>
			<xsd:element name="ZeoFindCustomerRequest" type="tns:ZeoFindCustomerReq">
      </xsd:element>
			<xsd:element name="ZeoCustomerRegRequest" type="tns:ZeoCustomerRegReq">
      </xsd:element>
			<xsd:element name="ZeoCustomerTraxRequest" type="tns:ZeoCustomerTraxRequest">
      </xsd:element>
			<xsd:complexType name="ZeoCustomerFault">
				<xsd:sequence>
					<xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="ErrorCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="ErrorMessage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZeoFindCustomerReq">
				<xsd:sequence>
					<xsd:element name="MtvnSvcVer" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="MsgUUID" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="PrcsParms" type="tns:PrcsParms" minOccurs="0" maxOccurs="unbounded">
      		</xsd:element>
					<xsd:element name="Svc" type="tns:Svc" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZeoCustomerRegReq">
				<xsd:sequence>
					<xsd:element name="MtvnSvcVer" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="MsgUUID" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="PrcsParms" type="tns:PrcsParms" minOccurs="0" maxOccurs="unbounded">
      		</xsd:element>
					<xsd:element name="Svc" type="tns:Svc2" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZeoCustomerResp">
				<xsd:sequence>
					<xsd:element name="MtvnSvcVer" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="MsgUUID" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="ErrCde" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="ErrMsg" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="Svc1" type="tns:Svc1" minOccurs="0" maxOccurs="unbounded">
      		</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZeoCustomerRegResp">
				<xsd:sequence>
					<xsd:element name="MtvnSvcVer" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="MsgUUID" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="ErrCde" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="ErrMsg" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="Svc1" type="tns:Svc1" minOccurs="0" maxOccurs="unbounded">
      		</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZeoCustomerTraxRequest">
				<xsd:sequence>
					<xsd:element name="MtvnSvcVer" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="MsgUUID" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="PrcsParms" type="tns:PrcsParms" minOccurs="0" maxOccurs="unbounded">
      		</xsd:element>
					<xsd:element name="Svc" type="tns:Svc" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="TraxSummary" type="tns:TraxSummary" minOccurs="0" maxOccurs="unbounded">
      		</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZeoCustomerTraxResponse">
				<xsd:sequence>
					<xsd:element name="MtvnSvcVer" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="MsgUUID" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="ErrCde" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="ErrMsg" type="xsd:string" minOccurs="0">
      		</xsd:element>
					<xsd:element name="Svc1" type="tns:Svc1" minOccurs="0" maxOccurs="unbounded">
      		</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PrcsParms">
				<xsd:sequence>
					<xsd:element name="SrcID" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Svc">
				<xsd:sequence>
					<xsd:element name="SvcParms" type="tns:SvcParms" minOccurs="0" maxOccurs="unbounded">
            		</xsd:element>
					<xsd:element name="Security" type="tns:Security" minOccurs="0" maxOccurs="unbounded">
            		</xsd:element>
					<xsd:element name="MsgData" type="tns:MsgData" minOccurs="0" maxOccurs="unbounded">
            		</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SvcParms">
				<xsd:sequence>
					<xsd:element name="ApplID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="SvcID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="SvcVer" type="xsd:string" minOccurs="0"/>
					<xsd:element name="SvcNme" type="xsd:string" minOccurs="0"/>
					<xsd:element name="RqstUUID" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Security">
				<xsd:sequence>
					<xsd:element name="BasicAuth" type="tns:BasicAuth" minOccurs="0" maxOccurs="unbounded">
            		</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BasicAuth">
				<xsd:sequence>
					<xsd:element name="UsrID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="tellerNbr" type="xsd:string" minOccurs="0"/>
					<xsd:element name="branchNbr" type="xsd:string" minOccurs="0"/>
					<xsd:element name="bankNbr" type="xsd:string" minOccurs="0"/>
					<xsd:element name="subClientNodeID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="lawsonID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="lu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="cashDrawer" type="xsd:string" minOccurs="0"/>
					<xsd:element name="amPmInd" type="xsd:string" minOccurs="0"/>
					<xsd:element name="HostName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="BusinessDate" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MsgData">
				<xsd:sequence>
					<xsd:element name="ssn" type="xsd:string" minOccurs="0"/>
					<xsd:element name="cardNum" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AcctNum" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AcctType" type="xsd:string" minOccurs="0"/>
					<xsd:element name="LName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Ph1" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dob" type="xsd:string" minOccurs="0"/>
					<xsd:element name="idNbr" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ClientCustId" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Svc1">
				<xsd:sequence>
					<xsd:element name="ErrCde" type="xsd:string" minOccurs="0">
            		</xsd:element>
					<xsd:element name="ErrMsg" type="xsd:string" minOccurs="0">
            		</xsd:element>
					<xsd:element name="SvcParms1" type="tns:SvcParms1" minOccurs="0" maxOccurs="unbounded">
            		</xsd:element>
					<xsd:element name="MsgData1" type="tns:MsgData1" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Svc2">
				<xsd:sequence>
					<xsd:element name="SvcParms" type="tns:SvcParms" minOccurs="0" maxOccurs="unbounded">
            		</xsd:element>
					<xsd:element name="Security" type="tns:Security" minOccurs="0" maxOccurs="unbounded">
            		</xsd:element>
					<xsd:element name="MsgData" type="tns:MsgData1" minOccurs="0" maxOccurs="unbounded">
            		</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SvcParms1">
				<xsd:sequence>
					<xsd:element name="ApplID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="SvcID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="SvcVer" type="xsd:string" minOccurs="0"/>
					<xsd:element name="RqstUUID" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MsgData1">
				<xsd:sequence>
					<xsd:element name="AppCd" type="xsd:string" minOccurs="0">
            		</xsd:element>
					<xsd:element name="CustInfo" type="tns:CustInfo" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CustInfo">
				<xsd:sequence>
					<xsd:element name="PersonalInfo" type="tns:PersonalInfo" minOccurs="0" maxOccurs="unbounded">
            		</xsd:element>
					<xsd:element name="Identification" type="tns:Identification" minOccurs="0" maxOccurs="unbounded">
            		</xsd:element>
					<xsd:element name="EmploymentInfo" type="tns:EmploymentInfo" minOccurs="0" maxOccurs="unbounded">
            		</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PersonalInfo">
				<xsd:sequence>
					<xsd:element name="FName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="MName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="LName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Addr1" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Addr2" type="xsd:string" minOccurs="0"/>
					<xsd:element name="City" type="xsd:string" minOccurs="0"/>
					<xsd:element name="State" type="xsd:string" minOccurs="0"/>
					<xsd:element name="zip" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Ph1" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Ph1Type1" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Ph2" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Ph2Type2" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Ph2Prov" type="xsd:string" minOccurs="0"/>
					<xsd:element name="email" type="xsd:string" minOccurs="0"/>
					<xsd:element name="CustType" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ssn" type="xsd:string" minOccurs="0"/>
					<xsd:element name="TaxCd" type="xsd:string" minOccurs="0"/>
					<xsd:element name="gen" type="xsd:string" minOccurs="0"/>
					<xsd:element name="CustSince" type="xsd:string" minOccurs="0"/>
					<xsd:element name="tcfExist" type="xsd:string" minOccurs="0"/>
					<xsd:element name="NexxoPan" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="ClientCustId" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="gender" type="xsd:string" minOccurs="0"/>
					<xsd:element name="tcfCustind" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Identification">
				<xsd:sequence>
					<xsd:element name="dob" type="xsd:string" minOccurs="0"/>
					<xsd:element name="maiden" type="xsd:string" minOccurs="0"/>
					<xsd:element name="idType" type="xsd:string" minOccurs="0"/>
					<xsd:element name="idIssuer" type="xsd:string" minOccurs="0"/>
					<xsd:element name="idIssuerCountry" type="xsd:string" minOccurs="0"/>
					<xsd:element name="idNbr" type="xsd:string" minOccurs="0"/>
					<xsd:element name="idIssueDate" type="xsd:string" minOccurs="0"/>
					<xsd:element name="idExpDate" type="xsd:string" minOccurs="0"/>
					<xsd:element name="citizenshipCountry1" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EmploymentInfo">
				<xsd:sequence>
					<xsd:element name="Occupation" type="xsd:string" minOccurs="0"/>
					<xsd:element name="OccDesc" type="xsd:string" minOccurs="0"/>
					<xsd:element name="EmployerName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="EmployerPhoneNum" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TraxSummary">
				<xsd:sequence>
					<xsd:element name="SessionId" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="tranID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="tranType" type="xsd:string" minOccurs="0"/>
					<xsd:element name="MTCN" type="xsd:string" minOccurs="0"/>
					<xsd:element name="amount" type="xsd:string" minOccurs="0"/>
					<xsd:element name="fee" type="xsd:string" minOccurs="0"/>
					<xsd:element name="total" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToFirstName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToMiddleName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToLastName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToSecondLastName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToGender" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToCountry" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToAddress" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToCity" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToState_Province" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToZipCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToPhoneNumber" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToPickupCountry" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToPickupState_Province" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToPickupCity" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToDeliveryMethod" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToDeliveryOption" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToOccupation" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToDOB" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ToCountryOfBirth" type="xsd:string" minOccurs="0"/>
					<xsd:element name="FirstName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="LastName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="SecondLastName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Gender" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Country" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Address" type="xsd:string" minOccurs="0"/>
					<xsd:element name="City" type="xsd:string" minOccurs="0"/>
					<xsd:element name="State_Province" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ZipCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0"/>
					<xsd:element name="PickupCountry" type="xsd:string" minOccurs="0"/>
					<xsd:element name="PickupState_Province" type="xsd:string" minOccurs="0"/>
					<xsd:element name="PickupCity" type="xsd:string" minOccurs="0"/>
					<xsd:element name="DeliveryMethod" type="xsd:string" minOccurs="0"/>
					<xsd:element name="DeliveryOption" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Occupation" type="xsd:string" minOccurs="0"/>
					<xsd:element name="DOB" type="xsd:string" minOccurs="0"/>
					<xsd:element name="CountryOfBirth" type="xsd:string" minOccurs="0"/>
					<xsd:element name="acctNbr" type="xsd:string" minOccurs="0"/>
					<xsd:element name="CheckNbr" type="xsd:string" minOccurs="0"/>
					<xsd:element name="payee" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ConfirmationNbr" type="xsd:string" minOccurs="0"/>
					<xsd:element name="TCFABA" type="xsd:string" minOccurs="0"/>
					<xsd:element name="TCFAccount" type="xsd:string" minOccurs="0"/>
					<xsd:element name="InitialPurchase" type="xsd:string" minOccurs="0"/>
					<xsd:element name="purchasefee" type="xsd:string" minOccurs="0"/>
					<xsd:element name="NewCardBalance" type="xsd:string" minOccurs="0"/>
					<xsd:element name="CardNbr" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AliasId" type="xsd:string" minOccurs="0"/>
					<xsd:element name="LoadAmount" type="xsd:string" minOccurs="0"/>
					<xsd:element name="WithdrawAmount" type="xsd:string" minOccurs="0"/>
					<xsd:element name="TCFappl" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ZeoFindCustomerRequest">
		<wsdl:part name="parameters" element="tns:ZeoFindCustomerRequest"/>
	</wsdl:message>
	<wsdl:message name="ZeoFindCustomerResponse">
		<wsdl:part name="parameters" element="tns:ZeoFindCustomerResponse"/>
	</wsdl:message>
	<wsdl:message name="ZeoCustomerRegRequest">
		<wsdl:part name="parameters" element="tns:ZeoCustomerRegRequest"/>
	</wsdl:message>
	<wsdl:message name="ZeoCustomerRegResponse">
		<wsdl:part name="parameters" element="tns:ZeoCustomerRegResponse"/>
	</wsdl:message>
	<wsdl:message name="ZeoCustomerFault">
		<wsdl:part name="parameters" type="tns:ZeoCustomerFault"/>
	</wsdl:message>
	<wsdl:message name="ZeoCustomerTraxRequest">
		<wsdl:part name="parameters" element="tns:ZeoCustomerTraxRequest"/>
	</wsdl:message>
	<wsdl:message name="ZeoCustomerTraxResponse">
		<wsdl:part name="parameters" element="tns:ZeoCustomerTraxResponse"/>
	</wsdl:message>
	<wsdl:portType name="ZeoCustomer">
		<wsdl:operation name="ZeoCustomerTrax">
			<wsdl:input message="tns:ZeoCustomerTraxRequest"/>
			<wsdl:output message="tns:ZeoCustomerTraxResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ZeoFindCustomer">
			<wsdl:input message="tns:ZeoFindCustomerRequest"/>
			<wsdl:output message="tns:ZeoFindCustomerResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ZeoCustomerReg">
			<wsdl:input message="tns:ZeoCustomerRegRequest"/>
			<wsdl:output message="tns:ZeoCustomerRegResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZeoCustomer" type="tns:ZeoCustomer">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ZeoFindCustomer">
			<soap:operation soapAction="https://mn-zlxtwmba1.tcfbank.com:9010/ZeoCustomer" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ZeoCustomerReg">
			<soap:operation soapAction="https://mn-zlxtwmba1.tcfbank.com:9010/ZeoCustomer" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ZeoCustomerTrax">
			<soap:operation soapAction="https://mn-zlxtwmba1.tcfbank.com:9010/ZeoCustomerTrax" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZeoCustomer">
		<wsdl:port name="ZeoCustomerSOAP" binding="tns:ZeoCustomer">
			<soap:address location="http://mn-zlxtwmba1.tcfbank.com:9010/ZeoCustomer/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
