ZEO/Zeo/CXN.Checks/ChexarIO/Web References/ChexarCustomerService/CustService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CompanyLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompanyLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompanyLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ITIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SSAN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HPhone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="BDay" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="MemberType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="BranchId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerAddResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KnownCustAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ITIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SSAN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HPhone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="BDay" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="MemberType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="BranchId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="KnownCust" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KnownCustAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KnownCustAddResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerAddAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ITIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SSAN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BDay" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="GALicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BranchId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MemberType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Occupation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Employer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmergContact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmergPhone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc1Type" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc1IssuedFor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc1Date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc1No" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc2Type" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc2IssuedFor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc2Date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc2No" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ValueCardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustWorkEmpNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref1Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref1Tele" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref2Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref2Tele" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerAddAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerAddAllResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KnownCustAddAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ITIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SSAN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BDay" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="GALicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BranchId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MemberType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Occupation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Employer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmergContact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmergPhone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc1Type" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc1IssuedFor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc1Date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc1No" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc2Type" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc2IssuedFor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc2Date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc2No" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ValueCardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustWorkEmpNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref1Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref1Tele" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref2Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref2Tele" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="KnownCust" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KnownCustAddAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KnownCustAddAllResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerRAddAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ITIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SSAN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BDay" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="GALicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BranchId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MemberType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Occupation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Employer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmergContact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmergPhone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc1Type" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc1IssuedFor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc1Date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc1No" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc2Type" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc2IssuedFor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc2Date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc2No" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ValueCardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustWorkEmpNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref1Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref1Tele" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref2Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref2Tele" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AllowText" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerRAddAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerRAddAllResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ITIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HPhone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="BDay" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="OnHoldCodeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="BadgeNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerUpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerUpdateAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ITIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SSAN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BDay" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone2" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CountryId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="GALicense" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OnHoldCodeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MemberType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Occupation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Employer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmergContact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmergPhone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc1Type" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc1IssuedFor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc1Date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc1No" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc2Type" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc2IssuedFor" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc2Date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Doc2No" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ValueCardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustWorkEmpNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref1Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref1Tele" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref2Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref2Tele" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BadgeNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerUpdateAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerUpdateAllResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBadge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="badgeNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="searchTerm" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBadgeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchBadgeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCustId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="customerId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="allFields" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCustIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchCustIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCustName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="custfname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="custlname" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="allFields" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCustNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchCustNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCustBDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birthdate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="allFields" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCustBDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchCustBDayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountryList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountryListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnHoldCodeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnHoldCodeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OnHoldCodeListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberTypeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MemberTypeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MemberTypeListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocTypeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isPrimary" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocTypeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocTypeListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePhoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docbinaryarray" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="docname" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BadgeNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isPhoto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePhotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SavePhotoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentLen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocumentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentLenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDocumentLenResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocumentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CompanyLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CompanyLogin" />
  </wsdl:message>
  <wsdl:message name="CompanyLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CompanyLoginResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerAddSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerAdd" />
  </wsdl:message>
  <wsdl:message name="CustomerAddSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerAddResponse" />
  </wsdl:message>
  <wsdl:message name="KnownCustAddSoapIn">
    <wsdl:part name="parameters" element="tns:KnownCustAdd" />
  </wsdl:message>
  <wsdl:message name="KnownCustAddSoapOut">
    <wsdl:part name="parameters" element="tns:KnownCustAddResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerAddAllSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerAddAll" />
  </wsdl:message>
  <wsdl:message name="CustomerAddAllSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerAddAllResponse" />
  </wsdl:message>
  <wsdl:message name="KnownCustAddAllSoapIn">
    <wsdl:part name="parameters" element="tns:KnownCustAddAll" />
  </wsdl:message>
  <wsdl:message name="KnownCustAddAllSoapOut">
    <wsdl:part name="parameters" element="tns:KnownCustAddAllResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerRAddAllSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerRAddAll" />
  </wsdl:message>
  <wsdl:message name="CustomerRAddAllSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerRAddAllResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerUpdate" />
  </wsdl:message>
  <wsdl:message name="CustomerUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerUpdateAllSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerUpdateAll" />
  </wsdl:message>
  <wsdl:message name="CustomerUpdateAllSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerUpdateAllResponse" />
  </wsdl:message>
  <wsdl:message name="SearchBadgeSoapIn">
    <wsdl:part name="parameters" element="tns:SearchBadge" />
  </wsdl:message>
  <wsdl:message name="SearchBadgeSoapOut">
    <wsdl:part name="parameters" element="tns:SearchBadgeResponse" />
  </wsdl:message>
  <wsdl:message name="SearchCustIdSoapIn">
    <wsdl:part name="parameters" element="tns:SearchCustId" />
  </wsdl:message>
  <wsdl:message name="SearchCustIdSoapOut">
    <wsdl:part name="parameters" element="tns:SearchCustIdResponse" />
  </wsdl:message>
  <wsdl:message name="SearchCustNameSoapIn">
    <wsdl:part name="parameters" element="tns:SearchCustName" />
  </wsdl:message>
  <wsdl:message name="SearchCustNameSoapOut">
    <wsdl:part name="parameters" element="tns:SearchCustNameResponse" />
  </wsdl:message>
  <wsdl:message name="SearchCustBDaySoapIn">
    <wsdl:part name="parameters" element="tns:SearchCustBDay" />
  </wsdl:message>
  <wsdl:message name="SearchCustBDaySoapOut">
    <wsdl:part name="parameters" element="tns:SearchCustBDayResponse" />
  </wsdl:message>
  <wsdl:message name="CountryListSoapIn">
    <wsdl:part name="parameters" element="tns:CountryList" />
  </wsdl:message>
  <wsdl:message name="CountryListSoapOut">
    <wsdl:part name="parameters" element="tns:CountryListResponse" />
  </wsdl:message>
  <wsdl:message name="OnHoldCodeListSoapIn">
    <wsdl:part name="parameters" element="tns:OnHoldCodeList" />
  </wsdl:message>
  <wsdl:message name="OnHoldCodeListSoapOut">
    <wsdl:part name="parameters" element="tns:OnHoldCodeListResponse" />
  </wsdl:message>
  <wsdl:message name="MemberTypeListSoapIn">
    <wsdl:part name="parameters" element="tns:MemberTypeList" />
  </wsdl:message>
  <wsdl:message name="MemberTypeListSoapOut">
    <wsdl:part name="parameters" element="tns:MemberTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="DocTypeListSoapIn">
    <wsdl:part name="parameters" element="tns:DocTypeList" />
  </wsdl:message>
  <wsdl:message name="DocTypeListSoapOut">
    <wsdl:part name="parameters" element="tns:DocTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="SavePhotoSoapIn">
    <wsdl:part name="parameters" element="tns:SavePhoto" />
  </wsdl:message>
  <wsdl:message name="SavePhotoSoapOut">
    <wsdl:part name="parameters" element="tns:SavePhotoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLenSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentLen" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLenSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentLenResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocument" />
  </wsdl:message>
  <wsdl:message name="GetDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="CustServiceSoap">
    <wsdl:operation name="CompanyLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifies login information to access web methods</wsdl:documentation>
      <wsdl:input message="tns:CompanyLoginSoapIn" />
      <wsdl:output message="tns:CompanyLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerAdd">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a customer with limited info to the database and returns customer badge #</wsdl:documentation>
      <wsdl:input message="tns:CustomerAddSoapIn" />
      <wsdl:output message="tns:CustomerAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KnownCustAdd">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a customer with limited info to the database and returns customer badge #</wsdl:documentation>
      <wsdl:input message="tns:KnownCustAddSoapIn" />
      <wsdl:output message="tns:KnownCustAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerAddAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a customer to the database and returns customer badge #</wsdl:documentation>
      <wsdl:input message="tns:CustomerAddAllSoapIn" />
      <wsdl:output message="tns:CustomerAddAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KnownCustAddAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a customer to the database and returns customer badge #</wsdl:documentation>
      <wsdl:input message="tns:KnownCustAddAllSoapIn" />
      <wsdl:output message="tns:KnownCustAddAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerRAddAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a customer to the database and returns customer name and badge #</wsdl:documentation>
      <wsdl:input message="tns:CustomerRAddAllSoapIn" />
      <wsdl:output message="tns:CustomerRAddAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerUpdate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates limited customer information</wsdl:documentation>
      <wsdl:input message="tns:CustomerUpdateSoapIn" />
      <wsdl:output message="tns:CustomerUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerUpdateAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates all customer information</wsdl:documentation>
      <wsdl:input message="tns:CustomerUpdateAllSoapIn" />
      <wsdl:output message="tns:CustomerUpdateAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchBadge">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for customer using the badge # or a specific search term</wsdl:documentation>
      <wsdl:input message="tns:SearchBadgeSoapIn" />
      <wsdl:output message="tns:SearchBadgeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCustID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves customer information using unique customer id</wsdl:documentation>
      <wsdl:input name="SearchCustId" message="tns:SearchCustIdSoapIn" />
      <wsdl:output name="SearchCustId" message="tns:SearchCustIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCustName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for customer using firstname and lastname</wsdl:documentation>
      <wsdl:input message="tns:SearchCustNameSoapIn" />
      <wsdl:output message="tns:SearchCustNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCustBDay">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for a customer using birthdate</wsdl:documentation>
      <wsdl:input message="tns:SearchCustBDaySoapIn" />
      <wsdl:output message="tns:SearchCustBDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountryList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns country and country id's</wsdl:documentation>
      <wsdl:input message="tns:CountryListSoapIn" />
      <wsdl:output message="tns:CountryListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OnHoldCodeList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns reasons to put customers on hold</wsdl:documentation>
      <wsdl:input message="tns:OnHoldCodeListSoapIn" />
      <wsdl:output message="tns:OnHoldCodeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MemberTypeList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns available membership types</wsdl:documentation>
      <wsdl:input message="tns:MemberTypeListSoapIn" />
      <wsdl:output message="tns:MemberTypeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DocTypeList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns available documents used for enrollment</wsdl:documentation>
      <wsdl:input message="tns:DocTypeListSoapIn" />
      <wsdl:output message="tns:DocTypeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePhoto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Uploads customer photo or id image</wsdl:documentation>
      <wsdl:input message="tns:SavePhotoSoapIn" />
      <wsdl:output message="tns:SavePhotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obsolete method (do not use)</wsdl:documentation>
      <wsdl:input message="tns:GetDocumentLenSoapIn" />
      <wsdl:output message="tns:GetDocumentLenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obsolete method (do not use)</wsdl:documentation>
      <wsdl:input message="tns:GetDocumentSoapIn" />
      <wsdl:output message="tns:GetDocumentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustServiceSoap" type="tns:CustServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CompanyLogin">
      <soap:operation soapAction="http://tempuri.org/CompanyLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerAdd">
      <soap:operation soapAction="http://tempuri.org/CustomerAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KnownCustAdd">
      <soap:operation soapAction="http://tempuri.org/KnownCustAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerAddAll">
      <soap:operation soapAction="http://tempuri.org/CustomerAddAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KnownCustAddAll">
      <soap:operation soapAction="http://tempuri.org/KnownCustAddAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerRAddAll">
      <soap:operation soapAction="http://tempuri.org/CustomerRAddAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerUpdate">
      <soap:operation soapAction="http://tempuri.org/CustomerUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerUpdateAll">
      <soap:operation soapAction="http://tempuri.org/CustomerUpdateAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBadge">
      <soap:operation soapAction="http://tempuri.org/SearchBadge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCustID">
      <soap:operation soapAction="http://tempuri.org/SearchCustId" style="document" />
      <wsdl:input name="SearchCustId">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchCustId">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCustName">
      <soap:operation soapAction="http://tempuri.org/SearchCustName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCustBDay">
      <soap:operation soapAction="http://tempuri.org/SearchCustBDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountryList">
      <soap:operation soapAction="http://tempuri.org/CountryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnHoldCodeList">
      <soap:operation soapAction="http://tempuri.org/OnHoldCodeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberTypeList">
      <soap:operation soapAction="http://tempuri.org/MemberTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocTypeList">
      <soap:operation soapAction="http://tempuri.org/DocTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePhoto">
      <soap:operation soapAction="http://tempuri.org/SavePhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLen">
      <soap:operation soapAction="http://tempuri.org/GetDocumentLen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <soap:operation soapAction="http://tempuri.org/GetDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustServiceSoap12" type="tns:CustServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CompanyLogin">
      <soap12:operation soapAction="http://tempuri.org/CompanyLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerAdd">
      <soap12:operation soapAction="http://tempuri.org/CustomerAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KnownCustAdd">
      <soap12:operation soapAction="http://tempuri.org/KnownCustAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerAddAll">
      <soap12:operation soapAction="http://tempuri.org/CustomerAddAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KnownCustAddAll">
      <soap12:operation soapAction="http://tempuri.org/KnownCustAddAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerRAddAll">
      <soap12:operation soapAction="http://tempuri.org/CustomerRAddAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerUpdate">
      <soap12:operation soapAction="http://tempuri.org/CustomerUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerUpdateAll">
      <soap12:operation soapAction="http://tempuri.org/CustomerUpdateAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBadge">
      <soap12:operation soapAction="http://tempuri.org/SearchBadge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCustID">
      <soap12:operation soapAction="http://tempuri.org/SearchCustId" style="document" />
      <wsdl:input name="SearchCustId">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchCustId">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCustName">
      <soap12:operation soapAction="http://tempuri.org/SearchCustName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCustBDay">
      <soap12:operation soapAction="http://tempuri.org/SearchCustBDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountryList">
      <soap12:operation soapAction="http://tempuri.org/CountryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnHoldCodeList">
      <soap12:operation soapAction="http://tempuri.org/OnHoldCodeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberTypeList">
      <soap12:operation soapAction="http://tempuri.org/MemberTypeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocTypeList">
      <soap12:operation soapAction="http://tempuri.org/DocTypeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePhoto">
      <soap12:operation soapAction="http://tempuri.org/SavePhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLen">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentLen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <soap12:operation soapAction="http://tempuri.org/GetDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustService">
    <wsdl:port name="CustServiceSoap" binding="tns:CustServiceSoap">
      <soap:address location="http://beta.chexar.net/webservice/CustService.asmx" />
    </wsdl:port>
    <wsdl:port name="CustServiceSoap12" binding="tns:CustServiceSoap12">
      <soap12:address location="http://beta.chexar.net/webservice/CustService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>