ZEO/ADO.NET/LatestDevelop/Zeo/Alloy/TCF.Zeo.Common.Monitor/Service References/ZeoService/ZeoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TCF.Zeo.Common.Util" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TCF.Zeo.Common.Util" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49404/ZeoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="Helper.AuthenticationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Authenticated">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TempPassword">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PasswordExpired">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Failed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LockedOut">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Disabled">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Helper.AuthenticationStatus" nillable="true" type="tns:Helper.AuthenticationStatus" />
  <xs:simpleType name="Helper.Language">
    <xs:restriction base="xs:string">
      <xs:enumeration value="English" />
      <xs:enumeration value="Spanish" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Helper.Language" nillable="true" type="tns:Helper.Language" />
  <xs:simpleType name="Helper.CheckEntryTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ScanWithImage">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ScanWithoutImage">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Manual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Helper.CheckEntryTypes" nillable="true" type="tns:Helper.CheckEntryTypes" />
  <xs:simpleType name="Helper.CashType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CashIn">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CashOut">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Helper.CashType" nillable="true" type="tns:Helper.CashType" />
  <xs:simpleType name="Helper.ProfileStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Inactive">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Closed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Helper.ProfileStatus" nillable="true" type="tns:Helper.ProfileStatus" />
  <xs:simpleType name="Helper.Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MALE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FEMALE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Helper.Gender" nillable="true" type="tns:Helper.Gender" />
  <xs:simpleType name="Helper.TaxIDCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="S">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="I">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Helper.TaxIDCode" nillable="true" type="tns:Helper.TaxIDCode" />
  <xs:simpleType name="Helper.FundType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Debit" />
      <xs:enumeration value="Credit" />
      <xs:enumeration value="Activation" />
      <xs:enumeration value="AddOnCard" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Helper.FundType" nillable="true" type="tns:Helper.FundType" />
  <xs:simpleType name="Helper.SearchRequestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Modify" />
      <xs:enumeration value="Refund" />
      <xs:enumeration value="RefundWithStage" />
      <xs:enumeration value="LookUp" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Helper.SearchRequestType" nillable="true" type="tns:Helper.SearchRequestType" />
  <xs:simpleType name="Helper.ShoppingCartCheckoutStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InitialCheckout">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CashOverCounter">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CashCollected">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FinalCheckout">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Completed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MOPrinting">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MOPrintingCancelled">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Helper.ShoppingCartCheckoutStatus" nillable="true" type="tns:Helper.ShoppingCartCheckoutStatus" />
  <xs:simpleType name="Helper.TransactionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Posted" />
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Denied" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Helper.TransactionStatus" nillable="true" type="tns:Helper.TransactionStatus" />
  <xs:simpleType name="Helper.DeliveryServiceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Method" />
      <xs:enumeration value="Option" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Helper.DeliveryServiceType" nillable="true" type="tns:Helper.DeliveryServiceType" />
  <xs:simpleType name="Helper.MoneyTransferType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Send">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Receive">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Refund">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Helper.MoneyTransferType" nillable="true" type="tns:Helper.MoneyTransferType" />
  <xs:simpleType name="Helper.FeeRequestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AmountExcludingFee" />
      <xs:enumeration value="AmountIncludingFee" />
      <xs:enumeration value="ReceiveAmount" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Helper.FeeRequestType" nillable="true" type="tns:Helper.FeeRequestType" />
</xs:schema>