ZEO/HotfixBranchCode/Zeo/CXN.Customer/Nexxo.Cxn.Customer.FIS/Service References/FISService/wsdlNexxoPolicy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s12="mtvnCWCIOpenIndvCustSvcRes" xmlns:tns="http://services.synovus.com/" xmlns:s13="mtvnCWCIOpenMiscAcctSvcReq" xmlns:tns0="http://services.soa.synovus.com/schemas/ApplicationKey" xmlns:s4="mtvnCWCICustInqSvcReq" xmlns:s0="mtvnCWCICustDueDiligenceSvcReq" xmlns:s8="mtvnCWCICustTaxNbrSrchSvcRes" xmlns:s10="mtvnCWCICustNameAddrMaintSvcRes" xmlns:s5="mtvnCWCICustInqSvcRes" xmlns:s1="mtvnCWCICustDueDiligenceSvcRes" xmlns:s9="mtvnCWCICustNameAddrMaintSvcReq" xmlns:s14="mtvnCWCIOpenMiscAcctSvcRes" xmlns:s6="http://xaware.com/xas/ns1/type" xmlns:s2="mtvnCWCICustDemogMaintSvcReq" xmlns:s11="mtvnCWCIOpenIndvCustSvcReq" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s7="mtvnCWCICustTaxNbrSrchSvcReq" xmlns:s3="mtvnCWCICustDemogMaintSvcRes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsdlNexxoPolicy" targetNamespace="http://services.synovus.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xa="http://xaware.com/xas/ns1" xmlns:tns="http://services.soa.synovus.com/schemas/ApplicationKey" xmlns:wsdlns="http://xaware.com/xas/ns1/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:typens="http://xaware.com/xas/ns1/type" elementFormDefault="qualified" targetNamespace="http://xaware.com/xas/ns1/type">
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd0" namespace="http://services.soa.synovus.com/schemas/ApplicationKey" />
    </xsd:schema>
    <xsd:schema xmlns:import0="mtvnCWCICustDueDiligenceSvcReq" xmlns:import1="mtvnCWCICustDueDiligenceSvcRes" xmlns:tns="mtvnCICustDueDiligenceWSV1" xmlns="http://schemas.xmlsoap.org/wsdl/">
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd1" namespace="mtvnCWCICustDueDiligenceSvcReq" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd3" namespace="mtvnCWCICustDueDiligenceSvcRes" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd5" namespace="mtvnCWCICustDemogMaintSvcReq" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd7" namespace="mtvnCWCICustDemogMaintSvcRes" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd9" namespace="mtvnCWCICustInqSvcReq" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd11" namespace="mtvnCWCICustInqSvcRes" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd13" namespace="mtvnCWCICustTaxNbrSrchSvcReq" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd15" namespace="mtvnCWCICustTaxNbrSrchSvcRes" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd17" namespace="mtvnCWCICustNameAddrMaintSvcReq" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd19" namespace="mtvnCWCICustNameAddrMaintSvcRes" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd21" namespace="mtvnCWCIOpenIndvCustSvcReq" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd23" namespace="mtvnCWCIOpenIndvCustSvcRes" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd25" namespace="mtvnCWCIOpenMiscAcctSvcReq" />
      <xsd:import schemaLocation="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy?xsd=xsd27" namespace="mtvnCWCIOpenMiscAcctSvcRes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CICustDueDiligenceMtvnSvcReqMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s0:CICustDueDiligenceMtvnSvcReq" />
  </wsdl:message>
  <wsdl:message name="CICustDueDiligenceMtvnSvcResMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s1:CICustDueDiligenceMtvnSvcRes" />
  </wsdl:message>
  <wsdl:message name="CICustDemogMaintMtvnSvcReqMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s2:CICustDemogMaintMtvnSvcReq" />
  </wsdl:message>
  <wsdl:message name="CICustDemogMaintMtvnSvcResMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s3:CICustDemogMaintMtvnSvcRes" />
  </wsdl:message>
  <wsdl:message name="CICustInqMtvnSvcReqMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s4:CICustInqMtvnSvcReq" />
  </wsdl:message>
  <wsdl:message name="CICustInqMtvnSvcResMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s5:CICustInqMtvnSvcRes" />
  </wsdl:message>
  <wsdl:message name="getApplInfo_synovus_soa_applicationkey_getAppKey_xbdExecuteRequest">
    <wsdl:part name="XMLInput" element="tns0:ApplicationKeyRequest" />
  </wsdl:message>
  <wsdl:message name="getApplInfo_synovus_soa_applicationkey_getAppKey_xbdExecuteResponse">
    <wsdl:part name="Response" element="tns0:ApplicationKeyResponse" />
  </wsdl:message>
  <wsdl:message name="CICustTaxNbrSrchMtvnSvcReqMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s7:CICustTaxNbrSrchMtvnSvcReq" />
  </wsdl:message>
  <wsdl:message name="CICustTaxNbrSrchMtvnSvcResMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s8:CICustTaxNbrSrchMtvnSvcRes" />
  </wsdl:message>
  <wsdl:message name="CICustNameAddrMaintMtvnSvcReqMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s9:CICustNameAddrMaintMtvnSvcReq" />
  </wsdl:message>
  <wsdl:message name="CICustNameAddrMaintMtvnSvcResMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s10:CICustNameAddrMaintMtvnSvcRes" />
  </wsdl:message>
  <wsdl:message name="CIOpenIndvCustMtvnSvcReqMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s11:CIOpenIndvCustMtvnSvcReq" />
  </wsdl:message>
  <wsdl:message name="CIOpenIndvCustMtvnSvcResMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s12:CIOpenIndvCustMtvnSvcRes" />
  </wsdl:message>
  <wsdl:message name="CIOpenMiscAcctMtvnSvcReqMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s13:CIOpenMiscAcctMtvnSvcReq" />
  </wsdl:message>
  <wsdl:message name="CIOpenMiscAcctMtvnSvcResMsg">
    <wsdl:documentation />
    <wsdl:part name="messagePart" element="s14:CIOpenMiscAcctMtvnSvcRes" />
  </wsdl:message>
  <wsdl:portType name="wsdlNexxoPolicy">
    <wsdl:operation name="CICustDueDiligence">
      <wsdl:documentation />
      <wsdl:input name="CICustDueDiligenceRequest1" message="tns:CICustDueDiligenceMtvnSvcReqMsg" />
      <wsdl:output name="CICustDueDiligenceResponse1" message="tns:CICustDueDiligenceMtvnSvcResMsg" />
    </wsdl:operation>
    <wsdl:operation name="CICustDemogMaint">
      <wsdl:documentation />
      <wsdl:input name="CICustDemogMaintRequest1" message="tns:CICustDemogMaintMtvnSvcReqMsg" />
      <wsdl:output name="CICustDemogMaintResponse1" message="tns:CICustDemogMaintMtvnSvcResMsg" />
    </wsdl:operation>
    <wsdl:operation name="CICustInq">
      <wsdl:documentation />
      <wsdl:input name="CICustInqRequest1" message="tns:CICustInqMtvnSvcReqMsg" />
      <wsdl:output name="CICustInqResponse1" message="tns:CICustInqMtvnSvcResMsg" />
    </wsdl:operation>
    <wsdl:operation name="synovus.soa.applicationkey.getAppKey.xbd">
      <wsdl:input name="synovus.soa.applicationkey.getAppKey.xbdRequest1" message="tns:getApplInfo_synovus_soa_applicationkey_getAppKey_xbdExecuteRequest" />
      <wsdl:output name="synovus.soa.applicationkey.getAppKey.xbdResponse1" message="tns:getApplInfo_synovus_soa_applicationkey_getAppKey_xbdExecuteResponse" />
    </wsdl:operation>
    <wsdl:operation name="CICustTaxNbrSrch">
      <wsdl:documentation />
      <wsdl:input name="CICustTaxNbrSrchRequest1" message="tns:CICustTaxNbrSrchMtvnSvcReqMsg" />
      <wsdl:output name="CICustTaxNbrSrchResponse1" message="tns:CICustTaxNbrSrchMtvnSvcResMsg" />
    </wsdl:operation>
    <wsdl:operation name="CICustNameAddrMaint">
      <wsdl:documentation />
      <wsdl:input name="CICustNameAddrMaintRequest1" message="tns:CICustNameAddrMaintMtvnSvcReqMsg" />
      <wsdl:output name="CICustNameAddrMaintResponse1" message="tns:CICustNameAddrMaintMtvnSvcResMsg" />
    </wsdl:operation>
    <wsdl:operation name="CIOpenIndvCust">
      <wsdl:documentation />
      <wsdl:input name="CIOpenIndvCustRequest1" message="tns:CIOpenIndvCustMtvnSvcReqMsg" />
      <wsdl:output name="CIOpenIndvCustResponse1" message="tns:CIOpenIndvCustMtvnSvcResMsg" />
    </wsdl:operation>
    <wsdl:operation name="CIOpenMiscAcct">
      <wsdl:documentation />
      <wsdl:input name="CIOpenMiscAcctRequest1" message="tns:CIOpenMiscAcctMtvnSvcReqMsg" />
      <wsdl:output name="CIOpenMiscAcctResponse1" message="tns:CIOpenMiscAcctMtvnSvcResMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsdlNexxoPolicy" type="tns:wsdlNexxoPolicy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CICustDueDiligence">
      <soap:operation soapAction="CICustDueDiligenceWSV1:CICustDueDiligenceMtvnSvcReqMsg" style="document" />
      <wsdl:input name="CICustDueDiligenceRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CICustDueDiligenceResponse1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CICustDemogMaint">
      <soap:operation soapAction="CICustDemogMaintWSV1:CICustDemogMaintMtvnSvcReqMsg" style="document" />
      <wsdl:input name="CICustDemogMaintRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CICustDemogMaintResponse1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CICustInq">
      <soap:operation soapAction="CICustInqWSV3:CICustInqMtvnSvcReqMsg" style="document" />
      <wsdl:input name="CICustInqRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CICustInqResponse1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synovus.soa.applicationkey.getAppKey.xbd">
      <soap:operation soapAction="http://xaware.com/xas/ns1/getApplInfo/action/synovus.soa.applicationkey.getAppKey.xbd" />
      <wsdl:input name="synovus.soa.applicationkey.getAppKey.xbdRequest1">
        <soap:body use="literal" parts="XMLInput" />
      </wsdl:input>
      <wsdl:output name="synovus.soa.applicationkey.getAppKey.xbdResponse1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CICustTaxNbrSrch">
      <soap:operation soapAction="CICustTaxNbrSrchWSV6:CICustTaxNbrSrchMtvnSvcReqMsg" style="document" />
      <wsdl:input name="CICustTaxNbrSrchRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CICustTaxNbrSrchResponse1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CICustNameAddrMaint">
      <soap:operation soapAction="CICustNameAddrMaintWSV3:CICustNameAddrMaintMtvnSvcReqMsg" style="document" />
      <wsdl:input name="CICustNameAddrMaintRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CICustNameAddrMaintResponse1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CIOpenIndvCust">
      <soap:operation soapAction="CIOpenIndvCustWSV4:CIOpenIndvCustMtvnSvcReqMsg" style="document" />
      <wsdl:input name="CIOpenIndvCustRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CIOpenIndvCustResponse1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CIOpenMiscAcct">
      <soap:operation soapAction="CIOpenMiscAcctWSV3:CIOpenMiscAcctMtvnSvcReqMsg" style="document" />
      <wsdl:input name="CIOpenMiscAcctRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CIOpenMiscAcctResponse1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsdlNexxoPolicy">
    <wsdl:port name="wsdlNexxoPolicy" binding="tns:wsdlNexxoPolicy">
      <soap:address location="https://xmlgw-qa.soa.synovus.com:443/wsdlNexxoPolicy" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>