ZEO/ADO.NET/LatestDevelop/Zeo/Alloy/TCF.Zeo.Cxn.Customer.TCF/WSDL/ZeoCustomer-IC-Proxy.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ZeoCustomerService" targetNamespace="www.tcfbank.zeoCustomerService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="www.tcfbank.zeoCustomerService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  <wsdl:types>
    <xsd:schema targetNamespace="www.tcfbank.zeoCustomerService" xmlns:mrm="www.tcfbank.zeoCustomerService">
<xsd:include schemaLocation="https://proxy.ic.local:443/TCF/mb/ZeoCustomerService?xsd=xsd0"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FindCustomer_in">
    <wsdl:part element="tns:ZeoFindCustomerRequest" name="ZeoFindCustomerRequest"/>
  </wsdl:message>
  <wsdl:message name="FindCustomer_out">
    <wsdl:part element="tns:ZeoFindCustomerResponse" name="ZeoFindCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="CustomerRegistration_in">
    <wsdl:part element="tns:ZeoCustomerRegRequest" name="ZeoCustomerRegRequest"/>
  </wsdl:message>
  <wsdl:message name="CustomerRegistration_out">
    <wsdl:part element="tns:ZeoCustomerRegResponse" name="ZeoCustomerRegResponse"/>
  </wsdl:message>
  <wsdl:message name="CustomerPostFlush_in">
    <wsdl:part element="tns:ZeoCustomerPostFlushRequest" name="ZeoCustomerPostFlushRequest"/>
  </wsdl:message>
  <wsdl:message name="CustomerPostFlush_out">
    <wsdl:part element="tns:ZeoCustomerPostFlushResponse" name="ZeoCustomerPostFlushResponse"/>
  </wsdl:message>
  <wsdl:message name="CustomerPreFlush_in">
    <wsdl:part element="tns:ZeoCustomerPreFlushRequest" name="ZeoCustomerPreFlushRequest"/>
  </wsdl:message>
  <wsdl:message name="CustomerPreFlush_out">
    <wsdl:part element="tns:ZeoCustomerPreFlushResponse" name="ZeoCustomerPreFlushResponse"/>
  </wsdl:message>
  <wsdl:portType name="ZeoCustomerService_MsgSetPortType">
    <wsdl:operation name="FindCustomer">
      <wsdl:input message="tns:FindCustomer_in" name="FindCustomer_Input"/>
      <wsdl:output message="tns:FindCustomer_out" name="FindCustomer_Output"/>
    </wsdl:operation>
    <wsdl:operation name="CustomerRegistration">
      <wsdl:input message="tns:CustomerRegistration_in" name="CustomerRegistration_Input"/>
      <wsdl:output message="tns:CustomerRegistration_out" name="CustomerRegistration_Output"/>
    </wsdl:operation>
    <wsdl:operation name="CustomerPostFlush">
      <wsdl:input message="tns:CustomerPostFlush_in" name="CustomerPostFlush_Input"/>
      <wsdl:output message="tns:CustomerPostFlush_out" name="CustomerPostFlush_Output"/>
    </wsdl:operation>
    <wsdl:operation name="CustomerPreFlush">
      <wsdl:input message="tns:CustomerPreFlush_in" name="CustomerPreFlush_Input"/>
      <wsdl:output message="tns:CustomerPreFlush_out" name="CustomerPreFlush_Output"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZeoCustomerService_MsgSetSOAP_HTTP_Binding" type="tns:ZeoCustomerService_MsgSetPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FindCustomer">
      <soap:operation soapAction="SOAP"/>
      <wsdl:input name="FindCustomer_Input">
        <soap:body parts="ZeoFindCustomerRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="FindCustomer_Output">
        <soap:body parts="ZeoFindCustomerResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerRegistration">
      <soap:operation soapAction="SOAP"/>
      <wsdl:input name="CustomerRegistration_Input">
        <soap:body parts="ZeoCustomerRegRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="CustomerRegistration_Output">
        <soap:body parts="ZeoCustomerRegResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerPostFlush">
      <soap:operation soapAction="SOAP"/>
      <wsdl:input name="CustomerPostFlush_Input">
        <soap:body parts="ZeoCustomerPostFlushRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="CustomerPostFlush_Output">
        <soap:body parts="ZeoCustomerPostFlushResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerPreFlush">
      <soap:operation soapAction="SOAP"/>
      <wsdl:input name="CustomerPreFlush_Input">
        <soap:body parts="ZeoCustomerPreFlushRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="CustomerPreFlush_Output">
        <soap:body parts="ZeoCustomerPreFlushResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZeoCustomer_Service">
    <wsdl:port binding="tns:ZeoCustomerService_MsgSetSOAP_HTTP_Binding" name="ZeoCustomer_Port">
      <soap:address location="https://proxy.ic.local:443/TCF/mb/ZeoCustomerService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>