ZEO/NHibernate/HotfixBranchCode/Zeo/CXN.Customer/Nexxo.Cxn.Customer.FIS/Service References/FISService/wsdlNexxoPolicy3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.soa.synovus.com/schemas/ApplicationKey" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://services.soa.synovus.com/schemas/ApplicationKey" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
      - Version 1.0 Inital Release.
      - Version 1.1 Moved data packet under MsgData element.  Change to make mapping easier.
    </xs:documentation>
  </xs:annotation>
  <xs:element name="ApplicationKeyRequest" type="tns:requestType" />
  <xs:element name="ApplicationKeyResponse" type="tns:responseType" />
  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="bankType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="channelType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="requestType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MsgID" type="tns:UUIDType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ApplKy" type="tns:UUIDType" />
      <xs:element minOccurs="1" maxOccurs="1" name="MetBankNumber" type="tns:bankType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ChannelKy" type="tns:channelType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MsgID" type="tns:UUIDType" />
      <xs:element minOccurs="1" maxOccurs="1" name="MsgData" type="tns:MsgDataType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Errors" type="tns:ArrayOfErrors" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MsgDataType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MetUsername" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MetPassword" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MetVendorID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfErrors">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ResponseMessage" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorList" type="tns:ArrayOfError" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfError">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Error" type="tns:ErrorInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Process" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReturnMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>